<section>
    <div class="mbox">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li><a href="#">Ритуальное агенство</a></li>
                <li><a href="#">Информация</a></li>
                <li><a href="#">Вопрос / Ответ</a></li>
            </ul>
        </div>
    </div>
</section>