<div class="footer">
    <nav class="menu">
        <ul>
            <li>
                <b>Мобильное приложение <br>«Честный агент»</b>
                <a href="https://itunes.apple.com/ru/app/%D1%87%D0%B5%D1%81%D1%82%D0%BD%D1%8B%D0%B9-%D0%B0%D0%B3%D0%B5%D0%BD%D1%82/id1393064640?l=ru&ls=1&mt=8" class="apple" target=_blank>Скачать в App Store</a> <a href="https://play.google.com/store/apps/details?id=ru.openagent.openagent" class="google" target=_blank>Скачать в Google Play</a>
                <br><br>
                <b>Ритуальные услуги</b>
                <ul>
                    <li><a href="">Ритуальные услуги</a></li>
                    <li><a href="">Вызов ритуального агента</a></li>
                    <li><a href="">Организация похорон</a></li>
                    <li><a href="">Прощальные залы</a></li>
                    <li><a href="">Оформление документов</a></li>
                    <li><a href="">Груз-200</a></li>
                    <li><a href="">Ритуальный транспорт</a></li>
                    <li><a href="">Кредитование</a></li>
                    <li><a href="">Страхование</a></li>
                </ul>
            </li>
            <li>
                <b>Крематорий</b>
                <ul>
                    <li><a href="">Крематорий</a></li>
                    <li><a href="">Кремация</a></li>
                    <li><a href="">Захоронение урны</a></li>
                    <li><a href="">Урны для праха. Каталог</a></li>
                    <li><a href="">Прощальные залы</a></li>
                    <li><a href="">Видеонекролог</a></li>
                </ul>
                <br>
                <b>Интернет-магазин <br>ритуальных товаров</b>
                <ul>
                    <li><a href="" title="Похороны. Пакетные предложения">Похороны. Пакетные предложения</a></li>
                    <li><a href="" title="Ритуальные товары">Ритуальные товары</a></li>
                    <li><a href="" title="Гробы">Гробы</a></li>
                    <li><a href="" title="Памятники">Памятники</a></li>
                    <li><a href="" title="Ограды">Ограды</a></li>
                    <li><a href="" title="Интернет-магазин ритуальных услуг">Интернет-магазин ритуальных услуг</a></li>
                </ul>
            </li>
            <li>
                <b>Кладбища и учреждения</b>
                <ul>
                    <li><a href="">Кладбища Москвы и <br>Московской области</a></li>
                    <li><a href="">Колумбарии</a></li>
                    <li><a href="">Морги</a></li>
                    <li><a href="">МКУ по похоронному делу</a></li>
                    <li><a href="">МФЦ Москвы</a></li>
                    <li><a href="">МФЦ Московской области</a></li>
                </ul>
                <br>
                <b>Важно</b>
                <ul>
                    <li><a href="">Что делать, если умер человек</a></li>
                    <li><a href="">Куда звонить, если умер человек</a></li>
                    <li><a href="">Документы, необходимые для похорон</a></li>
                    <li><a href="">Пособие на похороны</a></li>
                    <li><a href="">Религиозные обряды</a></li>
                    <li><a href="">Вопрос/ответ</a></li>
                    <li><a href="">Блог</a></li>
                </ul>
            </li>

            <li>
                <b>Мой «Честный агент»</b>
                <ul>
                    <li><a href="#">Рекомендации</a></li>
                    <li><a href="#">Калькулятор похорон</a></li>
                    <li><a href="#">Календарь поминок</a></li>
                    <li><a href="#">Вы смотрели</a></li>
                </ul>
                <br>
                <b>Для партнёров</b>
                <ul>
                    <li><a href="">Сотрудничество</a></li>
                    <li><a href="">Ритуальным агентам</a></li>
                    <li><a href="">Ритуальным компаниям</a></li>
                    <li><a href="">Поставщикам</a></li>
                    <li><a href="">Подрядчикам</a></li>
                    <li><a href="">Прощальным залам</a></li>
                    <li><a href="">IT решения</a></li>
                    <li><a href="">Оптовый каталог</a></li>
                </ul>
            </li>

            <li>
                <b>О компании</b>
                <ul>
                    <li><a href="">О нас</a></li>
                    <li><a href="">Ритуальные агенты. Команда</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Вакансии</a></li>
                    <li><a href="">Новости компании</a></li>
                    <li><a href="">Пресс-центр</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<footer class="copyright">
    <div class="flex-center flex">
        <div class="copy-url">
            &copy; 1994 - 2019 Честный Агент. <br class="mobile">Все права защищены.
            <br><br><a href="/documents/user-agreement/">Пользовательское соглашение</a> | <a href="/documents/privacy-policy/">Политика конфиденциальности</a> | <a href="/copyright-report/">Сообщить о нарушении авторских прав</a> | <a href="/ritualnaya-komplaniya/gost-na-ritualnye-uslugi/">Сертификаты ГОСТ</a> | <a href="/pay.php">Оплата картой</a> | <a href="/doc.php">Документация</a> | <a href="/support/">Служба поддержки</a>
        </div>
        <div class="social">
            <a href="https://vk.com/openagent" class="vkontakte" title="Честный Агент в ВКонтакте">ВКонтакте</a>
            <a href="https://www.facebook.com/openagent.ru/" class="facebook" title="Честный Агент в Facebook">Facebook</a>
            <a href="https://www.youtube.com/channel/UClMUuenblj2Kb0Wm7wNEMaw" class="youtube" title="Канал Честный Агент в YouTube">YouTube</a>
            <a href="https://ok.ru/group/54764899270778" class="odnoklassniki" title="Честный Агент в соцсети Одноклассники">Одноклассники</a>
            <a href="https://www.instagram.com/openagentofficial/" class="instagram" title="Честный Агент в Instagram">Instagram</a>
        </div>
        <div class="phone-number">
            <a onclick="yaCounter37034900.reachGoal('click-phone'); gtag('event', 'click', { 'event_category': 'phonenumber' }); return true;" href="" class="phone">8 (495) 150-21-12</a>
        </div>
    </div>
</footer>