
<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/dev.css">
<link rel="stylesheet" href="css/dev2.css">
<link rel="stylesheet" href="css/openagent_template_styles.css">
<link rel="stylesheet" href="css/openagent_styles.css">


<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<!--<script src="js/jquery-2.0.0/jquery.min.js"></script>-->
<script src="_js/main.js"></script>
<script src="_js/calc.js"></script>
<script src="_js/slick.js"></script>
<script src="_js/fancybox/jquery.fancybox.min.js"></script>
<script src="_js/pay.js"></script>
<script src="_js/blazy.min.js"></script>
<script>
    ;(function() {
        // Initialize
        var bLazy = new Blazy();
    })();
</script>
<script>
    $(function(){
        $(".hamburger-new").click(function () {
            console.log('lel');
            $(this).toggleClass("active");
            $(".nav-expand").toggleClass("active");
        });
        $(".click").click(function () {
            $(".click").removeClass("active");
            $(this).toggleClass("active");
        });
        $("section .show-full").click(function () {
            $(this).toggleClass("active");
            $(this).parent().children(".feedback-text").toggleClass("active");
        });
        $(".job-description .show-full").click(function () {
            $(this).toggleClass("active");
            $(this).parent().children(".full-desc").toggleClass("active");
        });
        /* general menu */
        var menuOpened, sectionTitle;
        $('.header-menu-links').hover(function(){}, function () {
            if (menuOpened) menuOpened.hide();
            if (sectionTitle) sectionTitle.removeClass('hover');
        });
        $('.header-menu-links > li').hover(
            function () {
                if (menuOpened) menuOpened.hide();
                if (sectionTitle) sectionTitle.removeClass('hover');
                menuOpened = $(this).find('ol');
                sectionTitle = $(this).find('> a');
                sectionTitle.addClass('hover');
                menuOpened.show();
            });
    });
</script>

<!-- Yandex.Metrika counter -->
<script>
    var yaParams = {ip: "<? echo $ip;?>"};
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37034900 = new Ya.Metrika({
                    id:37034900,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    params:window.yaParams,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37034900" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '611769362532573');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" alt="" style="display:none"
               src="https://www.facebook.com/tr?id=611769362532573&ev=PageView&noscript=1"
/></noscript>

<script>
    fbq('track', 'ViewContent');
</script>
<!-- End Facebook Pixel Code -->
<!-- VK pixel -->
<script>!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-270382-aC3Ff"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-270382-aC3Ff" style="position:fixed; left:-999px;" alt=""/></noscript>

<script>
    var revision = 11232917;
    var file = 'images/sprite.svg';
</script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/slick.js"></script>
<script src="js/base.js"></script>
<script src="js/dev.js"></script>
<script src="js/dev2.js"></script>