<header>
    <div class="h-logo"><a href="/" title="«Честный Агент» - Ритуальное агентство полного цикла" class="logo-openagent">Честный Агент <span>Рядом в трудную минуту</span><span class="mobile">Ритуальное агентство полного цикла <br>в Москве и Московской области</span></a></div>
    <div class="h-text"><strong>Ритуальное агентство полного цикла <br>в Москве и Московской области</strong></div>
    <div class="h-phone"><a onclick="yaCounter37034900.reachGoal('click-phone'); gtag('event', 'click', { 'event_category': 'phonenumber' }); return true;" href="tel:" title="Звоните круглосуточно">8 (495) 150 21 12</a><br><span>Круглосуточный колл-центр</span></div>
    <div class="h-callme"><a class="b24-web-form-popup-btn-16" onclick="yaCounter37034900.reachGoal('click-callme'); gtag('event', 'call', { 'event_category': 'services' }); return true;">Заказать звонок</a></div>
</header>