<nav role="navigation" class="head">
    <a class="hamburger-new">Навигация по сайту</a>
    <ul class="nav-expand flex">
        <li>
            <a href="/ritualnaya-komplaniya/" title="О компании" class="hover">О компании</a>
            <a title="О компании" class="touch">О компании</a>
            <ul>
                <li><a href="/ritualnaya-komplaniya/">О нас</a>
                <li><a href="/ritualnaya-komplaniya/ritualnye-agenty-v-Moskve-i-oblasti/">Ритуальные агенты. Команда</a>
                <li><a href="/ritualnaya-komplaniya/otzyvy/">Отзывы</a>
                <li><a href="/ritualnaya-komplaniya/vakansii-v-ritualnom-agentstve/">Вакансии</a>
                <li><a href="/ritualnaya-komplaniya/press-tsentr/">Пресс центр</a>
                <li><a href="/ritualnaya-komplaniya/novosti-kompanii/">Новости компании</a>
            </ul>
        </li>
        <li>
            <a href="/ritualnye-uslugi/" title="Ритуальные услуги" class="hover">Ритуальные услуги</a>
            <a title="Ритуальные услуги" class="touch">Ритуальные услуги</a>
            <ul>
                <li><a href="/ritualnye-uslugi/" title="Ритуальные услуги" class="touch">Ритуальные услуги</a></li>
                <li><a href="/ritualnye-uslugi/vyzvat-ritualnogo-agenta/" title="Вызов ритуального агента">Вызвать ритуального агента</a></li>
                <li><a href="/ritualnye-uslugi/organizatsiya-pohoron/" title="Организация похорон">Организация похорон</a></li>
                <li><a href="https://shop.openagent.ru/" title="Ритуальные товары">Ритуальные товары</a></li>
                <li><a href="/dlya-klientov/proschalnye-zaly/" title="Прощальные залы">Прощальные залы</a></li>
                <li><a href="/ritualnye-uslugi/oformlenie-documentov/" title="Оформление документов">Оформление документов</a></li>
                <li><a href="/ritualnye-uslugi/ritualnyj-transport/gruz-200/" title="Груз-200">Груз-200</a></li>
                <li><a href="/ritualnye-uslugi/ritualnyj-transport/" title="Ритуальный транспорт">Ритуальный транспорт</a></li>
                <li><a href="/ritualnye-uslugi/kredit-na-pohorony/" title="Кредитование">Кредит на похороны</a></li>
                <li><a href="/ritualnye-uslugi/strahovanie-pamyatnikov/" title="Страхование">Страхование памятников</a></li>
            </ul>
        </li>
        <li>
            <a href="/dlya-klientov/krematorij/" title="Крематорий" class="hover">Крематорий</a>
            <a title="Крематорий" class="touch">Крематорий</a>
            <ul>
                <li><a href="/dlya-klientov/krematorij/" class="touch" title="Крематорий">Крематорий</a></li>
                <li><a href="/ritualnye-uslugi/krematsiya/" title="Кремация">Кремация</a></li>
                <li><a href="/ritualnye-uslugi/krematsiya/zahoronenie-urny-dlya-praha/" title="Захоронение урны">Захоронение урны</a></li>
                <li><a href="https://shop.openagent.ru/urny-dlya-praha/" title="Урны для праха. Каталог">Урны для праха. Каталог</a></li>
                <li><a href="/dlya-klientov/proschalnye-zaly-Moskvy-i-oblasti/" title="Прощальные залы">Прощальные залы</a></li>
                <li><a href="/ritualnye-uslugi/videonekrolog/" title="Видеонекролог">Видеонекролог</a></li>
            </ul>
        </li>
        <li>
            <a title="Цены">Цены</a>
            <ul>
                <li><a href="#" title="Похороны. Пакетные предложения">Похороны. Пакетные предложения</a></li>
                <li><a href="https://shop.openagent.ru/" title="Ритуальные товары">Ритуальные товары</a></li>
                <li><a href="https://shop.openagent.ru/groby/" title="Гробы">Гробы</a></li>
                <li><a href="https://shop.openagent.ru/pamyatnik-na-mogilu/" title="Памятники">Памятники</a></li>
                <li><a href="https://shop.openagent.ru/ograda-na-mogilu/" title="Ограды">Ограды</a></li>
                <li><a href="#" title="Интернет-магазин ритуальных услуг">Интернет-магазин ритуальных услуг</a></li>
            </ul>
        </li>
        <li>
            <a title="Кладбища и учреждения">Кладбища и учреждения</a>
            <ul>
                <li><a href="/dlya-klientov/kladbischa-Moskvy-i-oblasti/" title="Кладбища">Кладбища</a></li>
                <li><a href="/dlya-klientov/kolumbarii/" title="Колумбарии">Колумбарии</a></li>
                <li><a href="/dlya-klientov/morgi-Moskvy-i-Moskovskoj-oblasti/" title="Морги">Морги</a></li>
                <li><a href="/dlya-klientov/munitsypalnye-kazennye-uchrezhdeniya-po-pohoronnomu-delu/" title="МКУ по похоронному делу">МКУ по похоронному делу</a></li>
                <li><a href="/dlya-klientov/mnogofunktsyanalnye-tsentry/" title="МФЦ">МФЦ</a></li>
                <li><a href="/vopros-otvet/chto-delat-v-sluchae-smerti-blizkogo-cheloveka/" title="Куда звонить, если умер человек">Куда звонить, если умер человек</a></li>
            </ul>
        </li>
        <li>
            <a title="Информация">Информация</a>
            <ul>
                <li><a href="/vopros-otvet/chto-delat-v-sluchae-smerti-blizkogo-cheloveka/" title="Что делать, если умер человек">Что делать, если умер человек</a></li>
                <li><a href="/vopros-otvet/posobie-na-pohorony/" title="Пособие на похороны">Пособие на похороны</a></li>
                <li><a href="/vopros-otvet/religioznye-obryady/" title="Религиозные обряды">Религиозные обряды</a></li>
                <li><a href="/vopros-ovet/" title="Вопрос/ответ">Вопрос/ответ</a></li>
                <li><a href="/vopros-ovet/documenty-neobhodimye-dlya-pohoron/" title="Документы, необходимые для похорон">Документы, необходимые для похорон</a></li>
                <li><a href="https://journal.openagent.ru/" target="_blank" title="Блог">Блог</a></li>
            </ul>
        </li>
        <li>
            <a title="Для партнеров">Для партнеров</a>
            <ul>
                <li><a href="/sotrudnichestvo/" title="Сотрудничество">Сотрудничество</a></li>
                <li><a href="/sotrudnichestvo/stat-ritualnym-agentom/" title="Сотрудничество">Ритуальным агентам</a></li>
                <li><a href="/sotrudnichestvo/ritualnym-kompaniyam/" title="Ритуальным компаниям">Ритуальным компаниям</a></li>
                <li><a href="/sotrudnichestvo/postavschikam-ritualnyh-tovarov/" title="Поставщикам">Поставщикам</a></li>
                <li><a href="/sotrudnichestvo/podryadchikam/" title="Подрядчикам">Подрядчикам</a></li>
                <li><a href="/sotrudnichestvo/proschalnym-zalam/" title="Прощальным залам">Прощальным залам</a></li>
                <li><a href="/sotrudnichestvo/optovyj-katalog/" title="Оптовый каталог">Оптовый каталог</a></li>
                <li><a href="/ERP/rus/" title="IT-решения">IT-решения</a></li>
            </ul>
        </li>
        <li>
            <a href="/ritualnaya-komplaniya/kontakty-ritualnogo-agentstva/" title="Контакты">Контакты</a>
        </li>
        <li>
            <a href="#" title="Оформить заказ" class="nav__cart">Оформить заказ</a>
        </li>
    </ul>
</nav>