//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2>О компании “Честный Агент”</h2>
        </div>
        <section class="about">
            <div class="about__man">
                <div class="silver-bg">
                    <div class="flexible-width padding-overall right-image-block">
                        <p>
                        Мы разделяем с нашими клиентами бремя самого тяжелого момента в жизни. Нам важно достойно и деликатно предоставлять услуги по организации и сопровождению всего ритуального процесса.</p>
                        <p>
                        Наша цель - изменить рынок и максимально упростить похоронный процесс. Мы создаем качественно новый подход - честный и удобный для граждан, прозрачный и контролируемый для государства.</p>
                        <div class="about__who">
                            <p>директор по развитию</p>
                            <span>Павел Сосновый</span>
                        </div>
                    </div>
                    <div class="image-right b-lazy b-error" style="background-image: url('images/man.png')"></div>
                </div>
            </div>
            <div class="about__mission green-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Миссия и философия компании</h2>
                    <p>Наша миссия - формирование новой культуры окончания жизни.</p>
                    <p>Мы нацелены на предложение доступных и качественных услуг, выстраивание прозрачных финансовых схем, использование современных технологий, построение честных и открытых отношений с партнерами, проявление заботы и внимательности к родственникам усопших.</p>
                </div>
            </div>
            <div class="about__items">
                <div class="mbox">
                    <div class="about__box">
                        <div class="about__itm">
                            <div class="agency">
                                <div class="agency__img">
                                    <img src="images/labe_1.png" alt="">
                                </div>
                                <div class="agency__name">
                                    <span>Ритуальное агентство полного цикла ”Честный Агент”</span>
                                </div>
                                <div class="agency__text">
                                    <span>“Честный Агент” - сертифицированная компания по оказанию ритуальных услуг в Москве и Московской области.</span>
                                </div>
                                <div class="agency__link">
                                    <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="about__itm">
                            <div class="agency">
                                <div class="agency__img">
                                    <img src="images/urn_6.png" alt="">
                                </div>
                                <div class="agency__name">
                                    <span>Крематорий и морг”Честный Агент”</span>
                                </div>
                                <div class="agency__text">
                                    <span>Единственный полностью автоматизи- рованный крематорий с электронной очередью, синхронизированный с IT приложением “Честный Агент”. Самый модернизированный в Московской области.</span>
                                </div>
                                <div class="agency__link">
                                    <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="about__itm">
                            <div class="agency">
                                <div class="agency__img">
                                    <img src="images/labe_3.png" alt="">
                                </div>
                                <div class="agency__name">
                                    <span>IT решения“Честный Агент”</span>
                                </div>
                                <div class="agency__text">
                                    <span>Съемка квардрокоптерами, IT платформа для заказа похорон, платформа для управления крематорием - мы флагманы на рынке ритуальных услуг.</span>
                                </div>
                                <div class="agency__link">
                                    <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__why silver-bg">
                <div class="mbox">
                    <h2 class="new-title">Почему нам доверяют организацию похорон</h2>
                </div>
            </div>
            <div class="about__partners border-bottom">
                <div class="mbox">
                    <h2 class="new-title">Партнеры</h2>
                    <div class="sub-head"><span>С нами сотрудничают крупные банки и страховые компании</span></div>
                    <div class="partners__box">
                        <div class="partners__item">
                            <a href="#" class="partners__link">
                                <img src="images/logo_1.png" alt="">
                            </a>
                        </div>
                        <div class="partners__item">
                            <a href="#" class="partners__link">
                                <img src="images/logo_2.jpg" alt="">
                            </a>
                        </div>
                        <div class="partners__item">
                            <a href="#" class="partners__link">
                                <img src="images/logo_3.jpg" alt="">
                            </a>
                        </div>
                        <div class="partners__item">
                            <a href="#" class="partners__link">
                                <img src="images/logo_4.jpg" alt="">
                            </a>
                        </div>
                        <div class="partners__item">
                            <a href="#" class="partners__link">
                                <img src="images/logo_5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__certificates">
                <div class="mbox">
                    <div class="certificates__box">
                        <h2 class="new-title">Партнеры</h2>
                        <div class="certificates__sub">
                            <span>«Честный Агент» — это ритуальное агентство с опытом работы более 25 лет,
                            наша организация сертифицирована РосСтандартом, наши агенты прошли
                            специализированые курсы для  ритуальных агентов и постоянно повышают
                            квалификацию, проходя аттестацию.</span>
                        </div>

                        <div class="certificates">
                            <div class="certificates__item">
                                <div class="certificates__img">
                                    <img src="images/certificate_1.png" alt="">
                                </div>
                            </div>
                            <div class="certificates__item">
                                <div class="certificates__img">
                                    <img src="images/certificate_2.jpg" alt="">
                                </div>
                            </div>
                            <div class="certificates__item">
                                <div class="certificates__img">
                                    <img src="images/certificate_3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="certificates__sub">
                            <span>Сертификаты «Росстандарт»</span>
                        </div>
                        <div class="certificates__under">
                            <span>Ежедневно ритуальные агенты нашей компании выезжают на дом для оформления документов и похорон.
    Нам доверили проводить в последний путь  уже более 20 000 человек.  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__decimals background-silver">
                <div class="mbox">
                    <div class="flexible-width padding-overall">
                        <h2 class="new-title">Статистика маленькие круги</h2>
                        <ul class="padding-overall flex stats small">
                            <li>
                                <b>700-900</b> <span>кремаций <br>ежемесячно</span>
                            </li>
                            <li>
                                <b>1650</b> <span>установленных памятников ежегодно</span>
                            </li>
                            <li>
                                <b>1700</b> <span>обслуженных клиентов ежемесячно</span>
                            </li>
                            <li>
                                <b>11500</b> <span>договоров оформленных через веб-приложение</span>
                            </li>
                            <li>
                                <b>16000</b> <span>заключенных договоров</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about__response">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Социальная ответственность</h2>
                    <p>Наша компания ориентирована на создание условий развития общества в отношении окончания жизни. Мы информируем население, как вести себя и что нужно знать, когда умер близкий человек и нужно организовать его похороны. Мы стремимся максимально оградить человека, находящегося в трудной ситуации и переживающего горе утраты, от бюрократической волокиты оформления документов и необходимости обращаться во всевозможные инстанции и организации. Мы создали IT-продукт, который позволяет, не выходя из дома, оформить организацию похорон за 15-20 минут. Мы оградили наших клиентов от необходимости доплат и скрытых платежей. Благодаря веб-платформе клиент изначально знает полную стоимость покупаемых услуг. При этом, устраняя низовую коррупцию, налоговые органы получают в казну налоги. Также наши инициативы направлены на повышение профессиональной квалификации персонала, привлечение внимания к проблеме загрязнения окружающей среды. Мы стремимся оказывать помощь обществу после природных катаклизмов (очищение территорий кладбищ после ураганов).</p>
                </div>
            </div>
            <div class="about__book">
                <div class="green-bg">
                    <div class="flexible-width padding-overall right-image-block">
                        <h2 class="new-title new-title--left">Этический кодекс компании «Честный агент»</h2>
                        <p>
                            Компания «Честный агент» придерживается высочайших этических норм в своей работе. Главными нашими ценностями мы определяем ведение дел добропорядочно, избегая нечестной конкуренции или других незаконных или неэтичных действий.</p>
                    </div>
                    <div class="image-right b-lazy b-error" style="background-image: url('images/book.png')"></div>
                </div>
            </div>
            <div class="about__history silver-bg">
                <div class="mbox">
                    <h2 class="new-title">Этический кодекс компании «Честный агент»</h2>
                    <div class="history">
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Создание компании</span>
                                </div>
                            </div>
                        </div>
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Запуск IT-платформы”Честный Агент” ипервые захоронения</span>
                                </div>
                            </div>
                        </div>
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Оплатабанковской картойчерез мобильнуюплатформу</span>
                                </div>
                            </div>
                        </div>
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Первый офискомпании</span>
                                </div>
                            </div>
                        </div>
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Запуск первых онлайн касс</span>
                                </div>
                            </div>
                        </div>
                        <div class="history__item">
                            <div class="history__box">
                                <div class="history__place"></div>
                                <div class="history__date">
                                    <span>12.04.2016</span>
                                </div>
                                <div class="history__text">
                                    <span>Первый электронный заказна услуги крематория</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__galery">
                <div class="mbox">
                    <h2 class="new-title">Фото и видео о “Честном Агенте”</h2>
                    <div class="galery">
                        <div class="galery__col">
                            <div class="galery__item">
                                <div class="galery__img">
                                    <img src="images/house.png" alt="">
                                </div>
                                <div class="galery__link">
                                    <a href="" class="ico-arrow-green a-playfair">Видеогалерея</a>
                                </div>
                            </div>
                        </div>
                        <div class="galery__col">
                            <div class="galery__item">
                                <div class="galery__img">
                                    <img src="images/house.png" alt="">
                                </div>
                                <div class="galery__link">
                                    <a href="" class="ico-arrow-green a-playfair">Видеогалерея</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>