//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Крематорий «Честный Агент»</h2>
        </div>
        <section class="agent">
            <div class="agent__top">
                <div class="mbox">
                    <div class="agent__address">
                        <div class="agent__col">
                            <p><b>Адрес крематория:</b></p>
                            <p>Московская область, город Балашина, микрорайон Салтыковка, улица Окольная, дом 6к3 (<a
                                    href="#"> как добраться</a>) <br> Телефон: 8 (495) 150-21-12</p>

                        </div>
                        <div class="agent__col">
                            <p><b>Режим работы крематория:</b></p>
                            <p>Ежедневно с 9:00 до 18:00 без выходных <br> Морг и пункт приема заказов на ритуальные услуги: круглосуточно.
                                <br> Телефон: 8 (495) 150-21-12</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__new" style="background-image: url('images/house.png');">
                <div class="flexible-width padding-overall request-call">
                    <div class="box box-call">
                        <h2>Стоимость кремации: <br> 15200 рублей</h2>
                        <div class="agent__chirk">
                            <p>Стоимость полного пакета услуг по кремации</p>
                        </div>
                        <p>Заказать услугу кремации по телефону:</p>
                        <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                        Или оставьте заявку и мы Вам перезвоним
                        <a href="" class="button">Вызвать агента</a>
                    </div>


                </div>
            </div>
            <div class="agent__noso">
                <div class="mbox">
                    <div class="agent__texts border-bottom">
                        <h2 class="bottom-line">Крематорий «Честный Агент» <br> (Носовихинский крематорий)</h2>
                        <p>Крематорий построен в 1998 году и является самым новым крематорием в Москве.</p>
                       <p> Крематорий располагает тремя прощальными залами, моргом (останкохранилищем), рядом с крематорием расположен магазин (шоурум) ритуальных товаров, где можно выбрать урны для праха. Работа Крематория полностью автоматизирована. Оформление заказов на кремацию производится через единую информационную систему (оформление в электронном виде). Если раньше клиентам приходилось заполнять вводные данные на кремацию несколько раз и вручную, то сейчас вся работа занимает не больше 10-15 минут.</p>
                         <p>Церемонии прощания (панихиды) в ритуальных залах проводятся как рабочие дни, так и в выходные. Предусмотрена возможность проведения панихиды и в вечернее время. Для удобства клиентов в крематории установлено табло с электронной очередью.</p>
                          <p>Останкохранилище (вместимостью до 150 тел) осуществляет выдачу тел не только в рабочие, но и в выходные (государственные морги выдачу тел производят только в рабочие дни). Предоставляются санитарские услуги.</p>
                           <p> Появилась возможность проведения церемоний прощания в вечерние часы.</p>
                           <p> Для заказа услуг крематория обращайтесь в круглосуточный колл-центр по номеру: 8 (495) 150 21 12</p>
                    </div>
                </div>
            </div>
            <div class="agent__items">
                <div class="mbox">
                    <div class="agent__box">

                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Услуги кремации</strong>
                            <span>Кремация включает комплекс услуг крематория, организацию прощания в ритуальных залах, предоставление специальной капсулы для хранения праха. Услуги кремации предоставлены в нескольких вариантах.</span>
                            <a href="" class="ico-arrow-green a-playfair">Стоимость кремации 15200 рублей</a>


                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Хранение урны с прахом в крематории</strong>
                            <span>Предусмотрена услуга хранения урны с прахом в Крематории сроком до 40 дней (бесплатно) и сроком до 13 месяцев (за дополнительную плату).Данная услуга рассчитана, что проведение похорон может быть отложено во времени.</span>
                            <a href="" class="ico-arrow-green a-playfair">Стоимость хранения урны 12345 рублей</a>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Захоронение урны в колумбарии</strong>
                            <span>Организация захоронения урны с прахом умершего в колембарии после кремации, включая все дополнительные услуги с установкой мемориальной таблички с гравировкой данных умершего</span>
                            <a href="" class="ico-arrow-green a-playfair">Узнать стоимость</a>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Захоронение урны с прахом в землю</strong>
                            <span>Организация захоронения урны с прахом умершего после кремации традиционныс способом - в землю. Наши специалисты помогут Вам подобрать место на кладбище.</span>
                            <a href="" class="ico-arrow-green a-playfair">Узнать стоимость</a>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Изготовление видеонекролога за 1 час</strong>
                            <span>Услуги по созданию мини-фильмов об умершем, которые могут быть использованы для трансляции в ритуальном зале во время проведения панихиды и для домашнего просмотра (9 дней, 40 дней и нагодовщину)</span>
                            <a href="" class="ico-arrow-green a-playfair">Стоимость 2500 рублей</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="agent__between">
                <div class="flex colored">
                    <div class="background-green">
                        <div class="content padding-overall">
                            <h2>Что нужно знать о кремации</h2>
                            <p>Современная кремация - высокотехнологичный процесс, проводимый с помощью специальных печей и регулируемый электроникой. Несмотря на простоту технологии все не так однозначно.</p>
                            <a href="#" class="ico-arrow-green">Подробнее</a>
                        </div>
                    </div>
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2 class="new-title new-title--left">Принимаем в оплате</h2>
                            <div class="banks">
                                <a href="#" class="banks__item">
                                    <img src="images/bank_1.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_2.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_3.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_4.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_5.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_6.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_7.jpg" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="agent__zakaz border-bottom">
                <div class="mbox">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2 class="new-title">Заказать кремацию</h2>
                            <p>Позвоните нам для подробной консультации. <br>
                                Это бесплатно.</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                        <div class="agent__list">
                            <h2 class="new-title new-title--left">Ответы на частозадаваемые вопросы</h2>
                            <div class="list">
                                <ul class="list__marked">
                                    <li><a href="#">Как заказать кремацию?</a></li>
                                    <li><a href="#">Когда нужно оплачивать услуги хранения праха?</a></li>
                                    <li><a href="#">Как получить справку о кремации?</a></li>
                                    <li><a href="#">Как заказать прощальный зал?</a></li>
                                    <li><a href="#">Как заказать услуги отпевания?</a></li>
                                    <li><a href="#">Какие урны в наличии в крематории?</a></li>
                                    <li><a href="#">Подходит ли гроб “колода” в печь крематория?</a></li>
                                    <li><a href="#">Когда можно забрать прах после кремации?</a></li>
                                    <li><a href="#">Можно ли забрать урну в выходные и праздничные дни?</a></li>
                                    <li><a href="#">Каков порядок получения праха?Сколько хранится прах?</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__bonus">
                <div class="mbox">
                    <h2 class="new-title">Преимущества крематория «Честный Агент»</h2>
                    <div class="agent__checks">
                        <div class="check">
                            <div class="check__head">
                                <span>Выбор варианта погребения</span>
                            </div>
                            <div class="check__text">
                                <span>Захоронение урн с прахом в колумбариях или в землю на кладбищах Москвы и Московской области</span>
                            </div>
                        </div>
                        <div class="check">
                            <div class="check__head">
                                <span>Экологически чистый способ погребения</span>
                            </div>
                            <div class="check__text">
                                <span>Возможность захоронения в биоразлагаемых урнах для праха.</span>
                            </div>
                        </div>
                        <div class="check">
                            <div class="check__head">
                                <span>Доступная цена</span>
                            </div>
                            <div class="check__text">
                                <span>Полный комплекс услуг по кремации. За вами только выбор урны</span>
                            </div>
                        </div>
                        <div class="check">
                            <div class="check__head">
                                <span>Удобство</span>
                            </div>
                            <div class="check__text">
                                <span>Отсутствие очередей.Бронирование прощальных залов по телефону.</span>
                            </div>
                        </div>
                        <div class="check">
                            <div class="check__head">
                                <span>Отсрочка проведения захоронения</span>
                            </div>
                            <div class="check__text">
                                <span>Возможность хранения урны в крематории до 1 года.</span>
                            </div>
                        </div>
                        <div class="check">
                            <div class="check__head">
                                <span>Современная система контроля</span>
                            </div>
                            <div class="check__text">
                                <span>Гарантия, что в урне окажется прах именно того человека, который там должен быть.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="agent__need silver-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Документы необходимые для кремации</h2>
                    <div class="desc">
                        <div class="desc__col">
                            <div class="desc__box">
                                <div class="list">
                                    <div class="list__head"><span>Для проведения кремации умершего человека нужны следующие документы:</span></div>
                                    <ul class="list__marked">
                                        <ol><a href="#">Паспорт Заказчика услуги.</a></ol>
                                        <ol><a href="#">Счет-заказ на ритуальные услуги и товары (Бланк строгой отчетности предоставляется агентом компании оказывающей ритуальные услуги)-Выдается при оплате заказа на ритуальные товары, услуги катафального транспорта, другие сопутствующие ритуальные услуги</a></ol>
                                        <ol><a href="#">Свидетельство о смерти государственного образца с гербовой печатью (выдается в органах ЗАГС в МФЦ (Мои документы) района по месту прописки умершего)</a></ol>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="desc__col">
                            <div class="desc__box">
                                <div class="list">
                                    <div class="list__head"><span>После кремации Заказчику выдаются следующие документы:</span></div>
                                    <ul class="list__marked">
                                        <ol><a href="#">Справка о кремации для получения праха умершего для захоронения;</a></ol>
                                        <ol><a href="#">Сопроводительная карточка за регистрационным номером, где указано дата, время, место и ФИО умершего для проведения кремации.</a></ol>
                                    </ul>
                                </div>
                            </div>
                            <a href="#" class="button">Заказать кремацию</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__process">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Кремирование (процесс кремации) человека</h2>
                    <p>Процесс кремирования и последующая организация похорон после кремации представлен на схеме:</p>
                    <div class="process">
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_1.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Подбор гроба, урны и сопутствующих принадлежностей</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_2.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Обработка и одевание тела в морге</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_3.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Оформление всех документов в морге</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_4.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Проведение процедуры прощания в прощальном зале</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_4.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Сбор фотографий, оцифровка и заказа монтажа видеонекролога</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_6.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Бронирование места на кладбище / в колумбарии, оформление документов</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_7.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Процедура кремации</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_8.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Получение урны с прахом, подготовка могилы/ячейки в колумбарии, доставка урны</span>
                            </div>
                        </div>
                        <div class="process__item">
                            <div class="process__img">
                                <img src="images/pr_9.png" alt="">
                            </div>
                            <div class="process__text">
                                <span>Подбор гроба, урны и сопутствующих принадлежностей</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__slider green-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Фотографии крематория</h2>
                    <div class="shop__slider js-agent-slider">
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 1</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 2</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб белый</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__certificate">
                <div class="mbox">
                    <div class="certificate">
                        <div class="certificate__img">
                            <img src="images/certificate_1.png" alt="">
                        </div>
                        <div class="certificate__text">
                            <h2 class="new-title new-title--left">Все услуги крематория сертифицированы</h2>
                            <span><b>Сертификат соответствия ГОСТ</b></span>
                            <p> Акционерного общества «Городское Бюро Ритуальных Услуг «Горбрус» №0117621 от 30.11.2018</p>
                            <p>Орган по сертификации сертификации: <br> Акционерное общество “Всероссийский научно-исследовательский институт сертификации”г.
                                <br> Москва, Электричекский пер, д.3/10, строение 1</p>
                            <p>Соответствует требованиям нормативных документов ГОСТ Р 53999-2010</p>


                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__go silver-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Как добраться до крематория</h2>
                    <p><b>На автотранспорте:</b></p>
                    <p>от МКАД по Носовихинскому шоссе 2,2 км прямо, затем направо — на Никольско-Архангельский проезд 310 метров, затем налево — на ул. Окольную и прямо 150 метров — до крематория. Время в пути: около 15 минут.</p>
                    <p><b>На общественном транспорте:</b></p>
                    <p>От метро «Новокосино»на авт. № 142 или марш. № 100к, 111к, 387к, 487к, 582к — до ост. «остановка ТЦ «Никольский Парк» или строительный рынок», затем пешком около 350 метров — до крематория. Время в пути: около 12 минут.</p>
                    <p>От метро «Выхино»на марш. №100к, №582к — до ост. «остановка ТЦ «Никольский Парк» или строительный рынок», затем пешком около 350 метров — до крематория. Время в пути: около 35 минут.</p>
                    <p>От ж/д станции «Реутово»:от ж/д станции «Курская» Горьковского направления доехать до станции «Реутово», затем пешком через городской парк 150 метров — на Юбилейный проспект до остановки общ. транспорта «Ростелеком», затем на марш. №1, №1138, №1226к, №3 — до ост. «остановка ТЦ «Никольский Парк» или строительный рынок», затем пешком около 860 метров (через Носовихинское шоссе) — до крематория. Время в пути: около 45 минут.</p>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>