//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="title">Что делать, если умер человек ?</h2>
        </div>
        <section class="article">
                <div class="full-width banner b-lazy" style="background-image: url('images/_imgs/funeral-hall/background.jpg');"> </div>
                <div class="mbox">
                    <div class="article__text">
                       <p> Если похороны легли на ваши плечи, или Вы застали близкого человека или родственника в бездыханном состоянии, не теряйте самообладания. Правильно действовать в этой ситуации несложно, если следовать определенному алгоритму.</p>
                       <p> Задача человека, ставшего первым свидетелем смерти своего близкого, заключается в том, чтобы обезопасить себя от незваного прихода «серых» агентов, которые могут начать звонить на ваш телефон или даже прийти к домой, если обратиться в городские службы до звонка в колл-центр проверенной ритуальной компании. Поэтому, прежде всего, позвоните по круглосуточному телефону службы «Честный агент»: 8 (499) 577-00-12. Помните, что надежная ритуальная компания должна располагать не только собственным сайтом, но и своим представительством в социальных сетях, а также большим опытом работы на ритуальном рынке Москвы и Московской области.</p>
                       <p> Прибывший по вашему вызову официальный агент компании, вызывает скорую помощь и полицию. К приезду этих служб подготовьте паспорт и медицинский полис умершего, а также свое удостоверение личности. Скорая помощь и сотрудник полиции констатируют факт смерти человека и составляют официальные протоколы, которые обязаны предоставить Вам.</p>
                        <p>Каждый сотрудник нашей компании, будучи профессионалом в ритуальной сфере, прежде всего, морально поддержит Вас, и обезопасит — в юридическом плане — от коррупционных схем, очень часто связывающих городские службы с «серыми» похоронными агентствами. Целью последних является обогащение по неприлично завышенным ценам на ритуальные услуги и товары.</p>
                       <p> С официальным ритуальным агентом Вы сможете спокойно обсудить все вопросы по желаемому способу похорон близкого (это может быть обычное захоронение гробом или кремация) и доверить ему полную их организацию, включая сбор и оформление необходимых документов, выбор всех ритуальных принадлежностей, необходимых до похорон (гроб, постель, венки, урна для праха и др.), а также всех сопутствующих услуг (ритуальный автотранспорт, аренда траурного зала для проведения гражданской панихиды, организация поминок и т.д.), устраивающих вас по стоимости и качеству. После этого заключается официальный договор.</p>
                       <p> Стоит помнить и про последующее благоустройство участка, в которое входит: установка памятника, цоколя, ограды, цветника и декоративных элементов (ваза, скамья, декоративные скульптуры и т.п.). Мы также оказываем услуги по уходу за захоронением. Самый широкий ассортимент продукции также предоставляет наша компания. Весь комплекс ритуальных услуг предоставляется нашими сотрудниками с помощью фирменного веб-приложения «Честный агент», которое связывает воедино все наши службы и поставщиков товаров.</p>
                    </div>
                </div>
            <div class="mbox">
                <div class="flex blocks">
                    <div class="box box-call">
                        <h2>Вызвать ритуального агента на дом</h2>
                        Позвоните нам
                        <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                        Или оставьте заявку и мы Вам перезвоним
                        <a href="#" class="button">Вызвать агента</a>
                    </div>
                </div>
            </div>

            <div class="mbox">
                <div class="article__squares">
                    <div class="flexible-width padding-overall flex squares-row">
                        <div>
                            <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                            <a href="#" class="a-playfair">Купить гроб и другие ритуальные товары</a>
                        </div>
                        <div>
                            <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                            <a href="#" class="a-playfair">Документы, необходимые для похорон</a>
                        </div>
                        <div>
                            <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                            <a href="#" class="a-playfair">Ритуальные обычаи и обряды</a>
                        </div>
                        <div>
                            <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                            <a href="#" class="a-playfair">Как получить место на кладбище</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>