//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Новолюберецкое кладбище (Люберцы)</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <div class="list list--simple">
                                            <div class="list__head">
                                                <span>Адрес кладбища:</span>
                                            </div>
                                            <p>Московская область, г.о. Люберцы,</p>
                                            <p>Новорязанское шоссе, 23-й км</p>
                                            <div class="list__head">
                                                <span>Часы работы кладбища:</span>
                                            </div>
                                            <p>Понедельник-пятница: 09:00 - 17:00</p>
                                            <p>Суббота и воскресенье: 09:00 - 15:00</p>
                                            <br>
                                            <p><b>Погребения</b> проводятся ежедневно с 9:00 до 15:00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="short silver-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Краткая информация о Новолюберецком кладбище</h2>
                    <p>Обращаем Ваше внимание, что Новолюберецкое кладбище (Люберцы). является кладбищем открытого типа. На кладбище возможно проведение захоронений и подзахоронений.</p>
                    <p>Новолюберецкое муниципальное кладбище открытого типа. Встречаются также написания: Ново-Люберецкое и Новое Люберецкое. Было основано в 1973 году. На момент основания в Москве уже стояла проблема с невозможностью расширений кладбищ в Москве, поэтому Новолюберецкое кладбище было рассчитано на жителей столицы. На территории некрополя в 2013 году началась постройка церкви. В 2016-ом году время церковь была освящена в честь знаменитой иконы Божьей Матери «Всех Скорбящих Радость». Это позволяет проводить отпевания на территории кладбища. Кладбище является одним из самых ухоженных в Московской области. Центральная аллея и дорожки между секторами заасфальтированы. На кладбище предоставляются участки для создания одиночных и семейных могил.</p>
                </div>
            </div>
            <div class="columbarium__how addpadding">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Как добраться до Новолюберецкого кладбища</h2>
                    <div class="flex border-bottom">
                        <div class="content padding-overall">
                            <p><b>На общественном транспорте:</b></p>
                            <p> от метро «Котельники» на авт. №351, 348, 416, 478 до ост. «Новолюберецкое кладбище». Затем — пешком 500 м до некрополя.</p>
                            <p>Время в пути — 17 мин.</p>
                        </div>
                        <div class="content padding-overall">
                            <p><b>На машине:</b></p>
                            <p>От МКАД выезд из Москвы по Новорязанскому шоссе 7 км. Вход в некрополь на правой стороне.</p>
                            <p>Время в пути: 9-20 мин.</p>


                        </div>
                    </div>
                </div>
            </div>
            <div class="columbarium__position">
                <div class="flex colored reverse">
                    <div>
                        <h2 class="new-title new-title--left">Расположение кладбища на карте</h2>
                        <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/map_big.png');">
                        </div>
                    </div>
                    <div>
                        <h2 class="new-title new-title--left new-title--margin">Схема кладбища</h2>
                        <div class="content padding-overall">
                            <div class="image image-auto b-lazy b-loaded" style="background-image: url('images/map__columbarium.png');">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="cemetery__uslugi">
                <div class="mbox">
                    <h2 class="new-title">Услуги на кладбище</h2>
                    <div class="article__squares">
                        <div class="flexible-width padding-overall flex squares-row">
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет захоронения «Базовый»</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет захоронения«Бизнес»</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет захоронения «Премиум»</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет захороненияурны в землю</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет захороненияурны в колумбарии</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет с установкойпамятника</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">Пакет с установкойпамятника</a>
                            </div>
                            <div>
                                <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                                <a href="#" class="a-playfair">3D визуализация</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="press__video">
                <div class="mbox">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/qcto8M6xT8w" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="video__about">
                        <div class="video__text">
                            <span>Видеопрезентация <br> Новолюберецкого кладбища</span>
                        </div>
                        <a href="#" class="video__link">
                            <span>Наш канал на Youtube.com</span>
                            <div class="video__img">
                                <img src="images/you_tube.png" alt="">
                            </div>

                        </a>
                    </div>

                </div>

            </div>
            <div class="columbarium__gallery fix">
                <div class="mbox">
                    <h2 class="new-title">Фотогаллерея: Колумбарий на Пуршевском кладбище</h2>
                </div>
                <div class="columbarium__slider">
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br> договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для получения всех необходимых разрешений на поведение захоронения Вы можете обратиться за помощью к нашим менеджерам и агентам по телефону +7 (495) 150 21 12.</p>
                                    <p>Мы поможем быстро  оформить все необходимые бумаги в максимально короткий период времени.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="complete silver-bg">
                <div class="mbox">
                    <div class="list">
                        <ul class="list__marked list__marked--not">
                            <li><a href="#">Какие документы необходимы для оформления захоронения ?</a></li>
                            <li><a href="#">Как получить место на кладбище ?</a></li>
                            <li><a href="#">Как заказать захоронение в родственную могилу?</a></li>
                            <li><a href="#">Можно ли купить участок на кладбище заранее?</a></li>
                            <li><a href="#">Что такое "паспорт захоронения"?</a></li>
                        </ul>
                    </div>
                    <a href="#" class="ico-arrow-green a-playfair">Все статьи</a>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>