//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Колумбарии Московской области</h2>
            <p>Колумбарий - это место захоронения урн с прахом после кремации. Место в колумбарии - это ячейка, в которую производится непосредственно захоронение урны, опечатывается каменной доской с ФИО умершего, указанием дат рождения и смерти. Часто каменная доска украшается фотокерамическим или выгравированным портретом умершего. Иногда (не во всех колумбариях) на доску устанавливается так называемое кашпо для колумбария или полуваза, также вариантом может быть специальное металлическое кольцо для цветов и полочка для установки лампад и пр. предметов. Нишу колумбария лучше всего выбрать заранее, поскольку захоронение в колумбарий становится все более востребовано по многим причинам: удобство ухода за местом захоронения, легкость поиска места захоронения. Компания «Честный Агент» предлагает организацию захоронения урны с прахом в ниши открытых колумбариев Московской области.</p>
        </div>
        <section class="columbarium">
            <div class="columbarium__map">
                <div class="flex colored reverse">
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2 class="bottom-line">Список колумбариев</h2>
                            <div class="columbarium__address">
                                <a href="#">
                                    <span>Пуршевское кладбище</span>
                                    <span>  Московская область, <br> Балашихинский район, д.Пуршево</span>
                                </a>
                                <a href="#">
                                    <span>Новое Дзержинское кладбище</span>
                                    <span>Московская область, <br> г.Дзержинский, ул.Лесная, 35</span>
                                </a>
                                <a href="#">
                                    <span>Новое Лыткаринское кладбище</span>
                                    <span>Раменский район, <br> сельское поселение Островецкое</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/map_big.png');">
                    </div>
                </div>
            </div>
            <div class="mbox">
                <div class="flexible-width padding-overall">
                    <p class="horizontal-block">
                        <span class="img b-lazy b-loaded" style="background-image: url('images/_imgs/addidition-services-fhall.jpg');"></span>
                        <a href="#"><strong>Пуршевское кладбище (колумбарий) <span> Московская область, Балашихинский район, д.Пуршево</span></strong></a>
                        Просторный светлый зал с высоким потолком, вмещающий до восьмидесяти человек. Стены декорированы черно-белым мрамором с серыми вкраплениями. По краям зала - две колонны высотой до потолка. В центре зала находится постамент для гроба на четырёх мраморно-зеленых опорах. Над постаментом расположена большая конусообразная люстра. Под потолком имеются окна и тонированные фальш-окна, которые придают залу дополнительное освещение. Между колоннами располагаются два декоративных венка.
                        <br><br>
                        <a href="" class="ico-arrow-green a-playfair columbarium__detail">Подробнее</a>
                    </p>
                    <p class="horizontal-block">
                        <span class="img b-lazy b-loaded" style="background-image: url('images/_imgs/addidition-services-fhall.jpg');"></span>
                        <a href=""><strong>Новое Дзержинское кладбище (колумбарий)<span>Московская область, г.Дзержинский, ул.Лесная, 35</span></strong></a>
                        Колумбарий на Ново-Дзержинском кладбище является действующим колумбарием. В нишу колумбария возможно захоронение урн с прахом в новые ячейки и подзахоронение - в родовые ячейки. Добраться до колумбария возможно от станции метро «Братиславская». В некрополе действует храм в честь Сошествия Святого Духа на апостолов. В обители проводятся отпевания и другие ритуальные службы.
                        <br><br>
                        <a href="" class="ico-arrow-green a-playfair columbarium__detail">Подробнее</a>
                    </p>
                    <p class="horizontal-block">
                        <span class="img b-lazy b-loaded" style="background-image: url('images/_imgs/addidition-services-fhall.jpg');"></span>
                        <a href=""><strong>Новое Лыткаринское кладбище (колумбарий)<span>Раменский район, сельское поселение Островецкое </span></strong></a>
                        Колумбарий на Ново-Лыткаринском кладбище является действующим колумбарием. В ячейки возможно как одиночное, так и родственное захоронение. Добраться до колумбария возможно от станции метро “Котельники”
                        <br><br>
                        <a href="" class="ico-arrow-green a-playfair columbarium__detail">Подробнее</a>
                    </p>
                </div>
            </div>
            <div class="columbarium__services silver-bg">
                <div class="mbox">
                    <h2 class="new-title">Услуги в колумбарии</h2>
                    <div class="agent__box">
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Захоронение урны с прахом</strong>
                            <span>Организуем полный комплекс услуг от кремации до захоронения урны в нишу колумбариев Московской области. Стоимость захоронения урны с прахом в колумбарии уточняйте по телефону: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Кашпо, полувазы и другие товары для колумбария</strong>
                            <span>Для украшения каменной плиты и обустройства места захоронения предлагаем установку кашпо для колумбария, полуваз, колец для цветов, каменных полочек и пр. Услуга предоставляется не для всех колумбариев. Уточняйте подробности у менеджеров по телефону: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Производство и установка плит для колумбария</strong>
                            <span>Стоимость плиты для колумбария зависит от размеров каменного основания, нанесения изображения и данных умершего, от типа камня, выбранного для плиты (гранит, мрамор и пр.) Узнать цену на захоронение урны с установкой плиты в колумбарии: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Документы для оформления захоронения</strong>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="prah__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2>Захоронение в колумбарии</h2>
                            <p>Позвоните нам для подробной консультации. <br> Это бесплатно.</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                        <div class="box-text">
                            <h2>Помогаем в трудную минуту</h2>
                            <p>Мы готовы проконсультировать Вас по всем вопросам связанным с кремацией, организацией похорон и благоустройством могилы.</p>
                            <p>Оставьте свой номер и мы Вам перезвоним.</p>
                            <form action="" class="send-form">
                                <input type="text" placeholder="Ваш номер телефона">
                                <input type="submit" value="Отправить" class="button a-playfair">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>