//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Колумбарий на Пуршевском кладбище</h2>
        </div>
        <section class="columbarium">
            <div class="mbox">
                <div class="prah__box">
                    <div class="prah__col center">
                        <div class="box box-call">
                            <h2>Организовать похороны</h2>
                            <p>Позвоните нам</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="prah__col">
                        <div>
                            <div class="prah__list">
                                <div>
                                    <p><b>Адрес колумбария:</b></p>
                                    <p>Московская область, <br> город Дзержинский, улица Лесная, дом 35</p>
                                </div>
                                <div>
                                    <p><b>Часы работы колумбария:</b></p>
                                    <p>Понедельник-пятница: 09:00 - 17:00 <br> Суббота: 09:00 - 15:00 <br> Воскресенье: выходной день</p>
                                </div>
                                <p>Погребения проводятся ежедневно с 09:00 до 15:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columbarium__board">
                <div class="flex colored reverse">
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2>Краткая информация о колумбарии</h2>
                            <p>Колумбарий на Пуршевском кладбище является действующим колумбарием. В нишу колумбария возможно захоронение урн с прахом в новые ячейки и подзахоронение - в родовые ячейки. У входа в некрополь есть действующий храм.</p>
                        </div>
                    </div>
                    <div class="background-silver image b-lazy b-loaded image-hidden" style="background-image: url('images/board.png');">
                    </div>
                </div>
            </div>
            <div class="columbarium__how">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Как добраться до колумбария</h2>
                    <div class="flex border-bottom">
                        <div class="content padding-overall">
                            <p><b>На общественном транспорте:</b></p>
                            <p>От метро «Новокосино» на авт. №142 до ост. «Соцзащита». Пересадка на авт. №33 до ст. «Пуршевское кладбище», далее пешком около 400 м до некрополя.</p>
                            <p>Время в пути — 1 час.</p>
                        </div>
                        <div class="content padding-overall">
                            <p><b>На машине:</b></p>
                            <p>От МКАД выезд из Москвы по Носовихинскому шоссе. Через 11 км повернуть направо на Пролетарскую ул., затем налево на Пионерскую ул., далее второй поворот направо на Юбилейную ул. После Саввинского пруда повернуть направо на Центральную ул., около 1,3 км. </p>
                            <p>Время в пути — 30-50 мин.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columbarium__position">
                <div class="flex colored reverse">
                    <div>
                        <h2 class="new-title new-title--left new-title--margin">Схема кладбища</h2>
                        <div class="content padding-overall">
                            <div class="image image-auto b-lazy b-loaded" style="background-image: url('images/map__columbarium.png');">
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="new-title new-title--left">Расположение кладбища на карте</h2>
                        <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/map_big.png');">
                        </div>
                    </div>

                </div>
            </div>
            <div class="columbarium__gallery">
                <div class="mbox">
                    <h2 class="new-title border-top">Фотогаллерея: Колумбарий на Пуршевском кладбище</h2>
                </div>
                <div class="columbarium__slider">
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                    <div class="columbarium__slide">
                        <img src="images/columbarium__gallery.png" alt="">
                    </div>
                </div>
            </div>
            <div class="columbarium__services silver-bg">
                <div class="mbox">
                    <h2 class="new-title">Услуги в колумбарии</h2>
                    <div class="agent__box">
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Захоронение урны с прахом</strong>
                            <span>Организуем полный комплекс услуг от кремации до захоронения урны в нишу колумбариев Московской области. Стоимость захоронения урны с прахом в колумбарии уточняйте по телефону: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Кашпо, полувазы и другие товары для колумбария</strong>
                            <span>Для украшения каменной плиты и обустройства места захоронения предлагаем установку кашпо для колумбария, полуваз, колец для цветов, каменных полочек и пр. Услуга предоставляется не для всех колумбариев. Уточняйте подробности у менеджеров по телефону: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Производство и установка плит для колумбария</strong>
                            <span>Стоимость плиты для колумбария зависит от размеров каменного основания, нанесения изображения и данных умершего, от типа камня, выбранного для плиты (гранит, мрамор и пр.) Узнать цену на захоронение урны с установкой плиты в колумбарии: 8 (495) 150 21 12</span>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Документы для оформления захоронения</strong>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="prah__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2>Захоронение в колумбарии</h2>
                            <p>Позвоните нам для подробной консультации. <br> Это бесплатно.</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                        <div class="box-text">
                            <h2>Помогаем в трудную минуту</h2>
                            <p>Мы готовы проконсультировать Вас по всем вопросам связанным с кремацией, организацией похорон и благоустройством могилы.</p>
                            <p>Оставьте свой номер и мы Вам перезвоним.</p>
                            <form action="" class="send-form">
                                <input type="text" placeholder="Ваш номер телефона">
                                <input type="submit" value="Отправить" class="button a-playfair">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>