//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Цифровые решения для ритуальной сферы</h2>
        </div>
        <section class="digital">
            <div class="digital__banner">
                <img src="images/system.png" alt="">
            </div>
            <div class="digital__info">
                <div class="mbox">
                    <p>Мы создали программную платформу “Честный Агент”, объединяющую в единое информационное пространство всех участников рынка ритуальных услуг:
                    </p>
                    <div class="list">
                        <ul class="list__marked">
                            <li>Потребителей;</li>
                            <li>Агентов ритуальных услуг и ритуальные компании;</li>
                            <li>Поставщиков ритуальных товаров, оград, памятников и другихаров;</li>
                            <li>Компании, оказывающие услуги по захоронению;</li>
                            <li>Поставщиков транспортных услуг и катафального транспорта;</li>
                            <li>Компании, оказывающие услуги по уходу за захоронениями и благоустройству;</li>
                            <li>Крематории и залы прощания.</li>
                        </ul>
                    </div>
                    <p>IT-платформа “Честный Агент” основана на синергическом эффекте от объединения усилий профессионалов ритуального рынка с многолетним опытом работы “на земле” и современных подходов к разработке программного обеспечения.</p>
                </div>
            </div>
            <div class="digital__pages silver-bg">
                <div class="mbox">
                     <div class="tabs__go">
                        <a href="#" class="tabs__link tabs__link--free js-tab-link active">Система управления крематорием</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Автоматизация работы на кладбищах</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Приложение для агентов</a>
                    </div>
                </div>
            </div>
            <div class="digital__system">
                <div class="mbox">
                    <h2 class="new-title new-title--left bottom-line">Система управления крематорием</h2>
                    <div class="shop">
                        <div class="urna__how">
                            <div class="prah__box">
                                <div class="prah__col center">
                                    <div>
                                        <div class="box box-call">
                                            <h2>Заказать консультацию</h2>
                                            <p>Позвоните нам</p>
                                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                            Или оставьте заявку и мы Вам перезвоним
                                            <a href="" class="button">Оставить заявку</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="prah__col">
                                    <div>
                                        <p>Система управления крематорием «Честный Агент» - автоматизированная система по приёму заявок на кремацию, оформлению и оплате заказов, контролю исполнения всех процессов в крематории.
                                        </p>
                                        <div class="list">
                                            <div class="list__head"><span> Модули системы:</span></div>
                                            <ul class="list__marked">
                                                <li>Бронирование залов прощания в мобильном приложении или в колл-центре</li>
                                                <li>Оформление и ведение договоров с клиентами</li>
                                                <li>Оплата банковскими картами и наличными. Интеграция с кассовым оборудованием</li>
                                                <li>СМС-информирование клиентов о ходе выполнения заказа</li>
                                                <li>Управление загрузкой кремационного оборудования</li>
                                                <li>Контроль хранения и выдачи праха</li>
                                                <li>Управление работой катафального, пассажирского транспорта и перевозкой праха</li>
                                                <li>Интеграция с приложением “Честный Агент” на кладбищах - захоронение урн в землю и в колумбарную стену</li>
                                            </ul>









                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital__interest">
                <div class="flex colored">
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2 class="new-title new-title--left">Особенности системы управления крематорием «Честный Агент»:</h2>
                            <div class="list">
                                <ul class="list__marked">
                                    <li>Ролевые интерфейсы. По умолчанию системой предоставляются интерфейсы для: управляющего крематорием, бухгалтера, менеджера прощальных залов, оператора печи и подрядчиков (например, транспортное обслуживание, обслуживание цветов и т.д.)</li>
                                    <li>Повышенная безопасность. Система используют зашифрованный канал.</li>
                                    <li>Интеграция с платежными системами. Ваши клиенты могут оплатить наличными, чеками, кредитными картами, посредством PayPal.</li>
                                    <li>Расписание Прощальных Залов он-лайн для управления вместимостью залов.</li>
                                    <li>Расширенная система уведомлений и оповещений.</li>
                                </ul>
                            </div>
                            <h2 class="new-title new-title--left">Интеграция с платежными системами</h2>
                            <div class="banks">
                                <a href="#" class="banks__item">
                                    <img src="images/bank_1.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_2.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_3.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_4.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_5.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_6.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_7.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="background-green">
                        <div class="content padding-overall">
                            <h2 class="new-title new-title--left">Система – Веб-приложение</h2>
                            <p>Система является веб-приложением, которое может быть открыто с любого ПК или планшета. Система может быть размещена в любом общедоступном облаке, например Microsoft Azure или Amazon AWS, или согласно политике безопасности на вашем собственном сервере.Систему можно настроить под собственные нужды, продукты, подрядчиков, услуги и документы.
                            </p>
                            <div class="list list--white">
                                <div class="list__head"><span>Использование решения “Честный Агент” для крематория позволяет:</span></div>
                                <ul class="list__marked">
                                    <li> забронировать время и место прощания через мобильное приложение, выбрать пакет услуг кремации, дополнительные сервисы или урну для праха;</li>
                                    <li>сформировать полный пакет документов при оформлении договора и оплатить его на месте с помощью банковской карты или наличными с обязательной выдачей кассового чека;</li>
                                    <li>отслеживать на платформе все этапы исполнения заказа, от оформление договора до выдачи урны с прахом;</li>
                                    <li> уведомлять заказчика обо всех стадиях выполнения заказа, необходимости предоставления документов, готовности урны с прахом;</li>
                                    <li>управлять загруженностью залов прощания и печей крематория, формировать электронную очередь, выводить эти данные на большой экран для удобства заказчика;</li>
                                    <li>обмениваться данными с системой бухгалтерского, управленческого и складского учёта.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital__bonuses">
                <div class="about__decimals">
                    <div class="mbox">
                        <div class="flexible-width padding-overall">
                            <h2 class="new-title">Преимущества системы управления крематорием</h2>
                            <ul class="padding-overall flex stats small">
                                <li>
                                    <p>Ролевыеинтерфейсы</p>
                                </li>
                                <li>
                                    <p>Повышенная безопасность данных</p>
                                </li>
                                <li>
                                    <p>Интеграция с платежными системами</p>
                                </li>
                                <li>
                                    <p>Онлайн расписание</p>
                                </li>
                                <li>
                                    <p>Система оповещения</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital__time silver-bg">
                <div class="mbox">
                    <div class="digital__big">
                        <span>Современные технологии</span>
                    </div>
                    <div class="digital__under">
                        <span>Поддержка. Мобильность. Безопасность.</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>