//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Цифровые решения для ритуальной сферы</h2>
        </div>
        <section class="digital">
            <div class="digital__banner">
                <img src="images/system.png" alt="">
            </div>
            <div class="digital__info">
                <div class="mbox">
                    <p>Мы создали программную платформу “Честный Агент”, объединяющую в единое информационное пространство всех участников рынка ритуальных услуг:
                    </p>
                    <div class="list">
                        <ul class="list__marked">
                            <li>Потребителей;</li>
                            <li>Агентов ритуальных услуг и ритуальные компании;</li>
                            <li>Поставщиков ритуальных товаров, оград, памятников и другихаров;</li>
                            <li>Компании, оказывающие услуги по захоронению;</li>
                            <li>Поставщиков транспортных услуг и катафального транспорта;</li>
                            <li>Компании, оказывающие услуги по уходу за захоронениями и благоустройству;</li>
                            <li>Крематории и залы прощания.</li>
                        </ul>
                    </div>
                    <p>IT-платформа “Честный Агент” основана на синергическом эффекте от объединения усилий профессионалов ритуального рынка с многолетним опытом работы “на земле” и современных подходов к разработке программного обеспечения.</p>
                </div>
            </div>
            <div class="digital__pages silver-bg">
                <div class="mbox">
                    <div class="tabs__go">
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Система управления крематорием</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Автоматизация работы на кладбищах</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link active">Приложение для агентов</a>
                    </div>
                </div>
            </div>
            <div class="digital__system">
                <div class="mbox">
                    <h2 class="new-title new-title--left bottom-line">Мобильное и веб-приложение для агентов</h2>
                    <div class="shop">
                        <div class="urna__how">
                            <div class="prah__box">
                                <div class="prah__col center">
                                    <div>
                                        <div class="box box-call">
                                            <h2>Стать Агентом компании</h2>
                                            <p>Позвоните нам</p>
                                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                            Или оставьте заявку и мы Вам перезвоним
                                            <a href="" class="button">Оставить заявку</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="prah__col">
                                    <div>
                                        <p>Полная информация о кладбищах, участках захоронения, ритуальных услугах или товарах находится в единой базе данных, которая синхронизирована с личным кабинетом ритуального агента, веб-приложением и сайтом нашей компании. Это гарантирует фиксированную цену на все выбранные Вами услуги (без доплат). В мобильном приложении доступно создание предварительных заказов по услугам захоронения, подзахоронения, кремации, также оформление доп.услуг: аренда ритуального шатра, сингуматора (ритуального лифта), спец.услуги в крематории (ускоренная выдача праха, услуга «Видеонекролог» , услуга «Видеосъемка кремации») и прочее.</p>
                                    </div>
                                    <div class="digital__stores">
                                        <a href="#" class="digital__mag">
                                            <img src="images/g-play.png" alt="">
                                        </a>
                                        <a href="#" class="digital__mag">
                                            <img src="images/app-store.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital__bonuses silver-bg">
                <div class="about__decimals">
                    <div class="mbox">
                        <div class="flexible-width padding-overall">
                            <h2 class="new-title">Преимущества работы через приложения “Честный Агент”</h2>
                            <ul class="padding-overall flex stats small">
                                <li>
                                    <p>Скорость обработки заказов</p>
                                </li>
                                <li>
                                    <p>Контроль стадии выполнения заказов</p>
                                </li>
                                <li>
                                    <p>Онлайн информирование о наличии товаров</p>
                                </li>
                                <li>
                                    <p>СМС уведомления</p>
                                </li>
                                <li>
                                    <p>Печать документов из системы</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>