//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Цифровые решения для ритуальной сферы</h2>
        </div>
        <section class="digital">
            <div class="digital__banner">
                <img src="images/system.png" alt="">
            </div>
            <div class="digital__info">
                <div class="mbox">
                    <p>Мы создали программную платформу “Честный Агент”, объединяющую в единое информационное пространство всех участников рынка ритуальных услуг:
                    </p>
                    <div class="list">
                        <ul class="list__marked">
                            <li>Потребителей;</li>
                            <li>Агентов ритуальных услуг и ритуальные компании;</li>
                            <li>Поставщиков ритуальных товаров, оград, памятников и другихаров;</li>
                            <li>Компании, оказывающие услуги по захоронению;</li>
                            <li>Поставщиков транспортных услуг и катафального транспорта;</li>
                            <li>Компании, оказывающие услуги по уходу за захоронениями и благоустройству;</li>
                            <li>Крематории и залы прощания.</li>
                        </ul>
                    </div>
                    <p>IT-платформа “Честный Агент” основана на синергическом эффекте от объединения усилий профессионалов ритуального рынка с многолетним опытом работы “на земле” и современных подходов к разработке программного обеспечения.</p>
                </div>
            </div>
            <div class="digital__pages silver-bg">
                <div class="mbox">
                    <div class="tabs__go">
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Система управления крематорием</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link active">Автоматизация работы на кладбищах</a>
                        <a href="#" class="tabs__link tabs__link--free js-tab-link">Приложение для агентов</a>
                    </div>
                </div>
            </div>
            <div class="digital__system">
                <div class="mbox">
                    <h2 class="new-title new-title--left bottom-line">Система управления крематорием</h2>
                    <div class="shop">
                        <div class="urna__how">
                            <div class="prah__box">
                                <div class="prah__col center">
                                    <div>
                                        <div class="box box-call">
                                            <h2>Заказать консультацию</h2>
                                            <p>Позвоните нам</p>
                                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                            Или оставьте заявку и мы Вам перезвоним
                                            <a href="" class="button">Оставить заявку</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="prah__col">
                                    <div>
                                        <p>Цифровые технологии в ритуальной сфере создают новые возможности совместной работы в реальном времени и полностью меняют подход к работе по организации похорон.
                                        </p>
                                        <p> Заказ на пакет услуг по захоронению, выполненный любым ритуальным агентом в системе, отмечается на цифровой карте кладбища и через платформу попадает к исполнителю.</p>
                                        <p>Работа платформы позволяет охватить все возможные варианты проведения захоронения: гробом или урной, в новый или родственный участок, в землю или колумбарную стену, а также последующую работу на месте захоронения.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agent__between">
                <div class="flex colored">
                    <div class="background-green">
                        <div class="content padding-overall">
                            <h2 class="new-title new-title--left">Что дает Вашему бизнесу:</h2>
                            <div class="list list--white">
                                <ul class="list__marked">
                                    <li>Возможность поставщикам и подрядчикам предлагать свои услуги большему числу клиентов через каналы продаж “Честного агента”.</li>
                                    <li>Возможность планировать деятельность, закупки материалов и снижать издержки за счет предсказуемого количества заказов.</li>
                                    <li>Прозрачные расчеты и компетенции “Честного Агента” для внутренней автоматизации.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2 class="new-title new-title--left">Интеграция с платежными системами</h2>
                            <div class="banks">
                                <a href="#" class="banks__item">
                                    <img src="images/bank_1.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_2.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_3.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_4.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_5.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_6.jpg" alt="">
                                </a>
                                <a href="#" class="banks__item">
                                    <img src="images/bank_7.jpg" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="article__squares">
                <div class="flexible-width padding-overall flex squares-row">
                    <div>
                        <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                        <a href="#" class="a-playfair">Работа с подрядчиками</a>
                    </div>
                    <div>
                        <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                        <a href="#" class="a-playfair">Работа с поставщиками и складами</a>
                    </div>
                    <div>
                        <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                        <a href="#" class="a-playfair">Работа с прощальными залами</a>
                    </div>
                    <div>
                        <a href="#"><img src="images/_imgs/funeral-hall/background.jpg"></a>
                        <a href="#" class="a-playfair">Работа с агентам</a>
                    </div>
                </div>
            </div>
            <div class="digital__bonuses">
                <div class="about__decimals">
                    <div class="mbox">
                        <div class="flexible-width padding-overall">
                            <h2 class="new-title">Преимущества системы автоматизации работы на кладбищах</h2>
                            <ul class="padding-overall flex stats small">
                                <li>
                                    <p>Ролевыеинтерфейсы</p>
                                </li>
                                <li>
                                    <p>Повышенная безопасность данных</p>
                                </li>
                                <li>
                                    <p>Интеграция с платежными системами</p>
                                </li>
                                <li>
                                    <p>Онлайн расписание</p>
                                </li>
                                <li>
                                    <p>Система оповещения</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital__time silver-bg">
                <div class="mbox">
                    <div class="digital__big">
                        <span>Современные технологии</span>
                    </div>
                    <div class="digital__under">
                        <span>Поддержка. Мобильность. Безопасность.</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>