//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
    //= parts/navigation.html
    //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="title">Вопрос / Ответ</h2>
        </div>
        <section>
            <div class="faq">
                <div class="silver-bg">
                    <div class="flexible-width padding-overall right-image-block">
                        <h2>Ответы на частозадаваемые вопросы</h2>
                        <div class="list">
                            <ul class="list__marked">
                                <li><a href="#">Что делать если умер человек</a></li>
                                <li><a href="#">Что нужно знать о кремации</a></li>
                                <li><a href="#">Какие документы необходимы для оформления захоронения</a></li>
                                <li><a href="#">Что такое паспорт захоронения</a></li>
                            </ul>
                        </div>
                        <button class="btn"><span>Задать вопрос</span></button>
                    </div>
                    <div class="image-right b-lazy" style="background-image: url('images/faq/agent.png')"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="mbox">
                <div class="desc">
                    <div class="desc__col">
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>Умер человек: первые действия</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">Порядок действий, если умер человек?</a></li>
                                    <li><a href="#">Документы необходимые для захоронения?</a></li>
                                    <li><a href="#">Что такое паспорт захоронения?</a></li>
                                    <li><a href="#">Как выбрать гроб?</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>О кремации человека</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">О кремации человека</a></li>
                                    <li><a href="#">Как выбрать урну для праха?</a></li>
                                    <li><a href="#">Создание видеонекролога</a></li>
                                    <li><a href="#">Кремация обладает рядом преимуществ</a></li>
                                    <li><a href="#">Как заказать кремацию?</a></li>
                                    <li><a href="#">Когда нужно оплачивать за услуги хранения праха?</a></li>
                                    <li><a href="#">Как получить справку о кремации?</a></li>
                                    <li><a href="#">Как заказать прощальный зал?</a></li>
                                    <li><a href="#">Как заказать услугу отпевания?</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>О работе крематорияа</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">Порядок получения праха. Какие документы нужны при получении праха из крематория?</a></li>
                                    <li><a href="#">Когда можно забрать прах после кремации?</a></li>
                                    <li><a href="#">Можно ли забрать урну в выходные или праздничные дни?</a></li>
                                    <li><a href="#">Сколько хранится прах? Срок бесплатного хранения.</a></li>
                                    <li><a href="#"> Какие документы нужны для перевозки урны с прахом через границу (в другую страну)?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="desc__col">
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>О работе крематория</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">Как получить место на кладбище?</a></li>
                                    <li><a href="#">Как заказать захоронение в родственную могилу?</a></li>
                                    <li><a href="#">Можно ли купить участок на кладбище заранее?</a></li>
                                    <li><a href="#">Религиозный ритуал на похороных (христианство, ислам, иудаизм)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>После похорон</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">Пособие на похороны</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc__box">
                            <div class="list">
                                <div class="list__head"><span>Разное</span></div>
                                <ul class="list__marked">
                                    <li><a href="#">Особенности заключения прижизненного договора</a></li>
                                    <li><a href="#">Груз-200</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>