//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <ul>
                <li><a href="main.html">main</a></li>
                <li><a href="faq.html">Вопрос / Ответ</a></li>
                <li><a href="article.html">Что делать, если умер человек ?</a></li>
                <li><a href="prah.html">Захоронение урны с прахом в Москве и Московской области</a></li>
                <li><a href="urna.html">Урны для праха в Москве и Московской области</a></li>
                <li><a href="shop.html">Интернет-магазин ритуальных товаров</a></li>
                <li><a href="insurance.html">Страхование памятников</a></li>
                <li><a href="about.html">О компании “Честный Агент”</a></li>
                <li><a href="agent.html">Крематорий «Честный Агент»</a></li>
                <li><a href="press.html">Пресс-центр (История)</a></li>
                <li><a href="press-obzor.html">Пресс-центр (Обзор)</a></li>
                <li><a href="press-smi.html">Пресс-центр (СМИ)</a></li>
                <li><a href="kras-morg.html">Морг Красногорской городской больницы</a></li>
                <li><a href="digital.html">Цифровые решения для ритуальной сферы</a></li>
                <li><a href="digital-auto.html">Цифровые решения для ритуальной сферы (страница 2) </a></li>
                <li><a href="digital-mobile.html">Цифровые решения для ритуальной сферы (страница 3) </a></li>
                <li><a href="special-services.html">Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела"</a></li>
                <li><a href="special-services-list.html">Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела" (списком)</a></li>
                <li><a href="mfc.html">Многофункциональные центры</a></li>
                <li><a href="mfc-list.html">Многофункциональные центры (списком)</a></li>
                <li><a href="columbarium.html">Колумбарии Московской области</a></li>
                <li><a href="columbarium2.html">Колумбарии Московской области</a></li>
                <li><a href="msc-cemetries.html">Кладбища Москвы и Московской области</a></li>
                <li><a href="msc-cemetries-list.html">Кладбища Москвы и Московской области (списком)</a></li>
                <li><a href="cemetery-inn.html">Новолюберецкое кладбище (Люберцы)</a></li>

            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>