//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Страхование памятников</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                        <h2>Оформить полис страхования памятника</h2>
                                        <p>Позвоните нам</p>
                                        <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                        Или оставьте заявку и мы Вам перезвоним
                                        <a href="" class="button">Оставить заявку</a>
                                    </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p><b>Хотите защитить надгробные памятники на могилах умерших близких людей? Предлагаем  застраховать надгробные сооружения и не беспокоиться, если катаклизмы или вандалы повредят памятник.</b></p>
                                        <p>Компания «Честный Агент» при поддержке компании «РЕСО-гарантия» предоставляет услуги страхования надмогильных сооружений на кладбищах по программе страхования имущества физических лиц от следующих рисков:</p>
                                        <div class="list">
                                            <ul class="list__marked">
                                                <li>«Стихийные бедствия» – страхование от последствий наводнения, затопления, шквалистого ветра, бури, урагана, смерчи и града;</li>
                                                <li>«Противоправные действия третьих лиц» - страхование от мышленного уничтожения или повреждения надмогильного сооружения.</li>
                                            </ul>
                                        </div>
                                        <p>Период действия страхового полиса - 1 год.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="insurance__list silver-bg">
                    <div class="mbox">
                        <div class="insurance__box">
                            <div class="insurance__col">
                                <div class="list">
                                    <div class="list__head"><span>Балашиха</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Дятловское кладбище</a></li>
                                        <li><a href="#">Никольское кладбище</a></li>
                                        <li><a href="#">Никольско-Трубецкое кладбище</a></li>
                                        <li><a href="#">Новодеревенское кладбище</a></li>
                                        <li><a href="#">Пуршевское кладбище</a></li>
                                        <li><a href="#">Фенинское кладбище</a></li>
                                        <li><a href="#">Саввинское кладбище</a></li>
                                        <li><a href="#">Акатовское кладбище</a></li>
                                        <li><a href="#">Полтеевское кладбище</a></li>
                                        <li><a href="#">Пехра-Покровское кладбище</a></li>
                                        <li><a href="#">Новское кладбище</a></li>
                                        <li><a href="#">Никольско-Трубецкое кладбище</a></li>
                                        <li><a href="#">Братское кладбище</a></li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <div class="list__head"><span>Лыткарино</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Новое Лыткаринское</a></li>
                                        <li><a href="#">Островецкое</a></li>
                                        <li><a href="#">Петровское</a></li>
                                        <li><a href="#">Мячковское</a></li>
                                        <li><a href="#">Тураевское</a></li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <div class="list__head"><span>Дзержинский</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Новое Дзержинское кладбище</a></li>
                                        <li><a href="#">старое Дзержинское кладбище</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="insurance__col">
                                <div class="list">
                                    <div class="list__head"><span>Домодедово:</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Новое Городское кладбище</a></li>
                                        <li><a href="#">Заболотьевское кладбище</a></li>
                                        <li><a href="#">Заборьевское кладбище</a></li>
                                        <li><a href="#">Востряковское кладбище</a></li>
                                        <li><a href="#">Новое Буняковское кладбище</a></li>
                                        <li><a href="#">Меткинское кладбище</a></li>
                                        <li><a href="#">Жеребятьевское кладбище</a></li>
                                        <li><a href="#">Новое Ямское кладбище</a></li>
                                        <li><a href="#">Кладбище «Куприяниха»</a></li>
                                        <li><a href="#">Колычевское кладбище</a></li>
                                        <li><a href="#">Кузьминское кладбище</a></li>
                                        <li><a href="#">Лобановское кладбище</a></li>
                                        <li><a href="#">Косинское кладбище</a></li>
                                        <li><a href="#">Михайловское кладбище</a></li>
                                        <li><a href="#">Новое Вельяминовское кладбище</a></li>
                                        <li><a href="#">Шубинское кладбище</a></li>
                                        <li><a href="#">Новое Растуновское кладбище</a></li>
                                        <li><a href="#">Сокольническое кладбище</a></li>
                                        <li><a href="#">Успенское 3</a></li>
                                        <li><a href="#">Домодедовское сельское кладбище</a></li>
                                        <li><a href="#">среднее городское кладбище</a></li>
                                        <li><a href="#">Старое городское кладбище</a></li>
                                        <li><a href="#">Буняковское старое кладбище</a></li>
                                        <li><a href="#">Бурхинское кладбище</a></li>
                                        <li><a href="#">старое Ямское кладбище</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="insurance__col">
                                <div class="list">
                                    <div class="list__head"><span>Красногорск</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Тимошкинское кладбище</a></li>
                                        <li><a href="#">Козинское кладбище</a></li>
                                        <li><a href="#">Сабуровское кладбище</a></li>
                                        <li><a href="#">Красногорское кладбище</a></li>
                                        <li><a href="#">Петрово-Дальнее кладбище</a></li>
                                        <li><a href="#">Николо-Урюпинское кладбище</a></li>
                                        <li><a href="#">Ильинское кладбище</a></li>
                                        <li><a href="#">Нахабинское кладбище</a></li>
                                        <li><a href="#">Марьинское кладбище</a></li>
                                        <li><a href="#">Марьино-Знаменское кладбище</a></li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <div class="list__head"><span>Люберцы</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Токаревское кладбище</a></li>
                                        <li><a href="#">Ново-Люберецкое кладбище</a></li>
                                        <li><a href="#">Малаховское кладбище</a></li>
                                        <li><a href="#">Старо-Люберецкое кладбище</a></li>
                                        <li><a href="#">Кирилловское кладбище</a></li>
                                        <li><a href="#">Успенское кладбище</a></li>
                                        <li><a href="#">Михнеевское кладбище</a></li>
                                        <li><a href="#">Пехормское кладбище</a></li>
                                        <li><a href="#">Общественное кладбище п. Октябрьский</a></li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <div class="list__head"><span>Ногинск</span></div>
                                    <ul class="list__marked list__marked--none">
                                        <li><a href="#">Богородское кладбище</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="insurance__polis">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Стоимость полиса на 1 год</h2>
                        <p>Оплата единовременная</p>
                        <div class="insurance__table">
                            <table>
                                <tr>
                                    <th>Тариф</th>
                                    <th></th>

                                </tr>

                                <tr>
                                    <td>
                                        <p>Лимит страховой</p>
                                        <p>выплаты, руб</p>
                                    </td>
                                    <td>300 000</td>

                                </tr>
                                <tr>
                                    <td>
                                        <p>Страховая премия</p>
                                        <p>по полису, руб</p>
                                    </td>
                                    <td>
                                        450 000
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="insurance__do">
                    <div class="flex colored">
                        <div class="background-green">
                            <div class="content padding-overall">
                                <div class="box-text">
                                    <h2>Как оформить полис страхования </h2>
                                    <ul>
                                        <ol>Свяжитесь с контакт-центром уполномоченного партнера по оформлению полисов по телефону: 8 (495) 150 21 12</ol>
                                        <ol>Посетите кладбище для осмотра памятника совместно со страховым агентом и оформления полиса.</ol>
                                    </ul>
                                    <form action="" class="send-form">
                                        <input type="text" placeholder="Ваш номер телефона">
                                        <input type="submit" value="Оставить заявку на услугу" class="button a-playfair">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/flowers.jpg');">
                        </div>
                    </div>
                </div>
                <div class="insurance__if">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Что делать если памятник поврежден:</h2>
                        <div class="list">
                            <div class="list__head"><span>Действовать в соответствии с п.11 Правил страхования, в т.ч.:</span></div>
                            <ul class="list__marked">
                                <li>Принять все возможные меры по предотвращению или уменьшению ущерба и по спасению застрахованного имущества;</li>
                                <li>В течение 24 часов обратиться в соответствующие компетентные органы (полицию МЧС, др.); Также необходимо вызвать смотрителя кладбища и составить акт осмотра с подробным описанием повреждений.</li>
                                <li>В течение 72 часов с момента обнаружения письменно уведомить СПАО «РЕСО-Гарантия» любым доступным способом;</li>
                                <li>До осмотра Страховщиком сохранить поврежденное имущество в том виде, в котором оно оказалось после наступления страхового случая;</li>
                                <li>Представить в СПАО «РЕСО-Гарантия» документы и материалы, необходимые для принятия решения о страховой выплате;</li>
                            </ul>
                        </div>
                        <span><b>Дополнительно рекомендуем:</b></span>
                        <p>при обнаружении повреждений, обратиться в СПАО «РЕСО-Гарантия» по тел +7 (495) 730-30-00 для получения всех инструкций по дальнейшим действиям.</p>
                        <div class="list">
                            <p>При обращении в СПАО «РЕСО-Гарантия» необходимо назвать номер страхового полиса;</p>
                            <ul class="list__marked">
                                <li>Сфотографировать повреждения на мобильный телефон;</li>
                                <li>Следовать инструкциям, полученным от страховой компании;</li>
                                <li>Дать согласие на проведение работ по ремонту надмогильного сооружения (по установленной форме).</li>
                                <li>После проведения работ принять работы по ремонту надмогильного сооружения и подписать акт.</li>
                                <li>Представить в СПАО «РЕСО-Гарантия» документы и материалы, необходимые для принятия решения о страховой выплате;</li>
                            </ul>
                        </div>
                        <p> Подробнее об услуге можно узнать, позвонив в круглосуточный колл-центр по телефону: 8 (495) 150 21 12.</p>
                    </div>
                </div>
                <div class="prah__get">
                    <div class="background-green">
                        <div class="flexible-width padding-overall request-call">
                            <div class="box box-call">
                                <h2>Оформить полис страхования на памятники</h2>
                                <p>Позвоните нам для подробной консультации. <br> Это бесплатно.</p>
                                <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                Или оставьте заявку и мы Вам перезвоним
                                <a href="" class="button">Вызвать агента</a>
                            </div>
                            <div class="box-text">
                                <p>Страхование памятников в СПАО «Ресо-Гарантия» осуществляется в соответствии с «Правилами страхования имущества физических лиц от огня и других опасностей» (Ознакомиться с Правилами можно на официальном сайте СПАО «Ресо-Гарантия» www.reso.ru)Услуга предоставляется СПАО «РЕСО-Гарантия», Лицензии №СИ № 1209 от 20.08.2015. Уполномоченным страховым агентом СПАО РЕСО-Гарантия по заключению договоров страхования памятников является ООО «РИП», ИНН7720404602/КПП: 772001001, юр.адрес 111024, Москва, 2-я ул Энтузиастов д.5, корп.1, этаж 2, комната 9 (РМ2).  Для оформления страхового полиса и по иным вопросам, связанным со страхованием, обращаться по телефону +7(499)649-20-15 доб. 5178</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>