//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Морг Красногорской городской больницы</h2>
        </div>
        <section class="shop">
            <div class="mbox">
                <div class="urna__how">
                    <div class="prah__box">
                        <div class="prah__col center">
                            <div class="box box-call">
                                <h2>Вызвать агента в морг</h2>
                                <p>Позвоните нам</p>
                                <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                Или оставьте заявку и мы Вам перезвоним
                                <a href="" class="button">Оставить заявку</a>
                            </div>
                        </div>
                        <div class="prah__col center center--left">
                            <div>
                                <div class="prah__list">
                                    <p><b>Адрес морга:</b></p>
                                    <p>Московская область, <br> город Красногорск, улица Карбышева, дом 4</p>
                                    <p><b>Часы работы колумбария:</b></p>
                                    <p>Понедельник-пятница: 09:00 - 15:00 <br> Суббота: 09:00 - 13:00 <br>Воскресенье: выходной день</p>
                                    <p><b>Телефон для справок:</b> 8 (495) 150-21-12</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kras__info">
                <div class="shop__about">
                    <div class="flex colored reverse">
                        <div class="background-silver">
                            <div class="content padding-overall">
                                <h2>Информация о морге</h2>
                                <p> Морг выдает медицинское свидетельство о смерти по государственному образцу. В нем расположена патологоанатомическое отделение и судебно-медицинская экспертиза.</p>
                                <p>В морге работает специалист похоронный службы «Честный Агент», к которому можно обратиться за следующими услугами:</p>
                                <div class="list">
                                    <ul class="list__marked">
                                        <li>организации похорон;</li>
                                        <li>организации гражданской панихиды;</li>
                                        <li>оформления перевозки тела «грузом-200»;</li>
                                        <li>консультативной помощью.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/mrg.png');">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kras__how">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Как добраться до морга при Красногорской городской больнице</h2>
                    <p><b>На общественном транспорте:</b></p>
                    <p>от метро «Тушинская» автобусом 806, 833</p>
                    <p><b>На машине:</b></p>
                </div>
            </div>
            <div class="kras__half">
                <div class="kras__map">
                    <img src="images/map_1.png" alt="">
                </div>
                <div class="kras__map">
                    <img src="images/map_2.png" alt="">
                </div>
            </div>
            <div class="kras__spravka">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Справочная моргов. Телефон морга</h2>
                    <p>Если исчез человек, то нужно позвонить по телефону 112 и уточнить в «Скорой помощи» не находится ли он в больнице. Информация о поступивших ежедневно поступает в специальные службы, информацию о неопознанных телах (включая приметы: рост, вес, цвет волос, возраст, одежда и прочее) – поставляют дежурные части ОВД и морги.</p>
                    <div class="kras__box">
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Узнать адрес морга можно, позвонив в следующие службы:</h2>
                            <p>Единая справочная моргов Москвы. Бюро регистрации несчастных случаев в Москве расположена: улица Щепкина, дом 20
                                <br> Телефон: +7-495-688-22-52.
                            </p>
                            <p>
                                Бюро регистрации несчастных случаев ГУ МВД России по Москве <br> Телефон: +7 (495) 684-44-03.
                            </p>
                        </div>
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Горячая линия о госпитализированных в Москве:</h2>
                            <div class="kras__phone">
                                <span>+7 (499) 445-57-66</span>
                                <span>+7 (499) 445-01-02</span>
                                <span>+7 (499) 445-02-13</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>