//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Многофункциональные центры</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p>Многофункциональные центры (МФЦ) или центры госулуг работают по принципу «одного окна». Если Вы являетесь родственником умершего и у Вас собраны все необходимые документы, то предоставив их в МФЦ, Вы сможете получить гербовое свидетельство о смерти, которое требуется для получения разрешения на захоронение. Также эту работу можно поручить ритуальному агенту / менеджеру компании «Честный Агент».
                                        </p>
                                        <h2 class="new-title new-title--left">Оформление документов</h2>
                                        <p>Если Вам необходимо оформить пакет документов для организации погребения,  и у вас нет возможности / желания посещать все необходимые инстанции, то Вы можете переложить весь груз данных забот на плечи наших сотрудников. Для этого необходимо позвонить в наш круглосуточный колл-центр и вызвать нашего сотрудника на дом, оформить на него доверенность (от руки), подписать официальный договор на оказание услуг. Наш сотрудник в максимально короткий срок оформит все необходимые бумаги, проконсультирует относительно выбора кладбища и места для захоронения, поможет определиться с ритуальными товарами и услугами. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">
                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Адреса МКУ Москвы и Московской области</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link active">На карте</a>
                            <a href="#" class="tabs__link js-tab-link">Списком</a>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__bodies">
                            <div class="tabs__content active">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МФЦ <br> в Москве</h2>
                                    <p>Центры госуслуг "Мои Документы" работают семь дней в неделю с 08:00 до 20:00,
                                        <br> флагманские офисы: ежедневно с 10:00 до 22:00.</p>
                                </div>
                            </div>
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МФЦ <br> в Московской области</h2>
                                    <p>Центры госуслуг "Мои Документы" работают семь дней в неделю с 08:00 до 20:00, в некоторых местностях с 08:00 до 18:00 уточняйте на сайте:</p>
                                    <a href="#">https://mfc-gosuslugi.ru/adresa/moskovskaya-obl</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br> договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для получения всех необходимых разрешений на поведение захоронения Вы можете обратиться за помощью к нашим менеджерам и агентам по телефону +7 (495) 150 21 12.</p>
                                    <p>Мы поможем быстро  оформить все необходимые бумаги в максимально короткий период времени.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__list silver-bg">
                <div class="mbox">
                    <div class="desc">
                        <div class="desc__col">
                            <h2 class="new-title new-title--left">Для получения гербового видетельства о смерти необходимо предоставить в МФЦ: </h2>
                            <div class="desc__box">
                                <div class="list">
                                    <ul class="list__marked">
                                        <li>Заявление по установленной форме.</li>
                                        <li>Медицинское заключение о смерти.</li>
                                        <li>Паспорт ответственного за организацию похорон</li>
                                        <li>Паспорт умершего.</li>
                                        <li>Доверенность или подтверждение полномочий ритуального агента, если Вы поручаете эту работу сотрудникам «Честного Агента».</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="desc__col">
                            <h2 class="new-title new-title--left"> Как получить гербовое свидетельство о смерти</h2>

                            <div class="desc__box">
                                    <p>Узнать о том, как получить гербовое гербовое свидетельство о смерти можно, позвонив по единому многоканальному номеру центров госуслуг: +7 495 777-77-77 </p>
                                    <p> В некоторых ЗАГС  также есть возможность получения гербового свидетельства о смерти. Уточнить адреса таких ЗАГС можно также по телефону +7 495 777-77-77   или по круглосуточному телефону колл-центра компании «Честный Агент»: 8 495 150 21 12</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>