//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Морги Москвы и Московской области</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p>Морги (от франц. morgue – место опознания умерших) – государственные медицинские танатологические учреждения, предназначенные для сохранения тел умерших в специальных холодильных камерах. Сотрудники моргов проводят в медицинскую экспертизу наступления смерти умершего, в том числе со вскрытием (в ряде случаев).</p>
                                        <p>Все умершие направляются в морг службами спец.перевозки, независимо от места и причины смерти. В морге тело умершего обмывают, проводят восстановительные (при необходимости) и косметические процедуры, бальзамирование, одевание и укладывание в гроб. Только после этого тело умершего можно переносить в прощальный зал для панихиды (церемонии прощания) или перевозить непосредственно к месту захоронения.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">
                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Адреса городских моргов</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link">На карте</a>
                            <a href="#" class="tabs__link js-tab-link active">Списком</a>
                        </div>
                    </div>
                    <div class="tabs tabs__double">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                            </div>
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все морги</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Судебно-медицинские морги</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Патолого-анатомические морги</a>
                                </div>
                            </div>
                        </div>
                        <div class="cemetery__container">
                            <div class="mbox">
                                <div class="tabs__bodies">
                                    <div class="tabs__content active">
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Балашиха</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Балашихинский морг СМЭ</a>
                                                        <p>г. Балашиха, шоссе Энтузиастов, д. 22</p>
                                                        <p>Телефон: 8-495-524-44-03</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы объединения учреждений
                                                            здравоохранения</a>
                                                        <p>Балашихинского района
                                                            143900, г. Балашиха, шоссе Энтузиастов, д.
                                                            41</p>
                                                        <p>Телефон: 521-68-00</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Железнодорожный</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Железнодорожный морг СМЭ</a>
                                                        <p>г. Железнодорожный, Носовихинское шоссе,
                                                            д. 12</p>
                                                        <p>Телефон: 8-495-522-18-95</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Люберцы</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкий морг СМЭ</a>
                                                        <p>г. Люберцы, Октябрьский просп., д. 338</p>
                                                        <p>Телефон: 8-495-554-03-86</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой больницы им. А.В. Ухтомского
                                                            патологоанатомическое отделение</a>
                                                        <p>Московская область, г. Люберцы, ул. Кирова, д. 36</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой районной больницы № 1</a>
                                                        <p>Московская область, Люберецкий район,
                                                            поселок Красково, ул. Карла Маркса, д. 90</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой районной больницы № 2</a>
                                                        <p>140006, г. Люберцы, Октябрьский просп., д.
                                                            338</p>
                                                        <p>Телефон: 554-55-44</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Красногорск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Красногорский морг СМЭ</a>
                                                        <p>г. Красногорск, ул. Карбышева, д. 4</p>
                                                        <p>Телефон: 8-495-563-88-03</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Ногинск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Ногинский морг СМЭ</a>
                                                        <p>г. Старая Купавна, ул. Матросова, д. 15</p>
                                                        <p>Телефон: 8-496-519-54-40</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Домодедово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Домодедовский морг СМЭ</a>
                                                        <p>г. Домодедово, ул. Ильюшина, д. 13/19</p>
                                                        <p>Телефон: 8-496-792-74-56</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Видное</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Видновский морг СМЭ</a>
                                                        <p>г. Видное, ул. Заводская, д. 15</p>
                                                        <p>Телефон: 8-495-541-67-01; 8-499-272-10-90</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Видновского муниципального
                                                            медицинского объединения</a>
                                                        <p>142700, г. Видное, Заводская улица, д. 15</p>
                                                        <p>Телефон: 541-98-11</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Дмитров</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Дмитровский морг СМЭ</a>
                                                        <p>г. Дмитров, ул. Больничная, д. 7</p>
                                                        <p>Телефон: 8-495-993-99-45</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Жуковский</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Жуковский морг СМЭ</a>
                                                        <p>г. Жуковский, ул. Фрунзе, д. 1, корп. 5</p>
                                                        <p>Телефон: 8-495-556-83-12</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Истра</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Истринский морг СМЭ</a>
                                                        <p>г. Истра, ул. Урицкого, д. 83</p>
                                                        <p>Телефон: 8-496-316-41-36</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Королев</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Королёвский морг СМЭ</a>
                                                        <p>г. Королёв, ул. Сталинградской битвы, д. 13 </p>
                                                        <p>Телефон: 8-495-519-64-72</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Лобня</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Лобненский морг СМЭ</a>
                                                        <p>г. Лобня, ул. Заречная, д. 15 </p>
                                                        <p>Телефон: 8-498-672-86-57</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Лосино-Петровск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Лобненский морг СМЭ</a>
                                                        <p>г. Лобня, ул. Заречная, д. 15 </p>
                                                        <p>Телефон: 8-498-672-86-57</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Мытищи</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Мытищинский морг СМЭ</a>
                                                        <p>г. Мытищи, ул. Коминтерна, д. 24  </p>
                                                        <p>Телефон: 8-495-586-51-72</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Мытищинской муниципальной городской
                                                            больницы</a>
                                                        <p>1410009, г. Мытищи, ул. Коминтерна, д. 24</p>
                                                        <p>Телефон: 586-45-77</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Наро-Фоминск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Наро-Фоминский морг СМЭ</a>
                                                        <p>г. Наро-Фоминск, ул. Калинина, д. 13а </p>
                                                        <p>Телефон: 8-496-343-72-82</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Одинцово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Одинцовский морг СМЭ</a>
                                                        <p>г. Одинцово, Красногорское шоссе, д. 15 </p>
                                                        <p>Телефон: 8-495-593-17-25</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Одинцовской центральной районной
                                                            больницы</a>
                                                        <p>143000, г. Одинцово, ул. Маршала Бирюзова, д. 7</p>
                                                        <p>Телефон: 593-05-97</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Орехово-Зуево</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Орехово-Зуевский морг СМЭ</a>
                                                        <p>г. Орехово-Зуево, ул. Барышникова, д. 13 </p>
                                                        <p>Телефон: 8-496-425-78-66</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Подольск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Подольский морг СМЭ</a>
                                                        <p>г. Климовск, просп. 50 лет Октября, д. 21</p>
                                                        <p>Телефон: 8-496-762-29-71</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Пушкино</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Пушкинский морг СМЭ</a>
                                                        <p>г. Пушкино, ул. Авиационная, д. 35</p>
                                                        <p>Телефон: 8-496-585-45-22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Раменское</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Раменский морг СМЭ</a>
                                                        <p>г. Раменское, ул. Махова, д. 14</p>
                                                        <p>Телефон: 8-496-463-46-19</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Химки</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Химкинский морг СМЭ</a>
                                                        <p>г. Химки, микрорайон Сходня, ул. Мичурина, д. 31</p>
                                                        <p>Телефон: 8-495-574-15-89</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Химкинского районного
                                                            территориального медицинского
                                                            объединения</a>
                                                        <p>141400, Куркинское ш., д. 11</p>
                                                        <p>Телефон: 571-04-81</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Щелково</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Щёлковский морг СМЭ</a>
                                                        <p>г. Фрязино, ул. Московская, д. 7, строение 9</p>
                                                        <p>Телефон: 8-496-567-24-98</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Электросталь</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Электростальский морг СМЭ</a>
                                                        <p>г. Электросталь, ул. Пушкина, д. 3</p>
                                                        <p>Телефон:  8-496-574-71-55</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Москва</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно-медицинский морг в Котляках (Котляковский морг)</a>
                                                        <p>Москва, Тарный проезд, д. 3, стр.2</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг при ЦИТО (филиал судебно - медицинского морга № 2)</a>
                                                        <p>125299, Москва, ул. Приорова, д. 10</p>
                                                        <p>Телефон: 153-27-01</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 1 (морг при НИИ Морфологии человека)</a>
                                                        <p>117418, Москва, ул. Цюрупы, д. 3, стр. 1</p>
                                                        <p>Телефон: (499) 120-31-68
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 2 (морг при РГМУ)</a>
                                                        <p>119435, Москва, Хользунов пер., д. 7</p>
                                                        <p>Телефон: 245-06-96; 245-10-65; 246-45-28;
                                                            245-35-70; 246-04-64; 245-06-96;
                                                            245-10-65; 246-45-28; 245-35-70;
                                                            246-04-64;</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг при ЦКБ РАН (филиал судебно медицинского морга № 2)</a>
                                                        <p>Москва, Литовский б-р, д. 1</p>
                                                        <p>Телефон: 427-97-30</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 3 (морг при НИИ СП им. Склифосовского)</a>
                                                        <p>129010, Москва, Б. Сухаревская пл., д. 3, корп. 9</p>
                                                        <p>Телефон: 928-83-05</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 4 (Московский городской центр судебно - медицинской экспертизы огнестрельной и взрывной травмы)</a>
                                                        <p>107005, Москва, Волховский пер., д. 25</p>
                                                        <p>Телефон: 261-21-18; 261-06-13; 261-29-28; 261-21-18;
                                                            261-06-13; 261-29-28;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 5 (морг при ГКБ № 67)</a>
                                                        <p>123448, Москва, ул. Саляма Адиля, д. 2</p>
                                                        <p>Телефон: 197-08-85; 199-54-01;
                                                            199-93-91; 197-08-85;
                                                            199-54-01; 199-93-91;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 6 (морг при ГКБ № 29)</a>
                                                        <p>111020, Москва, Госпитальная пл., д.2</p>
                                                        <p>Телефон: (499) 263-15-37</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 7 (Люблинское трупохранилище)
                                                        </a>
                                                        <p>109382, Москва, ул. Люблинская, д. 66, корп. 4</p>
                                                        <p>Телефон: 351-59-90;
                                                            351-59-92; 351-59-90;
                                                            351-59-92;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 8</a>
                                                        <p>105058, Москва, Фортунатовская ул., д. 1</p>
                                                        <p>Телефон: 365-25-84</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 9 (морг при ГКБ № 70)</a>
                                                        <p>111399, Москва, Федеративный просп., д. 17, корп. 6</p>
                                                        <p>Телефон: 303-06-04; 302-63-36; 302-82-34;
                                                            303-37-20; 303-06-04;
                                                            302-63-36; 302-82-34; 303-37-20;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 10 (морг при ГКБ им. Боткина)</a>
                                                        <p>125101, Москва, 2-й Боткинский пр., д. 5, корп. 33</p>
                                                        <p>Телефон: 945-34-83; 945-47-36;
                                                            945-32-43; 945-34-83;
                                                            945-47-36; 945-32-43;

                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 11 (морг при ГКБ № 57)</a>
                                                        <p>105077, Москва, 11-я Парковая ул., д. 32/61, корп. 7</p>
                                                        <p>Телефон: 965-74-14; 965-74-47;
                                                            965-74-39; 965-74-14;
                                                            965-74-47; 965-74-39;

                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 12 (Троекуровское трупохранилище)</a>
                                                        <p>121471, Москва, ул. Рябиновая, д. 24, стр. 7</p>
                                                        <p>Телефон: 448-66-27; 447-50-46;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг г. Зеленограда (морг ГКБ № 3)</a>
                                                        <p>129489, Зеленоград, пр. № 4923, д. 2, стр. 12</p>
                                                        <p>Телефон: 535-82-73; 534-95-04; 534-90-92;
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__content">
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Балашиха</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Балашихинский морг СМЭ</a>
                                                        <p>г. Балашиха, шоссе Энтузиастов, д. 22</p>
                                                        <p>Телефон: 8-495-524-44-03</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Железнодорожный</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Железнодорожный морг СМЭ</a>
                                                        <p>г. Железнодорожный, Носовихинское шоссе,
                                                            д. 12</p>
                                                        <p>Телефон: 8-495-522-18-95</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Люберцы</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкий морг СМЭ</a>
                                                        <p>г. Люберцы, Октябрьский просп., д. 338</p>
                                                        <p>Телефон: 8-495-554-03-86</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Красногорск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Красногорский морг СМЭ</a>
                                                        <p>г. Красногорск, ул. Карбышева, д. 4</p>
                                                        <p>Телефон: 8-495-563-88-03</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Ногинск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Ногинский морг СМЭ</a>
                                                        <p>г. Старая Купавна, ул. Матросова, д. 15</p>
                                                        <p>Телефон: 8-496-519-54-40</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Домодедово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Домодедовский морг СМЭ</a>
                                                        <p>г. Домодедово, ул. Ильюшина, д. 13/19</p>
                                                        <p>Телефон: 8-496-792-74-56</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Видное</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Видновский морг СМЭ</a>
                                                        <p>г. Видное, ул. Заводская, д. 15</p>
                                                        <p>Телефон: 8-495-541-67-01; 8-499-272-10-90</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Дмитров</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Дмитровский морг СМЭ</a>
                                                        <p>г. Дмитров, ул. Больничная, д. 7</p>
                                                        <p>Телефон: 8-495-993-99-45</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Жуковский</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Жуковский морг СМЭ</a>
                                                        <p>г. Жуковский, ул. Фрунзе, д. 1, корп. 5</p>
                                                        <p>Телефон: 8-495-556-83-12</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Истра</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Истринский морг СМЭ</a>
                                                        <p>г. Истра, ул. Урицкого, д. 83</p>
                                                        <p>Телефон: 8-496-316-41-36</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Королев</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Королёвский морг СМЭ</a>
                                                        <p>г. Королёв, ул. Сталинградской битвы, д. 13 </p>
                                                        <p>Телефон: 8-495-519-64-72</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Лобня</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Лобненский морг СМЭ</a>
                                                        <p>г. Лобня, ул. Заречная, д. 15 </p>
                                                        <p>Телефон: 8-498-672-86-57</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Лосино-Петровск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Лобненский морг СМЭ</a>
                                                        <p>г. Лобня, ул. Заречная, д. 15 </p>
                                                        <p>Телефон: 8-498-672-86-57</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Мытищи</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Мытищинский морг СМЭ</a>
                                                        <p>г. Мытищи, ул. Коминтерна, д. 24  </p>
                                                        <p>Телефон: 8-495-586-51-72</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Наро-Фоминск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Наро-Фоминский морг СМЭ</a>
                                                        <p>г. Наро-Фоминск, ул. Калинина, д. 13а </p>
                                                        <p>Телефон: 8-496-343-72-82</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Одинцово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Одинцовский морг СМЭ</a>
                                                        <p>г. Одинцово, Красногорское шоссе, д. 15 </p>
                                                        <p>Телефон: 8-495-593-17-25</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Орехово-Зуево</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Орехово-Зуевский морг СМЭ</a>
                                                        <p>г. Орехово-Зуево, ул. Барышникова, д. 13 </p>
                                                        <p>Телефон: 8-496-425-78-66</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Подольск</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Подольский морг СМЭ</a>
                                                        <p>г. Климовск, просп. 50 лет Октября, д. 21</p>
                                                        <p>Телефон: 8-496-762-29-71</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Пушкино</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Пушкинский морг СМЭ</a>
                                                        <p>г. Пушкино, ул. Авиационная, д. 35</p>
                                                        <p>Телефон: 8-496-585-45-22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Раменское</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Раменский морг СМЭ</a>
                                                        <p>г. Раменское, ул. Махова, д. 14</p>
                                                        <p>Телефон: 8-496-463-46-19</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Химки</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Химкинский морг СМЭ</a>
                                                        <p>г. Химки, микрорайон Сходня, ул. Мичурина, д. 31</p>
                                                        <p>Телефон: 8-495-574-15-89</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Щелково</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Щёлковский морг СМЭ</a>
                                                        <p>г. Фрязино, ул. Московская, д. 7, строение 9</p>
                                                        <p>Телефон: 8-496-567-24-98</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Электросталь</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Электростальский морг СМЭ</a>
                                                        <p>г. Электросталь, ул. Пушкина, д. 3</p>
                                                        <p>Телефон:  8-496-574-71-55</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Москва</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно-медицинский морг в Котляках (Котляковский морг)</a>
                                                        <p>Москва, Тарный проезд, д. 3, стр.2</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг при ЦИТО (филиал судебно - медицинского морга № 2)</a>
                                                        <p>125299, Москва, ул. Приорова, д. 10</p>
                                                        <p>Телефон: 153-27-01</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 1 (морг при НИИ Морфологии человека)</a>
                                                        <p>117418, Москва, ул. Цюрупы, д. 3, стр. 1</p>
                                                        <p>Телефон: (499) 120-31-68
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 2 (морг при РГМУ)</a>
                                                        <p>119435, Москва, Хользунов пер., д. 7</p>
                                                        <p>Телефон: 245-06-96; 245-10-65; 246-45-28;
                                                            245-35-70; 246-04-64; 245-06-96;
                                                            245-10-65; 246-45-28; 245-35-70;
                                                            246-04-64;</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг при ЦКБ РАН (филиал судебно медицинского морга № 2)</a>
                                                        <p>Москва, Литовский б-р, д. 1</p>
                                                        <p>Телефон: 427-97-30</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 3 (морг при НИИ СП им. Склифосовского)</a>
                                                        <p>129010, Москва, Б. Сухаревская пл., д. 3, корп. 9</p>
                                                        <p>Телефон: 928-83-05</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 4 (Московский городской центр судебно - медицинской экспертизы огнестрельной и взрывной травмы)</a>
                                                        <p>107005, Москва, Волховский пер., д. 25</p>
                                                        <p>Телефон: 261-21-18; 261-06-13; 261-29-28; 261-21-18;
                                                            261-06-13; 261-29-28;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 5 (морг при ГКБ № 67)</a>
                                                        <p>123448, Москва, ул. Саляма Адиля, д. 2</p>
                                                        <p>Телефон: 197-08-85; 199-54-01;
                                                            199-93-91; 197-08-85;
                                                            199-54-01; 199-93-91;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 6 (морг при ГКБ № 29)</a>
                                                        <p>111020, Москва, Госпитальная пл., д.2</p>
                                                        <p>Телефон: (499) 263-15-37</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 7 (Люблинское трупохранилище)
                                                        </a>
                                                        <p>109382, Москва, ул. Люблинская, д. 66, корп. 4</p>
                                                        <p>Телефон: 351-59-90;
                                                            351-59-92; 351-59-90;
                                                            351-59-92;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 8</a>
                                                        <p>105058, Москва, Фортунатовская ул., д. 1</p>
                                                        <p>Телефон: 365-25-84</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 9 (морг при ГКБ № 70)</a>
                                                        <p>111399, Москва, Федеративный просп., д. 17, корп. 6</p>
                                                        <p>Телефон: 303-06-04; 302-63-36; 302-82-34;
                                                            303-37-20; 303-06-04;
                                                            302-63-36; 302-82-34; 303-37-20;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 10 (морг при ГКБ им. Боткина)</a>
                                                        <p>125101, Москва, 2-й Боткинский пр., д. 5, корп. 33</p>
                                                        <p>Телефон: 945-34-83; 945-47-36;
                                                            945-32-43; 945-34-83;
                                                            945-47-36; 945-32-43;

                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 11 (морг при ГКБ № 57)</a>
                                                        <p>105077, Москва, 11-я Парковая ул., д. 32/61, корп. 7</p>
                                                        <p>Телефон: 965-74-14; 965-74-47;
                                                            965-74-39; 965-74-14;
                                                            965-74-47; 965-74-39;

                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг № 12 (Троекуровское трупохранилище)</a>
                                                        <p>121471, Москва, ул. Рябиновая, д. 24, стр. 7</p>
                                                        <p>Телефон: 448-66-27; 447-50-46;
                                                        </p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Судебно - медицинский морг г. Зеленограда (морг ГКБ № 3)</a>
                                                        <p>129489, Зеленоград, пр. № 4923, д. 2, стр. 12</p>
                                                        <p>Телефон: 535-82-73; 534-95-04; 534-90-92;
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs__content">
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Балашиха</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы объединения учреждений
                                                            здравоохранения</a>
                                                        <p>Балашихинского района
                                                            143900, г. Балашиха, шоссе Энтузиастов, д.
                                                            41</p>
                                                        <p>Телефон: 521-68-00</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Дзержинский</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Дзержинского территориального
                                                            медицинского объединения</a>
                                                        <p>140056, г. Дзержинский, ул. Ленина</p>
                                                        <p>Телефон: 551-30-72</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Люберцы</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой больницы им. А.В. Ухтомского
                                                            патологоанатомическое отделение</a>
                                                        <p>Московская область, г. Люберцы, ул. Кирова, д. 36</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой районной больницы № 1</a>
                                                        <p>Московская область, Люберецкий район,
                                                            поселок Красково, ул. Карла Маркса, д. 90</p>
                                                    </li>
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Люберецкой районной больницы № 2</a>
                                                        <p>140006, г. Люберцы, Октябрьский просп., д.
                                                            338</p>
                                                        <p>Телефон: 554-55-44</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Лыткарино</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Лыткаринской городской больницы</a>
                                                        <p>140061, г. Лыткарино, Коммунистическая ул.,
                                                            д. 67</p>
                                                        <p>Телефон: 552-03-81</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Мытищи</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Мытищинской муниципальной городской
                                                            больницы</a>
                                                        <p>1410009, г. Мытищи, ул. Коминтерна, д. 24</p>
                                                        <p>Телефон: 586-45-77</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Одинцово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Одинцовской центральной районной
                                                            больницы</a>
                                                        <p>143000, г. Одинцово, ул. Маршала Бирюзова, д. 7</p>
                                                        <p>Телефон: 593-05-97</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Реутово</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Реутовского городского управления
                                                            здравоохранения городского больничного
                                                            комплекса</a>
                                                        <p>143952, г. Реутов, ул. Ленина, д. 2</p>
                                                        <p>Телефон: 528-74-23</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Долгопрудный</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Долгопрудненского городского
                                                            территориального медицинского
                                                            объединения</a>
                                                        <p>141700, г. Долгопрудный, ул. Павлова, д. 2</p>
                                                        <p>Телефон: 408-06-44</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Химки</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Химкинского районного
                                                            территориального медицинского
                                                            объединения</a>
                                                        <p>141400, Куркинское ш., д. 11</p>
                                                        <p>Телефон: 571-04-81</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <h2 class="new-title new-title--left bottom-line">Морги города Видное</h2>
                                            <div class="cemetery">
                                                <ul class="cemetery__list">
                                                    <li class="cemetery__item">
                                                        <a href="#" class="cemetery__name">Больницы Видновского муниципального
                                                            медицинского объединения</a>
                                                        <p>142700, г. Видное, Заводская улица, д. 15</p>
                                                        <p>Телефон: 541-98-11</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы моргов  <br> Московской области</h2>
                                    <p> с 09:00 до 15:00 <br> суббота, праздничные дни до 13:00 <br>  воскресенье: получить тело можно, если справка о смерти выдана в субботу.</p>
                                </div>
                            </div>
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы моргов <br> Москвы</h2>
                                    <p> с 09:00 до 15:00 <br> суббота, праздничные дни до 13:00 <br>  воскресенье: получить тело можно, если справка о смерти выдана в субботу.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br>  договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для определения, в какой морг был перевезен умерший, необходимо уточнить в каком медицинском учреждении он обслуживался. Морги прикреплены к определенным больницам. Один морг может обсуживать несколько больниц.</p>
                                    <p>Установление причины смерти и выдачу свидетельства о смерти осуществляют только патолого-анатомические отделения (ПАО) и отделения судебно-медицинской экспертизы (СМЭ).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="order background-green">
                <div class="mbox">
                    <div class="flex colored">
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Порядок посещения морга</h2>
                                <div class="list list--white">
                                    <ul class="list__marked">
                                        <li><b>Первое посещение</b> (на следующий день после перевозки тела в морг) Необходимо оформить медицинское свидетельство о смерти, оформит платные услуги морга, определиться с датой / временем передачи вещей для одевания умершего и датой / временем выдачи тела для кремации/похорон.</li>
                                        <li><b>Второе посещение </b>(накануне выдачи тела умершего для кремации / захоронения) передать одежду/вещи для облачения умершего</li>
                                        <li><b>Третье посещение</b>(в день кремации /похорон) прибыть в ритуальный зал морга, при себе иметь гербовое свидетельство о смерти.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Перевозка тела умершего</h2>
                                <p>Перевезти тело умершего в морг можно только городским спецтранспортом. Для Москвы и ряда городов Московской области работает городская ритуальная перевозка. У ряда льготных категорий граждан есть возможность воспользоваться бесплатной перевозкой.
                                </p>
                                <br>
                                <p>Вызвать службу перевозки тела умершего или уточнить, бесплатна ли будет перевозка для Вашего города (в Московской области), можно по телефону: 8 (495) 150 21 12.</p>
                                <br><br>
                                <div class="list list--white">
                                    <ul class="list__marked">
                                        <li><a class="a-playfair" href="#">Услуги ритуального автотранспорта (катафалк)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order background-silver">
                <div class="mbox">
                    <div class="flex colored">
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Бесплатные услуги морга</h2>
                                <div class="list">
                                    <ul class="list__marked">
                                        <li>хранение тела умершего до семи дней (в отдельных случаях до 14 дней);</li>
                                        <li>обмывание тела;</li>
                                        <li>одевание тела <br> (одежду передают родственники умершего);</li>
                                        <li>вынос гроба в ритуальный зал морга (зал прощания).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Платные услуги морга</h2>
                                <p>Цены на услуги морга устанавливаются государством, которое фиксирует их в специальном прейскуранте. Наличие такого прейскуранта обязательно для каждого морга.
                                </p>
                                <br>
                                <p>К платным услугам морга относят: пакет стандартных услуг по санитарно-косметической обработке тела умершего, по бальзамированию тела.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kras__spravka morgues__directory">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Справочная моргов. Телефон морга</h2>
                    <p>Если исчез человек, то нужно позвонить по телефону 112 и уточнить в «Скорой помощи» не находится ли он в больнице. Информация о поступивших ежедневно поступает в специальные службы, информацию о неопознанных телах (включая приметы: рост, вес, цвет волос, возраст, одежда и прочее) – поставляют дежурные части ОВД и морги.</p>
                    <div class="kras__box">
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Узнать адрес морга можно, позвонив в следующие службы:</h2>
                            <p>Единая справочная моргов Москвы. Бюро регистрации несчастных случаев в Москве расположена: улица Щепкина, дом 20
                                <br> Телефон: +7-495-688-22-52.
                            </p>
                            <p>
                                Бюро регистрации несчастных случаев ГУ МВД России по Москве <br> Телефон: +7 (495) 684-44-03.
                            </p>
                        </div>
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Горячая линия о госпитализированных в Москве:</h2>
                            <div class="kras__phone">
                                <span>+7 (499) 445-57-66</span>
                                <span>+7 (499) 445-01-02</span>
                                <span>+7 (499) 445-02-13</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="morgues__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2 class="new-title">Помощь в оформлении услуг морга</h2>
                            <p>Позвоните нам:</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                        <div class="box-text">
                            <h2 class="new-title">Сотрудники компании «Честный Агент»</h2>
                            <p>помогут защитить Вас от обмана и вымогательств, помогая оформить услуги морга строго по ценам прейскуранта.</p>
                            <p>Позвоните нам в круглосуточный колл-центр по приему звонков от населения: 8 (495) 150 21 12 или закажите обратный звонок. Наш сотрудник проконсультирует Вас и направит, в случае необходимости, нашего менеджера по указанному Вами адресу.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>