//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Морги Москвы и Московской области</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p>Морги (от франц. morgue – место опознания умерших) – государственные медицинские танатологические учреждения, предназначенные для сохранения тел умерших в специальных холодильных камерах. Сотрудники моргов проводят в медицинскую экспертизу наступления смерти умершего, в том числе со вскрытием (в ряде случаев).</p>
                                        <p>Все умершие направляются в морг службами спец.перевозки, независимо от места и причины смерти. В морге тело умершего обмывают, проводят восстановительные (при необходимости) и косметические процедуры, бальзамирование, одевание и укладывание в гроб. Только после этого тело умершего можно переносить в прощальный зал для панихиды (церемонии прощания) или перевозить непосредственно к месту захоронения.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">
                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Адреса городских моргов</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link active">На карте</a>
                            <a href="#" class="tabs__link js-tab-link">Списком</a>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                            </div>
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все морги</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Судебно-медицинские морги</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Патолого-анатомические морги</a>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__bodies">
                            <div class="tabs__content active">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы моргов  <br> Московской области</h2>
                                    <p> с 09:00 до 15:00 <br> суббота, праздничные дни до 13:00 <br>  воскресенье: получить тело можно, если справка о смерти выдана в субботу.</p>
                                </div>
                            </div>
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы моргов <br> Москвы</h2>
                                    <p> с 09:00 до 15:00 <br> суббота, праздничные дни до 13:00 <br>  воскресенье: получить тело можно, если справка о смерти выдана в субботу.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br>  договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для определения, в какой морг был перевезен умерший, необходимо уточнить в каком медицинском учреждении он обслуживался. Морги прикреплены к определенным больницам. Один морг может обсуживать несколько больниц.</p>
                                    <p>Установление причины смерти и выдачу свидетельства о смерти осуществляют только патолого-анатомические отделения (ПАО) и отделения судебно-медицинской экспертизы (СМЭ).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="order background-green">
                <div class="mbox">
                    <div class="flex colored">
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Порядок посещения морга</h2>
                                <div class="list list--white">
                                    <ul class="list__marked">
                                        <li><b>Первое посещение</b> (на следующий день после перевозки тела в морг) Необходимо оформить медицинское свидетельство о смерти, оформит платные услуги морга, определиться с датой / временем передачи вещей для одевания умершего и датой / временем выдачи тела для кремации/похорон.</li>
                                        <li><b>Второе посещение </b>(накануне выдачи тела умершего для кремации / захоронения) передать одежду/вещи для облачения умершего</li>
                                        <li><b>Третье посещение</b>(в день кремации /похорон) прибыть в ритуальный зал морга, при себе иметь гербовое свидетельство о смерти.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Перевозка тела умершего</h2>
                                <p>Перевезти тело умершего в морг можно только городским спецтранспортом. Для Москвы и ряда городов Московской области работает городская ритуальная перевозка. У ряда льготных категорий граждан есть возможность воспользоваться бесплатной перевозкой.
                                </p>
                                <br>
                                <p>Вызвать службу перевозки тела умершего или уточнить, бесплатна ли будет перевозка для Вашего города (в Московской области), можно по телефону: 8 (495) 150 21 12.</p>
                                <br><br>
                                <div class="list list--white">
                                    <ul class="list__marked">
                                        <li><a class="a-playfair" href="#">Услуги ритуального автотранспорта (катафалк)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order background-silver">
                <div class="mbox">
                    <div class="flex colored">
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Бесплатные услуги морга</h2>
                                <div class="list">
                                    <ul class="list__marked">
                                        <li>хранение тела умершего до семи дней (в отдельных случаях до 14 дней);</li>
                                        <li>обмывание тела;</li>
                                        <li>одевание тела <br> (одежду передают родственники умершего);</li>
                                        <li>вынос гроба в ритуальный зал морга (зал прощания).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="content padding-overall">
                                <h2 class="new-title new-title--left">Платные услуги морга</h2>
                                <p>Цены на услуги морга устанавливаются государством, которое фиксирует их в специальном прейскуранте. Наличие такого прейскуранта обязательно для каждого морга.
                                </p>
                                <br>
                                <p>К платным услугам морга относят: пакет стандартных услуг по санитарно-косметической обработке тела умершего, по бальзамированию тела.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kras__spravka morgues__directory">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Справочная моргов. Телефон морга</h2>
                    <p>Если исчез человек, то нужно позвонить по телефону 112 и уточнить в «Скорой помощи» не находится ли он в больнице. Информация о поступивших ежедневно поступает в специальные службы, информацию о неопознанных телах (включая приметы: рост, вес, цвет волос, возраст, одежда и прочее) – поставляют дежурные части ОВД и морги.</p>
                    <div class="kras__box">
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Узнать адрес морга можно, позвонив в следующие службы:</h2>
                            <p>Единая справочная моргов Москвы. Бюро регистрации несчастных случаев в Москве расположена: улица Щепкина, дом 20
                                <br> Телефон: +7-495-688-22-52.
                            </p>
                            <p>
                                Бюро регистрации несчастных случаев ГУ МВД России по Москве <br> Телефон: +7 (495) 684-44-03.
                            </p>
                        </div>
                        <div class="kras__col">
                            <h2 class="new-title new-title--left">Горячая линия о госпитализированных в Москве:</h2>
                            <div class="kras__phone">
                                <span>+7 (499) 445-57-66</span>
                                <span>+7 (499) 445-01-02</span>
                                <span>+7 (499) 445-02-13</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="morgues__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2 class="new-title">Помощь в оформлении услуг морга</h2>
                            <p>Позвоните нам:</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Оставить заявку</a>
                        </div>
                        <div class="box-text">
                            <h2 class="new-title">Сотрудники компании «Честный Агент»</h2>
                            <p>помогут защитить Вас от обмана и вымогательств, помогая оформить услуги морга строго по ценам прейскуранта.</p>
                            <p>Позвоните нам в круглосуточный колл-центр по приему звонков от населения: 8 (495) 150 21 12 или закажите обратный звонок. Наш сотрудник проконсультирует Вас и направит, в случае необходимости, нашего менеджера по указанному Вами адресу.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>