//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Кладбища Москвы и Московской области</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <div class="list">
                                            <div class="list__head">
                                                <span>Услуги на кладбище:</span>
                                            </div>
                                            <ul class="list__marked">
                                                <li><a href="#"> Захоронение гробом</a></li>
                                                <li><a href="#">Подзахоронение</a></li>
                                                <li><a href="#">Захоронения урн с прахом</a></li>
                                                <li><a href="#">Колумбарии</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">
                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Кладбища</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link active">На карте</a>
                            <a href="#" class="tabs__link js-tab-link">Списком</a>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                                <div class="tabs__helpers">
                                    <div class="helper">
                                        <label><input name="cmtr" type="radio"><i></i><span>Открытые</span></label>
                                    </div>
                                    <div class="helper">
                                        <label><input name="cmtr" type="radio"><i></i><span>С колумбарием</span></label>
                                    </div>
                                    <div class="helper">
                                        <label><input name="cmtr" type="radio"><i></i><span>С церковью</span></label>
                                    </div>
                                    <div class="helper">
                                        <label><input name="cmtr" type="radio"><i></i><span>Закрытые</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__bodies">
                            <div class="tabs__content active">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__complex shop__complex--simple">
                <div class="mbox">
                    <div class="flexible-width padding-overall">
                        <a href="#" class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Услуги захоронения гробом</strong>
                            <span>Организация похорон на новом участке на кладбище, включая все необходимые услуги по подготовке места захоронения, транспортировке тела, опусканию в могилу и закапыванию гроба, а также установку памятника.</span>
                        </a>
                        <a href="#" class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Услуги подзахоронения</strong>
                            <span>Организация похорон на участке, где захоронен родственник усопшего (на этом участке достаточно места для еще одного захоронения)</span>
                        </a>
                        <a href="#" class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Захоронение урн</strong>
                            <span>Организация захоронения урн с прахом усопшего после кремации на новом участке на кладбище, включая копку могилы под урну, формирование надмогильного холма и установку надмогильного сооружения.</span>
                        </a>
                        <a href="#" class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Услуги колумбария</strong>
                            <span>Организация захоронения урны в колумбарий с изготовление и установкой информационной таблички.</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br> договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для получения всех необходимых разрешений на поведение захоронения Вы можете обратиться за помощью к нашим менеджерам и агентам по телефону +7 (495) 150 21 12.</p>
                                    <p>Мы поможем быстро  оформить все необходимые бумаги в максимально короткий период времени.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="complete silver-bg">
                <div class="mbox">
                    <div class="list">
                        <ul class="list__marked list__marked--not">
                            <li><a href="#">Какие документы необходимы для оформления захоронения ?</a></li>
                            <li><a href="#">Как получить место на кладбище ?</a></li>
                            <li><a href="#">Как заказать захоронение в родственную могилу?</a></li>
                            <li><a href="#">Можно ли купить участок на кладбище заранее?</a></li>
                            <li><a href="#">Что такое "паспорт захоронения"?</a></li>
                        </ul>
                    </div>
                    <a href="#" class="ico-arrow-green a-playfair">Все статьи</a>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>