//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Захоронение урны с прахом в Москве и Московской области</h2>
            <p>Компания “Честный Агент” осуществляет услуги захоронения урн с прахом в землю (в могилу) и  в колумбарий.(Примечание. Колумбарий - стена для захоронения праха). </p>
        </div>
        <section class="prah">
            <div class="full-width banner b-lazy b-loaded" style="background-image: url('images/_imgs/funeral-hall/background.jpg');">
                <div class="flexible-width text-white">
                    <div class="banner-text">
                        <h2 class="new-title new-title--left">Варианты захоронения урны с прахом</h2>
                        <p>Наша компания предлагает Вам услуги по захоронению урны с прахом как традиционным способом (в землю), так и  по-современному, в колумбарии Московской области.</p>
                    </div>
                </div>
            </div>
            <div class="mbox">
                <div class="flexible-width padding-overall border-bottom">
                    <p class="horizontal-block">
                        <span class="img b-lazy b-loaded" style="background-image: url('images/_imgs/funeral-hall/background.jpg');"></span>
                        <a href="#"><strong>Захоронение урны с прахом в колумбарии</strong></a>
                        Основная цель проведения церемонии прощания - сохранение памяти усопшего. Наша компания предоставляет услуги прощания в ритуальном зале в крематориях и моргах. Все залы красиво оформлены, имеют все необходимое оснащение - постамент, вытяжная вентиляционная система, техника для музыкального и видеосопровождения гражданской панихиды. По желанию возможно проведение панихиды церемониймейстером, а также услуги отпевания священником.
                        <br><br>
                        <a href="" class="ico-arrow-green a-playfair">Заказать услугу</a>
                    </p>
                    <p class="horizontal-block">
                        <span class="img b-lazy b-loaded" style="background-image: url('images/_imgs/funeral-hall/background.jpg');"></span>
                        <a href=""><strong>Захоронение урны с прахом в землю</strong></a>
                        Основная цель проведения церемонии прощания - сохранение памяти усопшего. Наша компания предоставляет услуги прощания в ритуальном зале в крематориях и моргах. Все залы красиво оформлены, имеют все необходимое оснащение - постамент, вытяжная вентиляционная система, техника для музыкального и видеосопровождения гражданской панихиды. По желанию возможно проведение панихиды церемониймейстером, а также услуги отпевания священником.
                        <br><br>
                        <a href="" class="ico-arrow-green a-playfair">Заказать услугу</a>
                    </p>
                </div>
            </div>
            <div class="mbox">
                <div class="prah__box">
                    <div class="prah__col">
                        <div>
                            <div class="box box-call">
                                <h2 class="new-title">Заказать захоронение урны</h2>
                                Позвоните нам для подробной консультации. <br>Это бесплатно.
                                <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                Или оставьте заявку и мы Вам перезвоним
                                <a href="" class="button">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="prah__col">
                        <div>
                            <div class="prah__list">
                                <h2 class="new-title new-title--left">Для захоронения урны с прахом необходимо:</h2>
                                <div class="list">
                                    <ul class="list__marked">
                                        <li><a href="#">Выбрать кладбище</a> и <a href="#">колумбарий</a> в Московской области. Помощь с подбором направлений могут оказать агенты нашей компании</li>
                                        <li>Определиться будет ли это новое захоронение или захоронение урны с прахом в родственную могилу / ячейку колумбария.</li>
                                        <li>Собрать <a href="#">пакет документов для захоронения урны</a></li>
                                        <li> Оформить услуги на похороны урны с прахом (<a href="#">ознакомится с документом Порядок захоронения урны с прахом</a>).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="prah__stats background-silver">
                <div class="mbox">
                    <h2 class="new-title">Почему стоить доверить нам захоронение урны с прахом?</h2>
                    <ul class="flex stats">
                        <li>
                            <div>
                                <span>1 год для хранения урны с прахом в крематории (для отложеных похорон)</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Более 2000 захоронений в землю</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Более 300 захоронений в колумбарии</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Около 100 кладбищ для захоронения урны с прахом</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>5 колумбариев для захоронения урны с прахом</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="prah__need">
                <div class="mbox">
                    <h2 class="new-title">Перечень документов для захоронения урны</h2>
                    <div class="list">
                        <div class="list__head"><span>Документы для захоронения урны с прахом в колумбарии</span></div>
                        <div class="list__subhead"></div>
                        <ul class="list__marked">
                            <li> Паспорт или удостоверение личности организатора похорон со стороны умершего </li>
                            <li> Гербовое свидетельство о смерти (выдает МФЦ / Мои Документы). </li>
                            <li> Справка о кремации: выдает крематорий “Честный Алент”. </li>
                        </ul>
                    </div>
                    <div class="list">
                        <div class="list__head"><span>Документы для захоронения урны с прахом на кладбище</span></div>
                        <div class="list__subhead"></div>
                        <ul class="list__marked">
                            <li>Паспорт или удостоверение личности организатора похорон со стороны умершего.</li>
                            <li>Гербовое свидетельство о смерти (выдает МФЦ/ Мои документы на основании медицинского свидетельства о смерти, полученного в морге.</li>
                            <li>Договор на оказание услуг с ритуальным агентством / компанией, которой вы поручили организацию похорон урны с прахом.</li>
                            <li>Кассовый чек или форма БО-13 (заказ-наряд на ритуальные услуги/товары) - выдает ритуальное агентство/компания, которой вы поручили организацию похорон.</li>
                        </ul>
                    </div>
                    <div class="list">
                        <div class="list__head"><span>Документы для захоронения в родственную могилу</span></div>
                        <div class="list__subhead"><span>Для проведения родственного подзахоронения или погребения в родовою (семейную) могилу, необходимы нижеперечисленые документы:</span></div>
                        <ul class="list__marked">
                            <li>Паспорт или удостоверение личности организатора похорон со стороны умершего.</li>
                            <li>Гербовое свидетельство о смерти (выдает МФЦ)</li>
                            <li>Договор на оказание услуг с ритуальной компанией, которой вы поручили организацию похорон</li>
                            <li>Кассовый чек или форма БО-13 (заказ-наряд на похоронные услуги/товары): выдает ритуальная компания, которой вы поручили организацию похорон.</li>
                            <li>Паспорт захоронения (удостоверение о захоронении).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="prah__info silver-bg">
                <div class="mbox">
                    <div class="prah__about">
                          <span>В случае родового захоронения паспорт захоронения выдается при покупке семейного (родового) участка на открытом аукционе Департамента торговли и услуг г. Москвы или напрямую в Департаменте торговли и услуг г. Москвы в случае экстренной ситуации.
В случае родственного подзахоронения паспорт захоронения хранится у ответственного за участок / могилу. Документами, удостоверяющими родство умершего с уже захороненным умершим в случае родственного подзахоронения являются: свидетельство о браке, свидетельство о рождении, решение суда об усыновлении (удочерении), решение суда о признании родства и т.д.
</span>
                    </div>
                </div>
            </div>
            <div class="prah__steps border-bottom">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Порядок захоронения урны с прахом</h2>
                    <span>Урна с прахом может быть захоронена по-разному: <a href="#"> в новую могилу</a>, <a href="#">в родственную могилу</a> (подзахоронение),<a
                            href="#"> в колумбарий</a> (новая ячейка, подзахоронение в родственную  ячейку). Рассмотрим подробно все варианты и подскажем, на что обратить внимание.</span>
                </div>
            </div>
            <div class="prah__steps">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Порядок захоронения урны с прахом на кладбище в новую могилу</h2>
                    <p>  Урна с прахом захоранивается на специальном отдельном участке, размер участка определяет администрация кладбища на основании предписаний администрации города/ района/региона, к которому данное кладбище относится.</p>
                    <p>Для захоронения в землю необходимо получить урну с прахом в крематории (обычно через 3 дня после кремации). В отдельных случаях возможны другие сроки выдачи (обсудить сроки можно с ритуальным агентом, который оформлял документы на кремацию). Для получения урны необходимо предъявить документ на выдачу праха, паспорт Заказчика услуги, на кого данный документ выписан, паспорт умершего, свидетельство о смерти.</p>
                    <p>Лучшим вариантом будет получить прах совместно с агентом, который оформлял услуги на захоронение урны. Он поможет оформить свидетельство о кремации - специальное удостоверение о захоронении, а сотрудник крематория заполнит, а затем внесет запись о захоронении в регистрационную книгу. Можно, конечно, получить урну и самостоятельно. Для удобства доставки к месту похорон урну везут  в специальной сумке для транспортировки (продается в крематории).</p>
                    <p> Далее нужно созвониться с агентом, приехать на кладбище с урной с прахом и документами и произвести захоронение. Саму процедуру захоронения совершает работник кладбища. На могилу можно прямо в день похорон установить ограду (заказать ее следует заранее), поставить намогильный крест с мемориальной табличкой (ФИО и годы жизни) или заказанный заблаговременно памятник. Обращаем внимание, что если необходимо установить памятник сразу в день похорон, то похороны можно отложить. Для этого в крематории «Честный Агент» выделены 40 суток хранения праха бесплатно.  После 40 суток и в течение года за хранение праха взимается плата.</p>
                    <p> Кроме того, к захоронению в день похорон возлагаются цветы и венки, как и на обычных похоронах. В дальнейшем можно будет на могилу установить памятник, голгофу или саркофаг – это по желанию. По желанию памятник можно будет застраховать.</p>
                </div>
            </div>
            <div class="prah__links border-bottom border-top">
                <a href="#" class="prah__link">Ограды</a>
                <a href="#" class="prah__link">Памятники</a>
                <a href="#" class="prah__link">Кресты на могилу</a>
            </div>
            <div class="prah__steps">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Порядок захоронения урны с прахом в родственную могилу</h2>
                    <p> Порядок получения урны с прахом при захоронении в родственную могилу немного отличается. Заранее необходимо связаться с агентом, приехать на кладбище и указать могилу, в которой будет родственное захоронение.</p>
                    <p>Месте с документами на получение необходимо привезти с собой паспорт захоронения (хранится у родственника, на чье имя выписан паспорт на могилу). Далее, оформив документы, получив урну с прахом, необходимо вместе с агентом приехать на кладбище.</p>
                    <p>Захоронение в родственную могилу проходит по тем же правилам, что и в новую. Разница может быть только следующей: подзахоронение производится в могилу, где был захоронен родственник традиционным способом (в гробу) или подзахоронение в могилу, где был захоронен родственник в урне.</p>
                    <p>И в том и в другом случае необходимо решить, будет ли устанавливаться в дальнейшем новый памятник (заказывается заранее) или будет использоваться имеющийся, но на памятник в дальнейшем будут довнесены данные ФИО и дат рождения и смерти нового умершего. По этим вопросам можно проконсультироваться у Вашего агента. Он подскажет оптимальное решение.</p>
                    <p>Кроме того, к захоронению в день похорон возлагаются цветы и венки.</p>
                </div>
            </div>
            <div class="prah__links border-bottom border-top">
                <a href="#" class="prah__link">Кладбища</a>
                <a href="#" class="prah__link">Колумбарии</a>
                <a href="#" class="prah__link">Крематорий</a>
            </div>

            <div class="prah__steps">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Порядок захоронения урны с прахом в колумбарий</h2>
                    <p>При захоронении урны в колумбарий необходимо заранее созвониться с Вашим ритуальным агентом и выбрать ближайший к вам колумбарий.</p>
                    <p>Далее с документами (аналогично захоронениям в новую могилу -  если новая ячейка и аналогично захоронению в родственную могилу - если родственная ячейка) необходимо получить в крематории урну с прахом, приехать на кладбище с агентом  и произвести силами работников кладбища захоронение в колумбарий.</p>
                    <p>Обязательно необходимо заказать новую мемориальную плиту с ФИО обоих кремированных, которые будут в ячейке,  в колумбарии. Это делается заблаговременно, чтобы в день похорон в колумбарии можно было  старую табличку заменить на новую.</p>
                    <p>Чтобы успеть заменить табличку в колумбарии, в крематории «Честный Агент» выделены 40 суток хранения праха бесплатно.  После 40 суток и в течение года за хранение праха взимается плата.</p>
                    <p>В день похорон у ячейки возлагают цветы и ветки памяти (малые венки).</p>
                </div>
            </div>

            <div class="prah__egg silver-bg">
                <div class="mbox">
                    <div class="flexible-width padding-overall right-image-block">
                        <h2>Как выбрать урну для праха?</h2>
                        <p>
                            В первую очередь Вам необходимо определиться хотите ли вы, чтобы прах умершего  впоследствии естественным  образом разложился в земле или вашим желанием является вечное хранение праха в сосуде - урне для праха.
                        </p>

                        <a href="#" class="ico-arrow-green prah__how">Как выбрать урну для праха</a>
                    </div>
                    <div class="image-right" style="background-image: url('images/egg.png')"></div>
                </div>
            </div>
            <div class="prah__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2>Заказать захоронение урны с прахом. Вызвать агента</h2>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Вызвать агента</a>
                        </div>
                        <h2>Внимание!</h2>
                        Обращаем Ваше внимание, что прах кремированного умершего положено хранить в крематории не более 1 года. По истечении указанного срока администрация крематория обязана произвести процедуру похорон в месте так называемого общего захоронения. Естественно, с предварительным уведомлением об этом родственников.
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>