//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Пресс-центр</h2>
        </div>
        <section class="press">
            <div class="press__links">
                <div class="mbox">

                    <div class="tabs__go bottom-line">
                        <a href="#" class="tabs__link js-tab-link">История компании</a>
                        <a href="#" class="tabs__link js-tab-link">Обзор</a>
                        <a href="#" class="tabs__link js-tab-link active">Представителям СМИ</a>
                    </div>

                </div>
                <div class="press__smi">
                    <div class="prah__get">
                        <div class="background-green">
                            <div class="flexible-width padding-overall request-call">
                                <div class="box box-call">
                                    <h2>Представитель СМИ ?</h2>
                                    Наш пресс-секретарь ответит на любые Ваши вопросы
                                    <form action="" class="smi__form">
                                        <div class="area-1">
                                            <div class="form-input"><input type="text" id="FEEDB1" ><label for="FEEDB1">Название СМИ, которое вы представляете</label></div>
                                            <div class="form-input"><input type="text" id="FEEDB1" required=""><label for="FEEDB1">Ваше имя</label></div>
                                            <div class="form-input"><input type="tel" id="FEEDB2" required=""><label for="FEEDB2">Номер телефона</label></div>
                                            <div class="form-input"><input type="email" id="FEEDB4" required=""><label for="FEEDB4">Электронная почта</label></div>
                                        </div>
                                        <div class="area-2">
                                            <textarea placeholder="Ваше сообщение"></textarea>
                                        </div>
                                        <div class="smi__row">
                                            <div class="smi__code">
                                                <img src="images/code.png" alt="">
                                            </div>
                                            <div class="form-input">
                                                <input type="text" id="INPUTNAME1" ><label for="INPUTNAME1">код с картинки</label>
                                            </div>
                                            <button class="button"><span>Отправить</span></button>
                                        </div>
                                    </form>

                                </div>
                                <p>
                                    Персональные данные, указанные в настоящей форме и полученные непосредственно от субъекта персональных данных, обрабатываются АО «Честный Агент», зарегистрированным по адресу: Российская Федерация,143930, Московская область, город Балашиха, шоссе Носовихинское (Салтыковка Мкр.), владение 4, помещение 304, , путем сбора, записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения, использования, передачи (предоставления, доступа), обезличивания, блокирования, удаления, уничтожения, как с использованием, так и без использования средств автоматизации в течение срока, определенного законодательством РФ, в целях рассмотрения обращения субъекта персональных данных и предоставления ответа на это обращение в соответствии с Политикой конфиденциальности и Пользовательским Соглашением
                                </p>

                                <div class="otdel">
                                    <div class="otdel__head">
                                        <span> Отдел внешних коммуникаций:</span>
                                    </div>


                                    <div class="otdel__link">
                                        <span>Email: pr@openagent.ru</span>
                                    </div>
                                    <div class="otdel__link">
                                        <span>Телефон: 8 (495) 407-08-07</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>