//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Пресс-центр</h2>
        </div>
        <section class="press">
            <div class="press__links">
                <div class="mbox">

                    <div class="tabs__go bottom-line">
                        <a href="#" class="tabs__link js-tab-link">История компании</a>
                        <a href="#" class="tabs__link js-tab-link  active">Обзор</a>
                        <a href="#" class="tabs__link js-tab-link">Представителям СМИ</a>
                    </div>

                    <div class="press__obzor">
                        <h2 class="new-title new-title--left">Активно сотрудничаем со средствами массовой информации</h2>
                        <p>«Честный Агент» является публичной компанией. Мы готовы к общению и сотрудничеству с представителями СМИ и всеми, кому интересна наша деятельность. Мы самостоятельно подготавливаем пресс-релизы, даем официальные комментарии в профессиональных статьях, создаем инфоповоды.</p>
                        <p> Компания открыта для телевизионного освещения волнующих население тем, связанных с похоронной сферой. Компания «Честный Агент» является желанным гостем в телеэфирах телеканалов Рен, НТВ, 360°, на ТВ-канале «Дождь» и РБК-ТВ. Для создания видеорепортажей в помощь телевизионным СМИ мы предоставляем собственные видеоматериалы и другую медиа-информацию.</p>

                        <p>Также компания «Честный Агент» успешно сотрудничает с такими изданиями, как Forbes, RBK и «Известия». Наш пресс-центр регулярно публикует статистику и освещает общую ситуацию на ритуальном рынке. Являясь экспертами ритуальных услуг, мы приглашаем к сотрудничеству печатные и телевизионные СМИ для создания интересных и актуальных материалов , освещающих новейшие технологии и сферу ритуальных услуг.</p>
                    </div>
                </div>

                <div class="full-width banner b-lazy b-loaded" style="background-image: url('images/_imgs/funeral-hall/background.jpg');">
                    <div class="flexible-width text-white">
                        <div class="banner-text">
                            <p class="bottom-line"><b>Бизнес на доверии</b></p>
                            <h2 class="new-title new-title--left">ZOON: “Честный Агент” <br> новый подход к ритуальным услугам</h2>
                            <a href="" class="ico-arrow-green a-playfair whitelink">Заказать услугу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="press__release border-bottom">
                <div class="mbox">
                    <div class="release">
                        <div class="release__item">
                            <span> BRODUDE </span>
                            <p>В поледний путь: как организовать достоные похороны</p>
                            <div class="release__labe">
                                <span>10.11.2018</span>
                            </div>
                        </div>
                        <div class="release__item">
                            <span>Интерфакс-Россия</span>
                            <p>Каждое десятое захоронени в Подмосковье проходит через онлайн-сервис “Честный Агент”</p>
                            <div class="release__labe">
                                <span>09.08.2018</span>
                            </div>
                        </div>
                        <div class="release__item">
                            <span>Московский Комсомолец</span>
                            <p>“Честный Агент” - организация похорон “под ключ”</p>
                            <div class="release__labe">
                                <span>07.07.2018</span>
                            </div>
                        </div>
                    </div>
                    <div class="release__link">
                        <a href="" class="ico-arrow-green a-playfair">Другие пресс-релизы</a>
                    </div>

                </div>
            </div>
            <div class="press__soc">
                <div class="mbox">
                    <h2 class="new-title"> Честный Агент в социальных сетях </h2>
                    <div class="socs">
                        <a href="#" class="socs__item">
                            <div class="socs__img">
                                <img src="images/vk.png" alt="">
                            </div>
                            <div class="socs__text">
                                <span>ВКонтакте</span>
                            </div>
                        </a>
                        <a href="#" class="socs__item">
                            <div class="socs__img">
                                <img src="images/ok.png" alt="">
                            </div>
                            <div class="socs__text">
                                <span>Одноклассники</span>
                            </div>
                        </a>
                        <a href="#" class="socs__item">
                            <div class="socs__img">
                                <img src="images/fb.png" alt="">
                            </div>
                            <div class="socs__text">
                                <span>Facebook</span>
                            </div>
                        </a>
                        <a href="#" class="socs__item">
                            <div class="socs__img">
                                <img src="images/inst.png" alt="">
                            </div>
                            <div class="socs__text">
                                <span>Instagram</span>
                            </div>
                        </a>
                        <a href="#" class="socs__item">
                            <div class="socs__img">
                                <img src="images/you_tube.png" alt="">
                            </div>
                            <div class="socs__text">
                                <span>YouTube</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="press__video">
                <div class="mbox">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/qcto8M6xT8w" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video__about">
                        <div class="video__text">
                            <span>"Честный агент"</span>
                            <p>Крупнейшая ритуальная компания Московской области</p>
                        </div>
                        <a href="#" class="video__link">
                            <span>Наш канал на Youtube.com</span>
                            <div class="video__img">
                                <img src="images/you_tube.png" alt="">
                            </div>

                        </a>
                    </div>

                </div>

            </div>
            <div class="video__little">
                <div class="mbox">
                    <div class="video__items">
                        <div class="video__item">
                            <div class="video__prev">
                                <img src="images/imaga.png" alt="">
                            </div>
                            <div class="video__text">
                                <span>РЕН-ТВ</span>
                                <p>Сюжет на канале РЕН-ТВ. Выставка “Некрополь 2018”</p>
                            </div>
                        </div>
                        <div class="video__item">
                            <div class="video__prev">
                                <img src="images/imaga.png" alt="">
                            </div>
                            <div class="video__text">
                                <span>РЕН-ТВ</span>
                                <p>Сюжет на канале РЕН-ТВ. Выставка “Некрополь 2018”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>