//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Пресс-центр</h2>
        </div>
        <section class="press">
            <div class="press__links">
                <div class="mbox">

                    <div class="tabs__go bottom-line">
                        <a href="#" class="tabs__link js-tab-link active">История компании</a>
                        <a href="#" class="tabs__link js-tab-link">Обзор</a>
                        <a href="#" class="tabs__link js-tab-link">Представителям СМИ</a>
                    </div>

                    <div class="tabs">
                        <div class="tabs__cordon">
                            <div class="tabs__heads tabs__heads--inn">
                                <a href="#" class="tabs__head tabs__head--round js-tab active">1994</a>
                                <a href="#" class="tabs__head tabs__head--round js-tab">1999</a>
                                <a href="#" class="tabs__head tabs__head--round js-tab">2004</a>
                                <a href="#" class="tabs__head tabs__head--round js-tab">2009</a>
                                <a href="#" class="tabs__head tabs__head--round js-tab">2014</a>
                                <a href="#" class="tabs__head tabs__head--round js-tab">2019</a>
                            </div>
                        </div>
                        <div class="tabs__bodies">
                            <div class="tabs__tree"></div>
                            <div class="tabs__content active">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 1994 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1995 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1995 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1997 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 1999 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1999 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1999 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>1999 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 2004 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2004 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2004 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2004 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 2009 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2009 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2009 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>2009 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 2014 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20014 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20014 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20014 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="agent__checks">
                                    <div class="check">
                                        <div class="check__head">
                                            <span>16 марта 2019 года</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Основание компании “Горбрус” в Москве.Создание автопарка для бесплатной перевозки умерших в Балашихе и Люберцах.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20019 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>“Горбрус” становится госпоставщиком, участвуя в тендерах по ФЗ-44 в категориях “Услуги в области медицины прочие”, “Услуги по организации похорон и связанные с этим услуги”, “Изделия готовые прочие, не включенные в другие группировки” </span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20019 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Расширение территории работы. Начало работы в Красногорске.Переход Красногорского кладбища - мемориального комплекса, относящегося к Москве в ведомство администрации Красногорского раона Московской области и сотрудничество по захоронению. Переименование кладбища в Кладбище “Горбрус” , где компанией похоронены деятели культуры, искусства, кино, военно-служащие, удостоенные высоких званий и наград, спортсмены, а также другие известные личности.</span>
                                        </div>
                                    </div>
                                    <div class="check">
                                        <div class="check__head">
                                            <span>20019 год</span>
                                        </div>
                                        <div class="check__text">
                                            <span>Повыщение качества сервиса после прохождения программы и получения сертификата тренинговой программы “Experience of ritual services” в Швеции генеральным директором компании.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>