//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Интернет-магазин ритуальных товаров</h2>
        </div>
        <section class="shop">
            <div class="mbox">
                <div class="urna__how border-bottom">
                    <div class="prah__box">
                        <div class="prah__col center">
                            <div>
                                <div class="box box-call">
                                    <h2 class="new-title">Перейти в интернет-магазин ритуальных товаров и услуг</h2>
                                    <span>shop.openagent.ru</span>
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <p>Когда умирает близкий человек, мы все остаемся в большой растерянности и боли. После оформления всех необходимых документов, важным является купить ритуальные товары, при этом не переплачивая и имея свободу выбора без «давления» со стороны, как это обычно бывает.</p>
                                    <p>Оптимальным вариантом является покупка ритуальных товаров в Интернет-магазине.</p>
                                    <p><b>Купить ритуальные товары в Москве и Московской области недорого можно в интернет-магазине «Честный Агент» - shop.openagent.ru</b></p>
                                    <p>Чем удобен наш интернет-магазин? Здесь вы сможете не только купить гроб, ритуальный венок, крест на могилу и прочие ритуальные товары, но и выбрать сразу готовый набор товаров, чтобы сэкономить время.  Тут же в магазине Вы сможете произвести оплату заказа онлайн или вызвать курьера для оплаты через онлайн-кассу.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shop__spectr">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Полный спектр ритуальных товаров и услуг в интернет-магазине “Честный Агент”</h2>
                    <p>Готовые гробы и наборы с гробом в каталоге</p>
                    <div class="shop__slider js-shop-slider">
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 1</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 2</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб белый</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__grb silver-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left"> Купить гроб в Москве и в Подмосковье </h2>
                    <p>Купить ритуальные товары в Москве и Московской области не проблема. Однако, при покупке гроба возникает много нюансов. Лучшим вариантом для выбора гроба нужного размера будет вызов агента, который точно сможет сориентировать Вас по подходящей модели и ее параметрам. Однако, часто бывает так, что времени на выбор у родственников нет. Тогда наилучшим решением будет покупка гроба и нужных аксессуаров в Интернет-магазине.</p>
                    <p>Компания «Честный Агент» разработала оптимальные наборы ритуальных товаров «Гроб + аксессуары». Если у Вас нет времени и опыта в подборе ритуальных товаров для умершего, мы советуем Вам остановиться именно на готовых наборах.</p>
                    <p> В нашем Интернет-магазине мы советуем обращать внимание на подсказки, которые сориентируют вас по многим вопросам. Таким образом, Вы сможете собрать заказ правильно.</p>
                    <a href="#" class="ico-arrow-green prah__how">Каталог готовых наборов</a>

                </div>

            </div>
            <div class="shop__list border-bottom">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Каталог интернет-магазина “Честный Агент”</h2>
                    <div class="desc">
                        <div class="desc__col">
                            <div class="desc__box">
                                <div class="list">
                                    <div class="list__head"><span>Гробы</span></div>
                                    <ul class="list__marked">
                                        <li><a href="#">Готовые наборы с гробом для захоронения</a></li>
                                        <li><a href="#">Готовые наборы с гробом для кремации</a></li>
                                        <li><a href="#">Гробы, обитые тканью</a></li>
                                        <li><a href="#">Гробы деревянные</a></li>
                                        <li><a href="#">Гробы импортные</a></li>
                                        <li><a href="#">Ящики мусульманские</a></li>
                                        <li><a href="#">Гробы цинковые (Груз-200)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="desc__col">
                            <div class="desc__box">
                                <div class="list">
                                    <div class="list__head"><span>Урны для праха</span></div>
                                    <ul class="list__marked">
                                        <li><a href="#">Биоразлагаемые урны</a></li>
                                        <li><a href="#">Урны для праха деревянные</a></li>
                                        <li><a href="#">Урны для праха каменные</a></li>
                                        <li><a href="#">Урны для праха керамические</a></li>
                                        <li><a href="#">Урны для праха фарфоровые</a></li>
                                        <li><a href="#">Урны для праха пластиковые</a></li>
                                        <li><a href="#">Урны для праха стальные</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="shop__popular">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Популярные товары в интернет-магазине</h2>
                    <div class="shop__slider js-shop-slider">
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 1</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб и готовый набор для гроба 2</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб белый</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Купить гроб элитный</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__where green-bg">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Где заказать ритуальные услуги и товары на похороны</h2>
                    <p>Заказать товары для похорон – это только полдела.  Очень важно оформить в достаточно короткий срок перечень документов, необходимых для захоронения, определиться с кладбищем и местом на нем. Стоит иметь ввиду, что организация похорон в Москве обходится гораздо дороже, чем в Московской области. Лучшим вариантом будет обращение в крупные ритуальные агентства, предоставляющие все услуги «под ключ». В компании «Честный агент» менеджер-агент может приехать к вам на дом в любое время (даже ночью), помочь выбрать товары и определиться с пакетом услуг по кремации или по традиционному захоронению в землю. То есть вы сразу приобретаете комплекс услуг по кремации / захоронению, в который входит и захоронение и первичное благоустройство места захоронения (установку ограды, а также по Вашему желанию установку намогильного креста, памятной таблички, каменного памятника или мемориального комплекса). Обращаясь в «Честный Агент» и оплачивая картой или через кассу, Вы гарантированно ограждаете себя от дополнительных доплат и получаете контролируемый  качественный сервис. </p>
                    <div class="shop__firms">
                        <a href="#" class="shop__itm">
                            <div class="shop__i-img">
                                <img src="images/pct.png" alt="">
                            </div>
                            <div class="shop__i-text">
                                <span>Все услуги компании «Честный Агент» сертифицированны РосСтандартом</span>
                            </div>
                        </a>
                        <a href="#" class="shop__itm">
                            <div class="shop__i-img">
                                <img src="images/cart_white.png" alt="">
                            </div>
                            <div class="shop__i-text">
                                <span>Ритуальный интернет-магазин «Честный Агент» </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="shop__key">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Услуги Похороны “под ключ”</h2>
                    <p>Готовые гробы и наборы с гробом в каталоге</p>
                    <div class="shop__slider js-key-slider">
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Комплекс услуг по захоронению “БАЗОВЫЙ”</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Комплекс услуг по захоронению “СТАНДАРТ”</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Комплекс услуг по захоронению “БИЗНЕС”</span>
                                </div>
                            </a>
                        </div>
                        <div class="shop__slide">
                            <a href="#" class="shop__item">
                                <div class="shop__img">
                                    <img src="images/urn_3.png" alt="">
                                </div>
                                <div class="shop__text">
                                    <span>Комплекс услуг по захоронению “БИЗНЕС”</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop__about">
                <div class="flex colored reverse">
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2>О крематории “Честный Агент”</h2>
                            <p>Единственный крематорий в Московской области, полностью автоматизированный  и принимающий по электронной очереди. Быстрое оформление, кремация и хранение праха.</p>
                        </div>
                    </div>
                    <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/house.png');">
                    </div>
                </div>
            </div>
            <div class="shop__complex">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Комплекс услуг по кремации в крематории “Честный Агент”</h2>
                    <div class="flexible-width padding-overall">
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Комплекс услуг по кремации</strong>
                            <span>Стоимость: от 15200 рублей</span>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Создание видеонекролога</strong>
                            <span>Стоимость: 2500 рублей</span>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="shop__board">
                <div class="flex colored">
                    <div class="background-silver">
                        <div class="content padding-overall">
                            <h2>Лучшие колумбарии Московской области</h2>
                            <div class="best">
                                <a href="#" class="best__item">
                                    <p><b>Колумбарий на Красногорском кладбище</b></p>
                                    <span>г.Красногорск</span>
                                </a>
                                <a href="#" class="best__item">
                                    <p><b>Колумбарий на Пуршевском кладбище</b></p>
                                    <span>г.Балашиха</span>
                                </a>
                                <a href="#" class="best__item">
                                    <p><b>Колумбарий на Новодзержинском кладбище</b></p>
                                    <span>г.Дзержинский</span>
                                </a>
                                <a href="#" class="best__item">
                                    <p><b>Колумбарий на Тимошкинском кладбище</b></p>
                                    <span>г.Люберцы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="background-silver image b-lazy b-loaded" style="background-image: url('images/board.png');">
                    </div>
                </div>
            </div>
            <div class="shop__complex border-bottom">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Организация похорон урны с прахом в землю или колумбарий</h2>
                    <div class="flexible-width padding-overall">
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Комплекс услуг по захоронению урны в землю</strong>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                        <p class="horizontal-block small-image">
                            <span class="img b-lazy b-loaded" style="background-image: url('images/house.png');"></span>
                            <strong>Комплекс услуг по захоронению урны в колумбарий</strong>
                            <a href="" class="ico-arrow-green a-playfair">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="shop__articles">
                <div class="mbox">
                    <div class="art__box">
                        <div class="art">
                            <div class="art__img">
                                <img src="images/no_1.jpg" alt="">
                            </div>
                            <div class="art__text">
                                <a href="#">Как выбрать гроб?</a>
                                <p> На что стоит обратить внимание при выборе гроба для умершего родственника, какие параметры стоит учитывать, из каких материалов гробы лучше?</p>
                            </div>
                        </div>
                        <div class="art">
                            <div class="art__img">
                                <img src="images/urn_2.png" alt="">
                            </div>
                            <div class="art__text">
                                <a href="#">Как выбрать урну для праха?</a>
                                <p> Формы, размеры и материалы для производства урна для праха,  представленные на рынке, различаются и зависят от вида захоронения праха умершего человека.</p>
                            </div>
                        </div>
                        <div class="art">
                            <div class="art__img">
                                <img src="images/no_2.jpg" alt="">
                            </div>
                            <div class="art__text">
                                <a href="#">Как выбрать ритуальный венок?</a>
                                <p>Казалось бы, выбор ритуального венка, достаточно простой этап подготовки к похоронам. Однако, и здесь есть свои ньюансы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prah__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2>Организовать похороны</h2>
                            <p>Позвоните нам для подробной консультации. <br> Это бесплатно.</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Вызвать агента</a>
                        </div>
                        <div class="box-text">
                            <h2>Помогаем в трудную минуту</h2>
                            <p>Мы готовы проконсультировать Вас по всем вопросам связанным с кремацией, организацией похорон и благоустройством могилы.</p>
                            <p>Оставьте свой номер и мы Вам перезвоним.</p>
                            <form action="" class="send-form">
                                <input type="text" placeholder="Ваш номер телефона">
                                <input type="submit" value="Отправить" class="button a-playfair">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>