//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела"</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p>Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела" (далее МКУ) созданы для оказания помощи людям, столкнувшимся со смертью близких. МКУ осуществляют консультирование населения, предоставление мест для захоронения умерших, организуют ритуальные услуги (гарантированный перечь услуг, в том числе для умерших одиноких людей, не имеющих родственников и сбережений), поддерживают муниципальные кладбища в чистоте и порядке. МКУ действуют  строго в соответствии с законом «О погребении и похоронном деле в Московской области».</p>
                                        <div class="list">
                                            <div class="list__head">
                                                <span>МКУ выдает:</span>
                                            </div>
                                            <ul class="list__marked">
                                                <li>«Разрешение и удостоверение на захоронение умершего;</li>
                                                <li>Разрешение и удостоверение на захоронение умершего в родственную / семейную могилу;</li>
                                                <li>Разрешение и удостоверение о воинском захоронении;</li>
                                                <li>Разрешение на установку и замену надмогильных сооружений (надгробий);</li>
                                                <li>Замену старого удостоверения на захоронение на новое.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">

                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Адреса МКУ Москвы и Московской области</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link">На карте</a>
                            <a href="#" class="tabs__link js-tab-link active">Списком</a>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                            </div>
                        </div>
                        <div class="cemetery__container">
                            <div class="mbox">
                                <div class="tabs__bodies">
                                    <div class="tabs__content active">
                                        <h2 class="new-title new-title--left bottom-line">Все МКУ</h2>
                                        <div class="cemetery">
                                            <ul class="cemetery__list">
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ городского округа Домодедово Московской области "Специализированная служба в сфере погребения и похоронного дела"</a>
                                                    <p>Адрес: 142000, Московская область, город Домодедово, мкр. </p>
                                                    <p>Центральный, ул. Кирова, д. 26</p>
                                                    <p>Телефон: 8-925-026-58-06</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение «Уполномоченный орган в сфере погребения и похоронного дела» Ленинского муниципального района</a>
                                                    <p>Адрес: Московская область, Ленинский район, город Видное, ул. Школьная, д. 70, подъезд №3, квартира 20</p>
                                                    <p>Телефон: 8-495-107-51-28</p>
                                                    <p>режим работы: </p>
                                                    <p>с понедельника по четверг с 9:00 до 18:00, в пятницу с 9:00 до 16:45, перерыв с 13:00 до 13:45, </p>
                                                    <p>суббота и воскресенье – выходной.</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение городского округа Жуковский Ритуальная служба</a>
                                                    <p>Адрес: ул. Фрунзе, дом 1, город Жуковский, Московская область, 140181</p>
                                                    <p>Телефон: 8 (495) 556-01-66</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Красногорская похоронная служба" Фдминистрации городского округа Красногорск Московской области (МКУ "КПС")</a>
                                                    <p>Адрес: Московская область, город Красногорск, ул. Комсомольская, д. 31</p>
                                                    <p>Телефон: 8 (499) 673-44-96</p>
                                                    <p>Понедельник - пятница: с 9.00 до 18.00</p>
                                                    <p>Перерыв на обед: с 13.00 до 14.00</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МУ Люберецкая ритуальная служба городского округа Люберцы Московской области</a>
                                                    <p>Адрес: Московская область, город Люберцы, Кирова ул., 6</p>
                                                    <p>Телефон: +7 (495) 503-01-40</p>
                                                    <p>пн-пт 9:00-17:00,</p>
                                                    <p>сб 10:00-15:00, вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Централизованная ритуальная служба городского округа Мытищи"</a>
                                                    <p>Адрес: 141008, Московская область, город Мытищи, Новомытищинский пр-кт, ДОМ 36/7</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ центр регулирования и контроля в сфере похоронного дела Ногинского муниципального района Московской области</a>
                                                    <p>Адрес: Московская область, город Ногинск, ул. 3-го Интернационала, дом 41</p>
                                                    <p>Телефон: +7 (496) 519-42-04</p>
                                                    <p>пн-пт 8:00-16:00, </p>
                                                    <p>сб 8:00-13:00, вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Администрация Одинцовского муниципального района Московской области Муниципальное унитарное специализированное предприятие «Одинцовская похоронная ритуальная служба» </a>
                                                    <p>Адрес: Московская область, город Одинцово, ул. Маршала Бирюзова, д. 9</p>
                                                    <p>Телефон: +7 (495) 357‒33‒03</p>
                                                    <p>График работы: пн-пт 09:00-17:00  </p>
                                                    <p>сб 9:00-14:00, </p>
                                                    <p>вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ «Уполномоченный центр в сфере похоронного дела»  </a>
                                                    <p>Адрес: Городской округ Подольск, город Подольск, Высотная ул., д. 6, корп. 3</p>
                                                    <p>Телефон: +7 (4967) 56-64-14</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Администрация Пушкинского муниципального района </a>
                                                    <p>Адрес: город Пушкино, ул.Московский проспект, д. 12/2</p>
                                                    <p>График работы:</p>
                                                    <p>пн-чт 09:00-18:00, </p>
                                                    <p>пт 09:00-16:45,</p>
                                                    <p>сб-вс выходной день</p>
                                                    <p>Перерыв на обед: 13:00-13:45</p>
                                                    <p>Контактный телефон: 8-495-993-39-58</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение Раменского мунициального района "Раменская ритуальная служба"</a>
                                                    <p>Адрес: 140100, Московская область, Раменский район, город Раменское, улица Бронницкая, дом 33, помещение 1а временно расположено по адресу: город Раменское, улица Чугунова, д. 8 </p>
                                                    <p>Чугунова, д. 8</p>
                                                    <p>Телефон: +7 (496) 463-15-41</p>
                                                    <p>Телефон: +7 (925) 576-63-67</p>
                                                    <p>Часы работы</p>
                                                    <p>Пн-пт 9:00-15:00, </p>
                                                    <p>сб 9:00-13:00</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Специализированная служба в сфере погребения и похоронного дела"</a>
                                                    <p>Адрес: город Химки, Московская ул, ДОМ 15</p>
                                                    <p>Телефон: 8 (495) 123-38-80</p>
                                                    <p>Электронная почта: mkuritual@admhimki.ru</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение Щелковского муниципального района "Централизованная ритуальная служба"</a>
                                                    <p>Адрес: 141100, Московская область, Щелковский р-н, город Щелково, Ленина пл, ДОМ 2</p>
                                                    <p>Телефон: +7 (496) 569-88-14</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tabs__content">
                                        <h2 class="new-title new-title--left bottom-line">Москва</h2>
                                        <div class="cemetery">
                                            <ul class="cemetery__list">
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ городского округа Домодедово Московской области "Специализированная служба в сфере погребения и похоронного дела"</a>
                                                    <p>Адрес: 142000, Московская область, город Домодедово, мкр. </p>
                                                    <p>Центральный, ул. Кирова, д. 26</p>
                                                    <p>Телефон: 8-925-026-58-06</p>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                    <div class="tabs__content">
                                        <h2 class="new-title new-title--left bottom-line">Московская область</h2>
                                        <div class="cemetery">
                                            <ul class="cemetery__list">
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение «Уполномоченный орган в сфере погребения и похоронного дела» Ленинского муниципального района</a>
                                                    <p>Адрес: Московская область, Ленинский район, город Видное, ул. Школьная, д. 70, подъезд №3, квартира 20</p>
                                                    <p>Телефон: 8-495-107-51-28</p>
                                                    <p>режим работы: </p>
                                                        <p>с понедельника по четверг с 9:00 до 18:00, в пятницу с 9:00 до 16:45, перерыв с 13:00 до 13:45, </p>
                                                    <p>суббота и воскресенье – выходной.</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение городского округа Жуковский Ритуальная служба</a>
                                                    <p>Адрес: ул. Фрунзе, дом 1, город Жуковский, Московская область, 140181</p>
                                                    <p>Телефон: 8 (495) 556-01-66</p>
                                                </li>
                                                <li class="cemetery__item">
                                                <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Красногорская похоронная служба" Фдминистрации городского округа Красногорск Московской области (МКУ "КПС")</a>
                                                <p>Адрес: Московская область, город Красногорск, ул. Комсомольская, д. 31</p>
                                                <p>Телефон: 8 (499) 673-44-96</p>
                                                <p>Понедельник - пятница: с 9.00 до 18.00</p>
                                                <p>Перерыв на обед: с 13.00 до 14.00</p>
                                            </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МУ Люберецкая ритуальная служба городского округа Люберцы Московской области</a>
                                                    <p>Адрес: Московская область, город Люберцы, Кирова ул., 6</p>
                                                    <p>Телефон: +7 (495) 503-01-40</p>
                                                    <p>пн-пт 9:00-17:00,</p>
                                                    <p>сб 10:00-15:00, вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Централизованная ритуальная служба городского округа Мытищи"</a>
                                                    <p>Адрес: 141008, Московская область, город Мытищи, Новомытищинский пр-кт, ДОМ 36/7</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ центр регулирования и контроля в сфере похоронного дела Ногинского муниципального района Московской области</a>
                                                    <p>Адрес: Московская область, город Ногинск, ул. 3-го Интернационала, дом 41</p>
                                                    <p>Телефон: +7 (496) 519-42-04</p>
                                                    <p>пн-пт 8:00-16:00, </p>
                                                    <p>сб 8:00-13:00, вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Администрация Одинцовского муниципального района Московской области Муниципальное унитарное специализированное предприятие «Одинцовская похоронная ритуальная служба» </a>
                                                    <p>Адрес: Московская область, город Одинцово, ул. Маршала Бирюзова, д. 9</p>
                                                    <p>Телефон: +7 (495) 357‒33‒03</p>
                                                    <p>График работы: пн-пт 09:00-17:00  </p>
                                                    <p>сб 9:00-14:00, </p>
                                                    <p>вс выходной</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">МКУ «Уполномоченный центр в сфере похоронного дела»  </a>
                                                    <p>Адрес: Городской округ Подольск, город Подольск, Высотная ул., д. 6, корп. 3</p>
                                                    <p>Телефон: +7 (4967) 56-64-14</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Администрация Пушкинского муниципального района </a>
                                                    <p>Адрес: город Пушкино, ул.Московский проспект, д. 12/2</p>
                                                    <p>График работы:</p>
                                                    <p>пн-чт 09:00-18:00, </p>
                                                    <p>пт 09:00-16:45,</p>
                                                    <p>сб-вс выходной день</p>
                                                    <p>Перерыв на обед: 13:00-13:45</p>
                                                    <p>Контактный телефон: 8-495-993-39-58</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение Раменского мунициального района "Раменская ритуальная служба"</a>
                                                    <p>Адрес: 140100, Московская область, Раменский район, город Раменское, улица Бронницкая, дом 33, помещение 1а временно расположено по адресу: город Раменское, улица Чугунова, д. 8 </p>
                                                    <p>Чугунова, д. 8</p>
                                                    <p>Телефон: +7 (496) 463-15-41</p>
                                                    <p>Телефон: +7 (925) 576-63-67</p>
                                                    <p>Часы работы</p>
                                                    <p>Пн-пт 9:00-15:00, </p>
                                                    <p>сб 9:00-13:00</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение "Специализированная служба в сфере погребения и похоронного дела"</a>
                                                    <p>Адрес: город Химки, Московская ул, ДОМ 15</p>
                                                    <p>Телефон: 8 (495) 123-38-80</p>
                                                    <p>Электронная почта: mkuritual@admhimki.ru</p>
                                                </li>
                                                <li class="cemetery__item">
                                                    <a href="#" class="cemetery__name">Муниципальное казенное учреждение Щелковского муниципального района "Централизованная ритуальная служба"</a>
                                                    <p>Адрес: 141100, Московская область, Щелковский р-н, город Щелково, Ленина пл, ДОМ 2</p>
                                                    <p>Телефон: +7 (496) 569-88-14</p>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МКУ <br> Москвы</h2>
                                    <p> c 9 до 17 (с понедельника по субботу) <br> Воскресенье: выходной</p>

                                </div>
                            </div>
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МКУ <br>Московской области</h2>
                                    <p>c 9 до 17 (с понедельника по субботу) <br> Воскресенье: выходной</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br> договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div class="prah__list">
                                <h2 class="new-title new-title--left">Внимание!</h2>
                                <p> Для получения всех необходимых разрешений на поведение захоронения Вы можете обратиться за помощью к нашим менеджерам и агентам по телефону +7 (495) 150 21 12.</p>
                                <p>Мы поможем быстро  оформить все необходимые бумаги в максимально короткий период времени.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>