//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела"</h2>
        </div>
        <section class="shop">
            <div class="insurance">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Организовать похороны</h2>
                                    <p>Позвоните нам</p>
                                    <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                                    Или оставьте заявку и мы Вам перезвоним
                                    <a href="" class="button">Оставить заявку</a>
                                </div>
                            </div>
                            <div class="prah__col">
                                <div>
                                    <div class="prah__list">
                                        <p>Муниципальные казенные учреждения  "Специализированные службы по вопросам похоронного дела" (далее МКУ) созданы для оказания помощи людям, столкнувшимся со смертью близких. МКУ осуществляют консультирование населения, предоставление мест для захоронения умерших, организуют ритуальные услуги (гарантированный перечь услуг, в том числе для умерших одиноких людей, не имеющих родственников и сбережений), поддерживают муниципальные кладбища в чистоте и порядке. МКУ действуют  строго в соответствии с законом «О погребении и похоронном деле в Московской области».</p>
                                        <div class="list">
                                            <div class="list__head">
                                                <span>МКУ выдает:</span>
                                            </div>
                                            <ul class="list__marked">
                                                <li>«Разрешение и удостоверение на захоронение умершего;</li>
                                                <li>Разрешение и удостоверение на захоронение умершего в родственную / семейную могилу;</li>
                                                <li>Разрешение и удостоверение о воинском захоронении;</li>
                                                <li>Разрешение на установку и замену надмогильных сооружений (надгробий);</li>
                                                <li>Замену старого удостоверения на захоронение на новое.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="places silver-bg">

                <div class="press__links">
                    <div class="mbox">
                        <h2 class="new-title new-title--left">Адреса МКУ Москвы и Московской области</h2>
                        <div class="tabs__go">
                            <a href="#" class="tabs__link js-tab-link active">На карте</a>
                            <a href="#" class="tabs__link js-tab-link">Списком</a>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="mbox">
                            <div class="tabs__cordon">
                                <div class="tabs__heads tabs__heads--simple">
                                    <a href="#" class="tabs__head tabs__head--simple js-tab active">Все</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Москва</a>
                                    <a href="#" class="tabs__head tabs__head--simple js-tab">Московская область</a>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__bodies">
                            <div class="tabs__content active">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                            <div class="tabs__content">
                                <div class="places__map">
                                    <img src="images/map_big.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="squares">
                <div class="mbox">
                    <div class="urna__how">
                        <div class="prah__box">
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МКУ <br> Москвы</h2>
                                    <p> c 9 до 17 (с понедельника по субботу) <br> Воскресенье: выходной</p>

                                </div>
                            </div>
                            <div class="prah__col center">
                                <div class="box box-call">
                                    <h2>Режим работы МКУ <br>Московской области</h2>
                                    <p>c 9 до 17 (с понедельника по субботу) <br> Воскресенье: выходной</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract">
                <div class="mbox">
                    <div class="prah__box">
                        <div class="prah__col">
                            <div class="contract__box">
                                <div class="contract__col">
                                    <a href="#" class="contract__link">
                                        <div class="contract__img">
                                            <img src="images/market.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Интернет-магазин
                                        </span>
                                    </a>
                                </div>
                                <div class="contract__col contract__col--horizontal">
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/forlife.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Прижизненный <br> договор
                                        </span>
                                    </a>
                                    <a href="#" class="contract__link contract__link--horizontal">
                                        <div class="contract__img">
                                            <img src="images/vallet.png" alt="">
                                        </div>
                                        <span class="contract__text">
                                            Похороны за <br> счет государства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Внимание!</h2>
                                    <p> Для получения всех необходимых разрешений на поведение захоронения Вы можете обратиться за помощью к нашим менеджерам и агентам по телефону +7 (495) 150 21 12.</p>
                                   <p>Мы поможем быстро  оформить все необходимые бумаги в максимально короткий период времени.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>