//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        //= parts/navigation.html
        //= parts/breadcrumbs.html
        <div class="mbox">
            <h2 class="bottom-line">Урны для праха в Москве и Московской области</h2>
            <p>После кремации умершего человека встает вопрос о выборе урны для  праха и ее захоронении. На чем остановить свой выбор, как купить урну для праха?</p>
        </div>
        <section class="urna">
            <div class="full-width banner b-lazy b-loaded" style="background-image: url('images/_imgs/funeral-hall/background.jpg');"></div>


            <div class="mbox">
                <div class="urna__how border-bottom">
                    <div class="prah__box">
                        <div class="prah__col center">
                            <div>
                                <div class="box box-call">
                                    <h2 class="new-title">Заказать урну для праха</h2>
                                    <span>Закажите урну для праха в нашем интернет-магазине ритуальных товаров.</span>
                                    <a href="" class="button">Перейти в магазин</a>
                                </div>
                            </div>
                        </div>
                        <div class="prah__col">
                            <div>
                                <div class="prah__list">
                                    <h2 class="new-title new-title--left">Стоимость урны для праха</h2>
                                    <p>Вы можете выбрать урну для праха, позвонив к нам на  «горячую линию» в круглосуточный колл-центр по приему звонков от населения, также можно сделать выбор, перейдя в каталог урн для праха в нашем  Интернет-магазине или приехать и выбрать интересующую Вас урну для праха  в шоу-руме при  крематории «Честный Агент».</p>
                                    <p>Наш шоурум находится по адресу:</p>
                                    <p><b> г. Балашиха, мкрн. Салтыковка, ул. Окольная, д. 6.</b></p>
                                    <a href="#" class="ico-arrow-green prah__how">Как проехать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="urna__asortiment">
                <div class="mbox">
                    <h2>Ассортимент урн для праха</h2>
                    <p>Урны для праха делают из различных материалов. Основными материалами для урн служат биоразлагаемые (из растительных волокон), деревянные, фарфоровые, керамические, стальные (маталлические), пластиковые, каменные.</p>
                    <p>В каталоге нашего Интернет-магазина ритуальных товаров Вы сможете найти самые различные виды урн для праха.</p>
                    <div class="urna__items">
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_1.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха деревянные</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_2.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха керамические</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_3.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха фарфоровые</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_4.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха стальные</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_5.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха пластиковые</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__image">
                                <img src="images/urn_6.png" alt="">
                            </div>
                            <div class="item__text">
                                <a href="#" class="a-playfair">Урны для праха биоразлагаемые</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prah__egg silver-bg">
                <div class="mbox">
                    <div class="flexible-width padding-overall right-image-block">
                        <h2>Как выбрать урну для праха?</h2>
                        <p>
                            В первую очередь Вам необходимо определиться хотите ли вы, чтобы прах умершего  впоследствии естественным  образом разложился в земле или вашим желанием является вечное хранение праха в сосуде - урне для праха.
                        </p>

                        <a href="#" class="ico-arrow-green prah__how">Как выбрать урну для праха</a>
                    </div>
                    <div class="image-right" style="background-image: url('images/egg.png')"></div>
                </div>
            </div>
            <div class="prah__steps">
                <div class="mbox">
                    <h2 class="new-title new-title--left">Варианты захоронения урн с прахом</h2>
                    <p>Предлагаем ознакомиться с подробной информацией о том, какие есть варианты захоронения урны с прахом, а также о том, какие необходимы документы для подобных захоронений.</p>
                    <a href="#" class="ico-arrow-green prah__how">Как выбрать урну для праха</a>
                </div>
            </div>
            <div class="prah__get">
                <div class="background-green">
                    <div class="flexible-width padding-overall request-call">
                        <div class="box box-call">
                            <h2>Купить урну для праха</h2>
                            <p>в Москве и Московской области</p>
                            <a href="tel:8 (495) 150 21 12" class="phone">8 (495) 150 21 12</a>
                            Или оставьте заявку и мы Вам перезвоним
                            <a href="" class="button">Вызвать агента</a>
                        </div>
                        <div class="box-text">
                            <h2>Крематорий “Честный агент”</h2>
                            <p>Официальная страница крематория</p>
                            <p>Подробнее о кремации</p>
                            <p>О прощальных залах для проведения панихид (церемоний прощания с умершим)</p>
                            <p>Что такое видеонкролог и когда он используется ?</p>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>