/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family: 'Montserrat', arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1310px; padding: 0 15px; width:100%;margin:0 auto;position:relative;z-index:1;}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {  height: 40px; background: cadetblue;  flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
input, textarea{
    &::-webkit-input-placeholder {color:#81D1AA;}
    &:-moz-placeholder {color:#81D1AA;opacity:1;}
    &::-moz-placeholder {color:#81D1AA;opacity:1;}
    &:-ms-input-placeholder {color:#81D1AA;}
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
h2.title { margin-bottom: 54px;}
.copyright>div { background-color: #eee; }


.breadcrumbs {display:block;list-style:none; padding: 34px 0;
    li{display:inline-block;
        &:last-child a{pointer-events: none; color: #B3B3B3;font-size: 14px; line-height: 20px; letter-spacing: 1.2px;
            &:after{display:none;}
        }
    }
    a{display:inline-block;font-size:14px; padding-right:12px;margin-right:12px; color: #707070;}
    a:hover{text-decoration:underline;}
    a:after{display:block;content:"";width:5px;height:7px;position:absolute;top:50%;right:-5px;transform:translate(0,-50%);background:url('../images/_imgs/icons.png') -100px -24px no-repeat}
}
nav.head ul li a.nav__cart { position: relative; padding-left: 65px;
    &:before {position: absolute; left: 25px; top: 50%; transform: translateY(-50%); display: block; content: ''; width: 24px; height: 20px; background: url('../images/cart_green.png'); background-repeat: no-repeat;}
}

.list { margin-bottom: 44px;
    &--white {
        .list__head {color: #ffffff;}
        .list__marked li {color: #ffffff;
            &:before {
                background-image: url("../images/arrow_white.png");
            }
        }
    }
    &__head {font-weight: 600; font-size: 17px; line-height: 27px; color: #252525;letter-spacing: 0.8px; margin-bottom: 18px;}
    &__marked { list-style-type: none;
        li {padding-left: 32px; position: relative; font-weight: normal; font-size: 17px; line-height: 27px; color: #252525; margin-bottom: 16px; letter-spacing: 1.2px;
            &:before {position: absolute; content: ''; display: block; width: 8px; height: 14px; left: 0; top: 7px; background-image: url("../images/arrow_normal.png"); }
        }
        a { color: #252525;
            &:hover {text-decoration: underline;}
        }
        &--none {
            li {padding-left: 0; margin: 0;
                &:before {display: none;}
            }

        }
        &--not {
            li { padding-left: 0; margin: 0;
                &:before {display: none;}
            }
        }

    }
    &__subhead {margin-bottom: 20px; font-size: 17px; color: #252525; font-weight: normal; line-height: 27px; letter-spacing: 1.2px;}
}

.faq {
    .image-right {position: absolute; height: 580px; bottom: 0; right: 0; left: calc(50% + 196px); background-position: left bottom; background-repeat: no-repeat; background-size: auto 100%;}
}

.btn{display:inline-block;width:auto;height:auto;background:linear-gradient(79.89deg, #006735 7.82%, #00A048 93.09%);border-radius:50px;color:#fff;transition: all 200ms;text-align:center;font-size:18px; border:0;line-height:1.2em;font-weight:400;box-shadow: 0px 4px 12px rgba(0, 135, 69, 0.5);cursor:pointer;max-width: 100%;     padding: 21px 58px; letter-spacing: 1.2px;
    &:hover{box-shadow: 0px 0px 0px rgba(0, 135, 69, 1);transform:translate(0,3px);}
}

.desc { display: flex; align-items: flex-start;  padding-top: 71px; flex-wrap: wrap;
    &__col {width: 50%; padding-right: 30px;  }
    &__box {
        p {margin-bottom: 18px;}
    }
}

.h-logo {
    .mobile {display: none !important; }
}
.border-bottom {border-bottom: 1px solid #DCDCDC;}
.border-top {border-top: 1px solid #DCDCDC;}

.article {
    &__text {margin-top: 50px; margin-bottom: 30px;
        p {margin-bottom: 25px; font-size: 17px; line-height: 27px; color: #252525;}
    }
    .box {margin: 60px auto;}
    .box-call {width:calc(100% - 30px) ;}
    &__squares {
        a img {object-fit: cover;}
    }
}

.new-title {font-size: 27px; text-align: center;
    &--left {text-align: left;}
}
.prah { padding-top: 40px;
    .banner-text {margin-left: 15px;}
    .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
    .ico-arrow-white:before{background-image:url('../images/_imgs/svg/ico-white-arrow.svg'); width:14px;height:14px; }
    &__box {display: flex; align-items: flex-start;
        h2 {font-size: 27px;}
    }
    &__col {width: 45%; flex-grow: 1;
        &.center { display: flex;  justify-content: center;
            &--left { justify-content: flex-start; margin: 20px 0; padding-right: 60px;}
        }
        .box-call {margin-bottom: 15px;}
    }
    &__list {margin-top: 40px;}
    .list__marked a {color: #00A048; transition: all 200ms;
        &:hover {text-decoration: none; color: #252525;}
    }
    &__stats { padding-top: 40px;
        .stats { padding-bottom: 50px; flex-wrap: wrap; justify-content: space-around;
            li { width: 220px; height: 220px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); padding: 10px; margin: 10px;
                div { width: 100%; height: 100%; padding: 10px 25px; display: flex; align-items: center; justify-content: center;border: 1px solid #F5F5F5; border-radius: 50%;}
                span {font-size: 15px;}
            }
        }
    }
    &__need {padding: 40px 0;}
    &__info {padding: 40px 0;
        span {line-height: 27px; letter-spacing: 1.2px;}
    }
    &__steps {padding: 40px 0;
        p {margin-bottom: 18px;}
    }
    &__links { display: flex; align-items: center; padding: 30px 0; justify-content: center; flex-wrap: wrap;}
    &__link {margin: 20px 50px;}
    &__how{ margin-top: 25px; font-style: normal;}
    &__egg {
        .right-image-block {
            padding: 80px 450px 120px 0 !important;
            min-height: 450px;
        }
        .image-right {height: 405px;}
    }
    &__get {
        .box-call {}
    }
}


.urna {padding-top: 40px;
    &__how {padding-bottom: 30px; padding-top: 25px;}
    .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
    .prah__box {flex-direction: row-reverse;}
    .prah__list {
        p {margin-bottom: 18px;}
    }
    .box-call { padding: 35px 20px;
        .new-title {margin-bottom: 35px;}
        .button {margin-top: 35px;}
    }
    &__asortiment { padding: 40px 0;
        p {margin-bottom: 18px;}
    }
    &__items { display: flex; justify-content: space-around; align-items: stretch; flex-wrap: wrap; padding: 80px 0;}
}

.item { display: flex; align-items: center; justify-content: flex-end; flex-direction: column; width: 30%; margin: 40px 10px; flex-grow: 1; min-width: 236px;
    &__text {width: 100%; padding: 20px 10px; text-align: center;}
    &__image {max-width: 205px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
}

.shop {
    .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
    .prah {
        &__box {flex-direction: row-reverse;}
        &__list {margin-top: 0;
            p {margin-bottom: 18px;}
        }
    }
    .box-call {margin-top: 15px;
        span {font-size: 32px; margin: 30px 0; display: block;}
    }
    &__spectr {padding: 40px 0;}
    &__item {display: flex; flex-direction: column; align-items: center; margin: 10px; color:#252525; }
    &__text {text-align: center; padding: 10px 40px; font-size: 20px; margin-top: 20px;}
    &__slider {margin: 40px 0;}
    &__grb {padding: 40px 0;
        p {margin-bottom: 18px;}
    }
    &__list {padding: 40px 0;
        .desc {padding: 10px 0;}
    }
    &__popular {padding: 40px 0;}
    &__where { padding: 40px 0px; color: #ffffff;
        p {margin-bottom: 18px;}
    }
    &__firms {display: flex; justify-content: flex-start; align-items: flex-start; margin-top: 35px;}
    &__itm {width: 45%; padding-right: 20px; flex-grow: 1; display: flex; align-items: center; }
    &__i-img {margin-right: 20px; width: 100px; min-width: 100px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
    &__i-text { font-size: 17px; font-weight: 600;}
    &__key {padding: 40px 0;}
    &__about {
        .reverse {flex-direction: row-reverse;
            .background-silver {display: flex; padding-left: 20px;}
        }
    }
    &__complex { padding: 40px 0;
        .flexible-width { display: flex; align-items: flex-start; flex-wrap: wrap; }
        .horizontal-block {width: 50%; padding-right: 20px; margin: 0;
            .a-playfair {display: block; margin-top: 20px; font-size: 15px; padding-left: 25px;}
            strong {font-size: 15px;}
            span {font-size: 15px;}
        }
        &--simple {
            .flexible-width {padding: 0;}
            .horizontal-block { color: #000000; margin: 15px 0;
                &:nth-child(1) {margin-top: 15px;}
                strong {line-height: 26px;}
            }
        }
    }
    &__articles {padding: 40px 0;}
}

.best { display: flex; flex-wrap: wrap;
    &__item {font-size: 18px; width: 45%; padding-right: 5px; margin: 20px 10px 20px 0; flex-grow: 1;  color: #252525;}
}

.art {display: flex; width: 27%; flex-grow: 1;
    &__box {display: flex; }
    &__img {width: 200px; min-width: 200px; max-width: 200px; display: flex; align-items: center;  justify-content:center; padding: 20px 20px 20px 20px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
    &__text {padding: 20px 15px 20px 0;
        a {text-decoration: underline; color: #008745; margin-bottom: 15px; font-size: 17px; display: block; font-weight: 600;}
        p {font-size: 15px;}
    }
}

.insurance {
    .list__marked li{font-weight: 300;}
    &__list {padding: 40px 0;}
    &__box {display: flex;}
    &__col { width: 28%; flex-grow: 1; padding-right: 15px;}
    &__do {
        ul {list-style-type: inherit; padding-left: 20px;}
        ol {display: list-item; line-height: 27px; letter-spacing: 1.2px; margin-bottom: 18px;}
    }
    &__if {padding: 40px 0;
        .list {margin-top: 35px;}
    }
    &__polis {padding: 40px 0;}
    &__table {margin: 40px 0;
        table {width: 100%; }
        tr { border-bottom: 1px solid #008745;}
        th {padding: 20px 0; text-align: left;}
        td {padding: 20px 0; vertical-align: middle; font-weight: normal;
            &:first-child {width: 250px;}
            &:last-child {text-align: right;}
        }
    }
    .list--simple {
        .list__head {margin-top: 18px;}
        p {margin-bottom: 0;}
    }
}

.slider-arrow {  min-width: 58px; min-height: 58px; border-radius: 50%;  display: block; border: 1px solid #E7E7E7; left: -80px;
    &:before {background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); content: ''; display: block; width: 14px; height: 14px; top: 50%; left: 50%; position: absolute; transform: translateX(-50%) translateY(-50%) rotateZ(-180deg);}
    &--next { left: auto; right: -80px;
        &:before {transform: translateX(-50%) translateY(-50%) rotateZ(0deg);}
    }
}

.box-text {
    p {margin-bottom: 18px;}
}

form.send-form {
    &::-webkit-input-placeholder {color:#81D1AA;}
    &:-moz-placeholder {color:#81D1AA;opacity:1;}
    &::-moz-placeholder {color:#81D1AA;opacity:1;}
    &:-ms-input-placeholder {color:#81D1AA;}
    input {background-color: #017A3F; color: #000000;}
    input.button {background-color: transparent; font-family: 'Playfair Display',serif; font-size: 20px; color: #ffffff; text-align: left; padding: 0 10px; width: auto; height: auto; border-radius: inherit;
        &:hover {opacity: 0.8;}
    }
}

.sub-head {font-family: 'Playfair Display',serif; font-style: italic; font-size: 20px; text-align: center;}
.about {
    &__man {
        p {margin-bottom: 18px;}
    }
    &__who {margin-top: 40px;
        p {margin-bottom: 0; font-family: 'Playfair Display',serif; font-style: italic;}
        span {font-size: 22px; font-weight: 600;}
    }
    &__mission {padding: 40px 0;
        p {margin-bottom: 18px;}
    }
    &__items {padding: 40px 0;}
    &__box {display: flex; align-items: flex-start; flex-wrap: wrap;}
    &__itm {width: 30%; flex-grow: 1; display: flex; align-items: center; justify-content:center; margin: 10px; min-width: 320px;}
    &__why {padding: 40px 0;}
    &__partners {padding: 40px 0;}
    &__certificates {padding: 40px 0;}
    &__decimals {
        .padding-overall {justify-content: center;}
        .stats.small b {font-size: 24px;}
        .stats.small li {margin: 15px 20px; font-size: 15px; width: 200px; height: 200px; display: flex; flex-direction: column; align-items: center; justify-content:flex-start; padding: 60px 20px 20px 20px;}
    }
    &__response {padding: 40px 0;}
    &__book {margin-top: 70px;
        .image-right {height: 330px;}
        .right-image-block {min-height: 300px; padding-top: 50px !important; padding-bottom: 50px !important;}
    }
    &__history { padding: 40px 0; }
    &__galery {padding: 40px 0;}
}
.agency { display: flex; align-items: center; justify-content: center; flex-direction: column; min-width: 340px; max-width: 340px;
    &__img {padding: 20px; height: 180px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
    &__name { font-size: 17px; font-weight: 600; text-align: center; padding: 20px 20px 0; }
    &__link {
        .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
        a.ico-arrow-green {font-size: 20px; padding-left: 20px;}
    }
    &__text {text-align: center; padding: 20px;}
}

.partners {
    &__box {display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap;}
    &__item {  min-width: 260px; margin: 20px 20px; width: 30%;   display: flex; align-items: center; justify-content: center; }
    &__link { max-width: 260px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
}
.certificates {display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap;
    &__box {max-width: 950px; margin: 0 auto;}
    &__sub {text-align: center;margin-bottom: 25px;}
    &__item {display: flex; align-items: center; justify-content: center; margin: 30px 20px; }
    &__img {width: 260px;}
    &__under {font-size: 17px; font-weight: 600; text-align: center;}
}

.history {display: flex; justify-content: space-between; flex-wrap: wrap;
    &__box { display: flex;flex-direction: column; align-items: center; }
    &__item { flex-grow: 1; min-width: 180px; margin: 10px 5px; width: 13%;
        &:after {position: absolute; top: 65px; right: -10px; width: 25px; height: 25px; display: block; background-image: url('../images/arrow__gray.png'); content: '';  }
        &:last-child {
            &:after {display: none;}
        }
    }
    &__place {width: 150px; height: 150px; min-width: 150px; border-radius: 50%; border: 1px solid #008745; background-color: #ffffff;  position: relative; }
    &__date {font-weight: 600; text-align: center;margin-top: 20px;}
    &__text {text-align: center; padding: 0 30px;}
}

.galery { display: flex; flex-wrap: wrap; justify-content: center;
    .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
    &__link {display: flex; justify-content:center; margin-top: 20px;}
    &__item {margin: 15px 25px;}
    &__img {width: 100%; max-width: 590px; height: 400px; background-color: #ccc;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
}

.agent {
    &__new {background-size: cover;
        .box.box-call {left: auto; right: 0;}
        .request-call {min-height: 460px;}
    }
    &__chirk {position: relative; margin-bottom:40px;
        &:after {    content: ""; display: block;
            height: 1px;
            width: 110px;
            background-color: #DCDCDC;
            position: absolute;
            bottom: -20px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);}
    }
    &__top {padding-bottom: 40px;}
    &__address {display: flex; flex-wrap: wrap;}
    &__col {width: 50%; padding-right: 20px; margin: 10px 0;}
    &__noso {padding: 40px 0;}
    &__texts {padding-bottom: 40px;}
    &__box { display: flex; flex-wrap: wrap;
        .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
        .horizontal-block {width: 50%; margin: 0 0 25px 0; padding-right: 10px;
            strong {font-size: 18px; line-height: 22px;}
            a {display: block; margin-top: 20px;}
        }
    }
    &__between {
        .ico-arrow-green { padding-left: 20px; margin-top: 20px;
            &:before{background-image:url('../images/arrow_white.png'); width: 14px; height: 14px;}
        }
    }
    &__zakaz {padding: 70px 0 70px;
        .list__marked li {margin-bottom: 0;}
        .request-call {padding-left: 630px;}
    }
    &__list {
        h2 {margin-bottom: 15px;}
        .list {margin-bottom: 0;}
    }
    &__bonus {padding: 40px 0;}
    &__checks {display: flex; flex-wrap: wrap;}
    &__need {padding: 40px 0;
        .list__marked { list-style-type: inherit; padding-left: 20px;
            ol {display: list-item; margin-bottom: 20px;}
        }
        .desc {padding-top: 0; align-items: stretch;}
        .desc__box {padding-right: 30px;}
        .desc__col {    display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;}
        .list {margin-bottom: 0; }
    }
    &__process {padding: 40px 0;}
    &__slider {padding: 40px 0;
        .slider-arrow:before {  background-image: url("../images/arrow_white.png"); background-repeat: no-repeat; width: 8px;
        }
    }
    &__certificate {padding: 40px 0;}
    &__go {padding: 40px 0;
        p {margin-bottom: 18px;}
    }
}

.certificate { display: flex;
    &__img { margin-right: 20px; }
    &__text {
        p {margin-bottom: 18px;}
    }
}

.process { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 -15px;
    &__img {min-width: 95px; padding: 15px; margin-right: 15px; display: flex; align-items: center; justify-content: center;}
    &__item {border: 1px solid #E7E7E7; padding: 10px; max-width: 390px; margin: 15px; display: flex; align-items:center; justify-content: flex-start; width: 390px; }
    &__text {font-size: 15px;}
}

.check {width: 30%; flex-grow: 1; padding: 20px;
    &__head {font-size: 27px; font-weight: 600; margin-bottom: 15px;}
    &__text {}
}

.banks { display: flex; flex-wrap: wrap;
    &__item {width: 106px; height: 66px; display: block; border-radius: 20px; margin-right: 30px; overflow: hidden; margin-bottom: 30px; min-width: 106px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
}


.tabs {
    &__cordon {    width: calc(100% + 30px);  margin-left: -15px; overflow: auto; padding-bottom: 20px;}
    &__heads {display: flex; align-items: center; justify-content: flex-start; flex-direction: row; min-width: 730px; padding: 0 15px 0 15px; overflow: hidden;
        &--inn {justify-content: space-between; position: relative; }
        &--simple {min-width: auto; margin-top: 20px; flex-wrap: wrap; padding: 0;}
    }
    &__bodies { width: calc(100% + 30px); margin: 0 0 0 -15px; padding: 0 15px; position: relative;}
    &__tree {background-image: url('../images/tree.png'); background-repeat: no-repeat; background-position-x: 50%; background-position-y: 100%; background-size: auto 100%; position: absolute; z-index: -1; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 1000px; height: 100%; max-height: 686px;}
    &__go {display: flex; align-items: center; justify-content: flex-start; flex-direction: row; flex-wrap: wrap;
        &.bottom-line {padding-bottom: 50px; margin-bottom: 50px;}
    }
    &__link {display: block; min-width: 250px; background: #ffffff; font-size: 18px; border: 1px solid #E7E7E7; border-radius: 29px; color: #006735; text-align: center; padding: 17px 10px; cursor: pointer; transition: all 200ms; margin: 10px 15px 10px 0;
        &--free {border-color: transparent; background-color: transparent;}
        &:hover {background-color: #4e896c; color: #ffffff; }
        &.active {border-color: #006735; background-color: #006735; color: #ffffff; pointer-events: none;}
    }
    &__head {display: block; min-width: 250px; background: #ffffff; font-size: 18px; border: 1px solid #E7E7E7; border-radius: 29px; color: #006735; text-align: center; padding: 17px 10px; margin-right: 15px; cursor: pointer; transition: all 200ms; position: relative;
        &:after {display: block; content: ''; width: 140%; height: 1px; position: absolute; background-color: #E7E7E7; z-index: -1; left: 100%;}
        &:last-child {margin-right: 0;
            &:after {display: none;}
        }
        &--round {width: 100px; height: 100px; padding: 10px; min-width: auto; border-radius: 50%; display: flex; align-items: center;
            justify-content:center; font-size: 27px;}
        &:hover {background-color: #4e896c; color: #ffffff; }
        &.active {border-color: #006735; background-color: #006735; color: #ffffff; pointer-events: none;}
        &--simple {min-width: auto; padding: 5px 10px;  border-color: transparent; background-color: transparent; color: #000000; font-weight: normal; margin: 10px;
            &:after {display: none;}
        }
    }
    &__content { padding: 20px 0; display: none;
        .agent__checks {align-items: flex-start;}
        .check {padding-left: 0; width: 45%; flex-grow: 1; }
        &.active {display: block;}
    }
    &__helpers {padding: 0 10px; margin: 20px 0; max-width: 800px; display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start;}
}


.whitelink {color: #ffffff;}
.story {
    &__item {width: 100px; min-width: 100px; height: 100px; }
}

.release { display: flex; align-items: stretch; justify-content: space-between; margin: 0 -15px; flex-wrap: wrap;
    &__item {width: 30%; max-width: 400px; background-color:  #F0F0F0; position: relative; padding: 90px 36px 50px 55px; margin: 15px; flex-grow: 1;
        span {font-weight: 600; font-size: 27px; display: block; margin-bottom: 20px;}
    }
    &__labe {position: absolute; left: 0; top: 38px; background-color: #008745;  height: 38px; padding: 5px 15px 5px 55px; color: #ffffff; display: flex; align-items: center; justify-content: flex-start;
        span { font-size: 20px; font-weight: 300; margin: 0;}
    }
    &__link { display: flex; width: 100%; align-items: center;
        justify-content:center; margin-top: 25px;
        .ico-arrow-green {text-align: center;}
        .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
    }
}

.press {
    &__release {padding: 80px 0 80px 0; }
    &__links {
        .ico-arrow-green:before{background-image:url("../images/arrow_white.png"); width: 14px; height: 14px;  }
        .ico-arrow-green { margin-top: 20px; padding-left: 25px; }
    }
    &__obzor {
        p {margin-bottom: 18px;}

    }
    &__video {background-color: #252525; padding: 90px 0;}
    &__soc {padding: 40px 0;}
    &__smi {padding: 80px 0;}
}

.video {position: relative; padding-bottom: 56.6%;
    iframe {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
    &__about { display: flex; align-items: center; justify-content: space-between; margin-top: 35px; }
    &__text {display: flex; flex-direction: column; color: #ffffff;
        span {font-size: 27px; font-weight: 600; margin-bottom: 20px; display: block;}
    }
    &__link {display: flex; align-items: center; justify-content: flex-end; color: #ffffff;
        span { font-family: 'Playfair Display',serif; font-style: italic; font-size: 20px; margin-right: 20px; text-align: right;}
    }
    &__img { width: 70px; min-width: 70px; height: 70px; margin: 0;
        img {object-fit: cover; width: 100%; height: 100%;}
    }
    &__items {display: flex;  flex-wrap: wrap; }
    &__item {width: 45%; padding-right: 50px; display: flex; align-items: flex-start; flex-grow: 1;
        .video__text {margin: 0;}
    }
    &__prev {width: 100%; max-width: 242px; margin-right: 20px;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__little { padding: 40px 0;  background-color: #ffffff;
        .video__text {color: #252525;}
    }
}

.socs {display: flex; justify-content: space-between; margin: 0 -15px; flex-wrap: wrap;
    &__item {margin: 15px; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; cursor: pointer; min-width: 150px; }
    &__img {width: 100px; height: 100px; border-radius: 5px; padding: 5px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
    &__text { color: #252525; margin-top: 15px; }
}

.smi {
    &__form {margin-top: 25px;
        .form-input input {width: 100%;}
        textarea { color: #252525; height: 178px;
            &::-webkit-input-placeholder {color:#858585;}
            &:-moz-placeholder {color:#858585;opacity:1;}
            &::-moz-placeholder {color:#858585;opacity:1;}
            &:-ms-input-placeholder {color:#858585;}
        }
    }
    &__row {display: flex; align-items: center; justify-content: space-between; margin-top: 15px;
        .form-input {margin-right: 10px; width: 190px;}
        .form-input input {margin: 0 0px 0 0;  font-size: 17px; width: 180px; }
        button.button {padding: 0; margin: 0; width: 155px;}
    }
    &__code {width: 155px; height: 54px; min-width: 155px; margin-right: 10px;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
}

.otdel {
    &__head {font-size: 27px; font-weight: 600; margin-top: 60px; margin-bottom: 30px;}
    &__link {font-size: 27px; font-weight: 300;}
}

.kras {
    &__info {
        .content p{margin-bottom: 18px;}
    }
    &__half {display: flex; align-items: stretch; justify-content: center;}
    &__map {padding: 5px;}
    &__how {padding: 40px 0;}
    &__box {display: flex; width: 100%; flex-wrap: wrap;}
    &__col {padding-right: 20px; width: 45%; flex-grow: 1;}
    &__phone {font-size: 27px; font-weight: 400;
        span {margin-bottom: 10px; display: block;}
    }
    &__spravka {  padding: 40px 0;
        p {  margin-bottom: 18px; }
    }
}

.digital {
    &__banner {}
    &__info { padding: 40px 0;
        p {margin-bottom: 18px;}
    }
    &__info {padding: 40px 0;}
    &__pages { padding: 30px 0; }
    &__system { padding: 40px 0 10px;
        .prah__col {
            p {margin-bottom: 18px;}
        }
    }
    &__interest {
        p {margin-bottom: 18px;}
    }
    &__bonuses {
        .about__decimals .stats.small li { position: relative;
            padding: 20px 20px 20px 20px;
            display: flex; align-items: center;
            justify-content:center;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
            &:after {
                position: absolute;
                display: block;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                top: 10px;
                left: 10px; background-color: transparent;
                border: 1px solid #F5F5F5;
                content: ''; border-radius: 50%;
            }
            p {font-weight: 600;}
        }
    }
    &__time {padding: 40px;}
    &__big {font-size: 42px; font-weight: 600; display: flex; align-items: center;
        justify-content:center;}
    &__under {font-size: 32px; font-weight: 400;display: flex; align-items: center;
        justify-content:center}
    &__stores {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start;}
    &__mag { border-radius: 10px; overflow: hidden; width: 160px; min-width: 160px; margin-right: 25px;height: 50px; cursor: pointer; margin-bottom: 15px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }
}

.places {padding: 40px 0 0 0;
    .tabs__content {padding-bottom: 0;}
    .tabs__bodies {margin: 0;width: 100%; padding: 0;}
    &__map { height: 600px;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
}

.squares {
    .box-call {
        p {margin-top: 40px;}
        h2 { position: relative;
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 110px;
                background-color: #DCDCDC;
                position: absolute;
                bottom: -20px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }
    }
    .prah__box {flex-direction: row; align-items: stretch;
        .box-call a {margin-top: 15px; display: block;}
    }
}

.contract { padding: 40px 0;
    &__box {display: flex; }
    &__col {width: 45%; flex-grow: 1; margin: 50px 0 50px 50px; display: flex; align-items: center; justify-content:center;
        &:first-child {border-right: 1px solid #DCDCDC; }
        &--horizontal {flex-wrap: wrap;}
    }
    &__img {margin-bottom: 20px;

    }
    &__link {display: flex; flex-direction: column; color: #000000; font-size: 18px; font-weight: 600; margin: 20px;
        &--horizontal { flex-direction: row; width: 100%; margin: 10px 0; align-items: center; flex-wrap: wrap;
            .contract__img {margin-right: 20px; margin-bottom: 0;  min-width: 75px; min-height: 75px; width: 75px; height: 75px;
                img {width: 100%; height: 100%; object-fit: contain;}
            }
        }
    }
    &__text {margin: 10px 0;}
}

.cemetery {
    &__list {list-style-type: none;}
    &__item {font-size: 17px; margin-bottom: 30px; position: relative; padding-left: 50px;
        &:before { position: absolute; top: 0; left: 0; display: block; content: ''; width: 38px; height: 31px; background-image: url('../images/pointer.png'); }
    }
    &__name {font-weight: 600; font-size: 17px; color: #000000;}
    &__container {padding: 40px 0; background-color: #ffffff;}
}

.complete {padding: 40px 0;
    .ico-arrow-green {}
    .ico-arrow-green:before{background-image:url('../images/_imgs/svg/ico-green-arrow.svg'); width: 14px; height: 14px; }
}

.short {padding: 40px 0;
    p {margin-bottom: 18px;}
}

.padding {padding: 40px 0;}

.get { padding-top: 40px;
    &__places {display: flex; flex-wrap: wrap; padding: 40px 0; }
    &__col {width: 50%; padding-right: 50px;
        p {margin-bottom: 18px;}
    }
    &__maps {
        .kras__map {width: 50%;
            img {width: 100%;}
        }
    }
}

.helper { width: 250px; margin: 10px 0;
    input {display: none;}
    label {display: flex; align-items: center; justify-content: flex-start; position: relative;
        i {width: 24px; height: 24px; background-color: #ffffff; border: 1px solid #B3B3B3; display: block; border-radius: 50%; top: 50%; left: 0;  position: relative; margin-right: 15px;
            &:after { width: 12px; height: 12px; background-color: #4F4C4D; content: ''; position: absolute; border-radius: 50%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); display: none; }
        }
    }
    span {font-weight: normal;}
    input:checked + i{
        &:after {display: block;}
    }
}

.squares-row > div {margin: 15px 0;}
.cemetery__uslugi {padding: 40px 0;
    .a-playfair {font-style: normal; color: #000000; font-family: 'Montserrat', arial, sans-serif;}
    .padding-overall {padding-top: 0;}
}

.columbarium__gallery.fix {
    .new-title {margin-top: 0;}
}

.addpadding {padding-top: 40px;}

@media screen and (max-width: 1480px) {
    .slider-arrow { left: 0; z-index: 100;
        &--next {right: 0; left: auto;}
    }
}


@media screen and (max-width: 1340px) {
    .prah {
        &__box {flex-wrap: wrap;}
        .flexible-width {width: auto; min-width: auto;}
    }
    .digital__system .prah__col {margin-bottom: 25px; }
}

//* {border: 1px solid red;}
@media screen and (max-width: 1280px) {
    nav.head ul li a.nav__cart {padding-left: 45px;
        &:before {    left: 10px;}
    }
    div.article { width: 50%;
        &__box {flex-wrap: wrap;}
    }
}

@media screen and (max-width: 1080px) {
    .global-wrapper {
        nav.head {
            height: auto;
        }
    }
    .article .flexible-width {
        min-width: auto;
    }
    .about__decimals {
        .stats.small span {margin-top: 0;}
    }
    .agent__box .horizontal-block {width: 100%;}
    .digital__pages .tabs__go {justify-content: space-around;}
}

@media screen and (max-width: 1024px) {

    .prah {
        &__col { width: 100%;
            .box {margin-left: 20px; margin-right: 20px; width: calc(100% - 40px);}
        }
    }
    .about__book .image-right {display: none;}
    .about__book .flexible-width {padding-right: 30px !important; min-width: auto;}
    .prah__col:last-child {margin-top: 25px;}
}


@media screen and (max-width: 990px) {
    .global-wrapper {
        nav.head {
            height: 54px;
        }
    }
    nav.head ul li a.nav__cart {padding-left: 20px;
        &:before {display: none;}
    }
    .prah__egg .right-image-block {padding-right: 0 !important;}
}

@media screen and (max-width: 920px) {
    .insurance {
        &__box {flex-wrap: wrap;}
        &__col {width: 50%;}
    }
    .release {
        justify-content: center;
        &__item {width: 50%;}
    }
}


@media screen and (max-width: 800px) {
    .places__map {height: 400px;}
    .digital__banner { display: none;}
    section {
        .flexible-width {
            min-width: auto;
        }
    }
    .desc {flex-wrap: wrap;
        &__col {width: 100%;}
    }
    .article {
        .full-width.banner {display: none;}
    }
    .shop {
        &__firms {flex-wrap: wrap;}
        &__itm {width: 100%; margin: 20px 0;}
    }
    .article { width: 100%;  }
    .agent__col {width: 100%;}
    .agent__new .request-call {padding: 60px 20px;
        .box {margin-bottom: 0;}
    }
    .agent__zakaz { padding: 10px 0;
        .request-call {padding-left: 0; padding-right: 0;}
    }
    .check {width: 100%; padding: 10px;}
    .certificate { justify-content: center; flex-wrap: wrap;
        &__text {width: 100%; padding-top: 25px;}
    }
    .tabs__content .check {width: 90%;}
    .tabs__head:after {width: 100%;}
    .video {
        &__about {flex-wrap: wrap;}
        &__text {width: 100%; margin-bottom: 10px;}
        &__item {width: 100%; margin: 15px 0;}
        &__link {width: 100%; justify-content: flex-end;}
    }
    .press__video {padding-bottom: 40px;}
    .smi__row {flex-wrap: wrap; justify-content:center;}
    .smi__row .form-input {margin: 10px;}
    .smi__row button.button {margin-top: 15px;}
    .press__smi {padding-top: 10px;}
    .kras {
        &__half {flex-wrap: wrap;}
        &__map {width: 100%;}
        &__col {width: 100%;}
    }
    .prah__col:last-child {margin-top: 25px;}
    .shop__complex--simple .horizontal-block {width: 100%;}
    .shop__complex .flexible-width {padding-bottom: 0;}

}
@media screen and (max-width: 640px) {
    .prah {
        &__links {padding: 15px 0;}
        &__link {width: 100%; margin: 10px 15px; text-align: center;}
    }
    .insurance {
        &__col {width: 100%;}
    }
    .contract {
        &__box {flex-wrap: wrap;}
        &__col {width: 100%; margin: 5px; justify-content: flex-start;
            &:first-child {border: none;}
        }
        &__link {margin: 20px; flex-direction: row; align-items: center; }
        &__img {
            margin-right: 20px;
            margin-bottom: 0;
            min-width: 75px;
            min-height: 75px;
            width: 75px;
            height: 75px;
        }
    }
}

@media screen and (max-width: 600px) {
    .h-logo .mobile {display: block !important;}
    .prah {
        &__stats {
            .stats {
                li:nth-child(1) { margin-bottom: 10px; }
            }
        }
    }
    .best__item {width: 100%;}
    .digital__bonuses .about__decimals .stats.small li:nth-child(1) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 420px) {
    .item {width: 100%;
        &__text { }
    }
    .prah__col.center > div{width: 100%;}
    .tabs__tree { background-position-x: 25%; }
    .places__map {height: 290px;}
}

