.columbarium {
  &__map {padding: 40px 0 0;
    .bottom-line:after {width: 269px;}
    .colored h2 {font-size: 32px;}
  }
  &__address {
    a {display: flex; flex-direction: column; padding-bottom: 15px; padding-left: 55px; color: #252525; line-height: 1.5; position: relative;
      span:first-child {font-weight: 600;}
    }
    a:before {position: absolute; content: ''; display: block; width: 31px; height: 30px; left: 0; top: 1px; background-image: url(../images/pointer.png);}
  }
  &__services {padding: 40px 0;
    .new-title {font-size: 32px;}
    .small-image {min-height: 210px; padding-left: 250px;}
    .small-image .img {width: 210px; height: 210px;}
    a {color: #252525;}
  }
  &__board {padding: 80px 0 60px;}
  &__how {
    .content {width: 50%; padding: 40px 15px; margin: 0 -15px;
      b {font-weight: 600;}
      p {margin-bottom: 20px;}
    }
  }
  &__position {
    .colored .image-auto {background-size: auto;}
    .colored > div:nth-child(1) .content {float: none;}
    .new-title {max-width: 640px; margin: 0 0 0 auto; padding: 60px 15px;}
    .new-title--margin {margin: 0 auto 0 0; padding-left: 40px;}
    .padding-overall {padding: 0;}
  }
  &__gallery {
    .new-title {padding-top: 60px; margin: 60px 0;}
  }
  &__slider {margin-bottom: 60px;
    .slick-arrow {display: none!important;}
  }
  &__slide {padding: 0 20px; cursor: pointer;
    img {display: block; width: 100%; height: 100%;}
  }
  .reverse {flex-direction: row-reverse;
    .background-silver {display: flex; padding-left: 20px;}
  }
  .columbarium__detail {font-style: italic; color: #00A048; position:relative;
    &:before {background-image: url(../images/_imgs/svg/ico-green-arrow.svg);
      width: 14px;
      height: 14px;}
  }
  .horizontal-block strong {line-height: 28px;
    span {display: block; font-size: 17px;}
  }
  .prah__box {flex-direction: row-reverse;}
  .box {margin: 0;}
  .prah__list {margin: 25px 0;
    div {padding-bottom: 20px;
      p:first-child {margin-bottom: 20px;}
    }
  }
  .flex-double {display: flex; margin: 0 -40px; padding: 60px 0;
    h2 {width: 50%; padding: 0 40px; margin: 0;}
  }
}

.morgues {
  &__directory {padding: 60px 0;}
}

.image-contain {background-size: contain;}


.order {
  a:hover {
    text-decoration: none;
  }
}

.tabs {
  &__double {
    .cemetery {
      &__list {display: flex; flex-wrap: wrap;}
      &__item {width: 50%; padding-right: 50px;}
    }
  }
}

.tabs__cordon:nth-child(2) .tabs__heads--simple {margin-top: 0;}

@media (max-width: 1080px) {

}
@media (max-width: 800px) {
  .columbarium {
    &__how {
      .content {width: auto;}
    }
    &__services {
      .small-image {
        padding-left: 225px;
      }
    }
    &__position {
      .new-title {margin: 0 auto 0 0;}
      .new-title--margin {padding-left: 15px;}
    }
    .reverse .image-hidden {display: none;}
  }
  .tabs {
    &__double {
      .cemetery {
        &__item {width: 100%;}
      }
    }
  }
}
@media (max-width: 600px) {
  .columbarium {
    &__services {
      .small-image {
        padding-left: 0;
      }
    }
    &__position {
      .colored .image-auto {display: block; background-size: contain;}
    }
  }
}
