.padding-overall-top {
	padding-top: 20px;
}

.button.white{background:transparent;background-color:#fff;color:#008745;}

.list-no-address {
    list-style: none;
    overflow: hidden;
}

.list-no-address li {
    width: 100%;
    margin-right: 0;
}

@media screen and (min-width:1281px){
    .green-line-box.green-line-box-main 
    {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width:1280px){
    .tab-center {
        text-align: center;
    }
}

@media screen and (min-width: 601px) {
    .list-no-address li {
        width: 44%;
    }
}

@media screen and (max-width: 600px) {
    .list-no-address li:first-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    .hidden-mobile {
        display: none !important;
    }    
}

.client-feedback-main {
    margin-bottom: 35px;
}

.feedback-info-main {
    font-style: italic;
    font-weight: 300;
    line-height: 26px;
    font-size: 15px;
    padding-bottom: 15px;
    color: #B3B3B3;
}

.feedback-link-all-main {
    font-size: 15px;
    color: #B3B3B3;
    text-decoration: underline;
}

.link-arrow-gray,
.link-arrow-green,
.link-arrow-white {
    padding: 3px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-arrow-gray {
    background-image: url(../_imgs/link-arrow-gray.svg);
}

.link-arrow-green {
    background-image:url(../_imgs/link-arrow-green.svg);
}

.link-arrow-white {
    background-image:url(../_imgs/link-arrow-white.svg);
}

.media_about_us li{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

.flex h2 + a {
    margin-top: 10px;
}

.main-news {
    margin-top: 20px;
}

.main-news__item {
    margin-bottom: 25px;
}
.main-news__date {
    font-style: italic;
    font-weight: 300;
    line-height: 26px;
    font-size: 15px;
    padding-bottom: 15px;
    color: #B3B3B3;
}

.link_bold_underline {
    font-weight: 600;
    text-decoration: underline;
}

.round_ra_action {
    width: 64px;
    height: 64px;
    float: left;
    background: #E7E7E7;
    border-radius: 50%;
    margin-right: 20px;
}

.link_gruz_200 {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    background: #fff;
}

.default_user_img {
    background: url(../_imgs/user-avatar.png) no-repeat 50% 50%;
    background-size: cover;
}

.client-feedback-mini .userimage{left: 0; top: 10px;}
.client-feedback-mini .client-feedback {border: none; padding: 10px 40px 10px 170px;}

@media screen and (max-width: 600px) {
    .client-feedback-mini .client-feedback {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .copy-url {
        width: 1024px;
    }
}

@media screen and (max-width: 360px) {
    .copyright .social a {
        margin: 10px 5px 0;
    }
}

@media screen and (max-width: 579px) {
    .copyright .social,
    .copyright .phone-number {
        text-align: left;
    }
    .copyright .social a:first-child {
        margin-left: -4px;
    }
}

.nav-expand.flex li {
    margin-right: 0;
}

@media screen and (min-width: 1280px) {
    .nav-expand.flex {
        justify-content: space-between;
    }
}

/* search.page */

input.a-playfair {
    background: none;
    color: #008745;
    cursor: pointer;
    padding: 10px 0 0 0 !important;
    margin: 0 !important;
    display: inline-block !important;
}
.search-input {
	width: 100%;
    height: 64px;
}

@media (min-width: 426px) 
{
	.search-input {
		max-width: 300px;
	}
}

.radio-chr {
    display: none;
}
.radio-chr + label {
    cursor: pointer;
}
.radio-chr:checked + label {
    font-weight: bold;
    color: black;
    background: #E7E7E7;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-block {
    margin: 0 0 50px;
}

.search-block-line {
    border-bottom: 1px solid #DCDCDC;
    padding: 0 0 60px;
}

.alfavit-block {
    margin: 20px 0 0;
}

ul.alfavit {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    display: inline-block;
    width: 100%;
}

@media (max-width: 767px) {
    ul.alfavit {
        justify-content: center;
    }
}

ul.alfavit li {
    width: auto !important;
    padding: 0 4px;
    margin: 4px 0;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #00773d;
    cursor:pointer;
}

.komanda_poster {
    height: 518px;
    background: url('/local/templates/itees_temp/_imgs/komanda_main.jpg') center center no-repeat;
    align-items: center;
    padding-top: 86px;
}

.komanda_poster_caption {
    line-height: 1.5;
    color: #626262;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

@media (max-width: 369px) {
    .komanda_poster_caption {
        font-size: 15px;
    }
}