@charset "utf-8";
body{background-color:#ffffff;font-family:'Montserrat', sans-serif;font-weight:300;color:#252525;font-size:17px;}
@font-face {font-family:'Montserrat';font-display:swap;src:local('Montserrat'),url("../fonts/Montserrat-Thin.woff") format("woff"),url("../fonts/Montserrat-Thin.ttf") format("ttf");font-style:normal;font-weight:100;}
@font-face {font-family:'Montserrat';font-display:swap;src:local('Montserrat'),url("../fonts/Montserrat-Light.woff") format("woff"),url("../fonts/Montserrat-Light.ttf") format("ttf");font-style:normal;font-weight:300;}
@font-face {font-family:'Montserrat';font-display:swap;src:local('Montserrat'),url("../fonts/Montserrat-SemiBold.woff") format("woff"),url("../fonts/Montserrat-SemiBold.ttf") format("ttf");font-style:normal;font-weight:600;}
@font-face {font-family:'Montserrat';font-display:swap;src:local('Montserrat'),url("../fonts/Montserrat-Regular.woff") format("woff"),url("../fonts/Montserrat-Regular.ttf") format("ttf");font-style:normal;font-weight:normal;}
@font-face {font-family:'Montserrat';font-display:swap;src:local('Montserrat'),url("../fonts/Montserrat-Bold.woff") format("woff"),url("../fonts/Montserrat-Bold.ttf") format("ttf");font-style:normal;font-weight:bold;}
@font-face {font-family:'Playfair Display';font-display:swap;src:local('Playfair Display'),url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");font-style:normal;font-weight:normal;}
@font-face {font-family:'Playfair Display';font-display:swap;src:local('Playfair Display'),url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),url("../fonts/PlayfairDisplay-Italic.ttf") format("ttf");font-style:italic;font-weight:normal;}
@font-face {font-family:'Playfair Display';font-display:swap;src:local('Playfair Display'),url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf");font-style:normal;font-weight:bold;}
@font-face {font-family:'Playfair Display';font-display:swap;src:local('Playfair Display'),url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("ttf");font-style:italic;font-weight:bold;}
/*@supports (-ms-accelerator:true){
    body{overflow-x:hidden;}
}
@supports (-ms-ime-align:auto){
    body{overflow-x:hidden;}
}*/
*{box-sizing:border-box;margin:0;padding:0;position:relative;-webkit-tap-highlight-color:rgba(255, 255, 255, 0) !important;-webkit-focus-ring-color:rgba(255, 255, 255, 0) !important;outline:none !important;}
.hamburger-new,nav.head ul li a.touch{display:none;cursor:pointer;}
p{padding:0;margin:0;border:none;line-height:1.5em;}
.onthetop{position:relative;z-index:9998;}
a{text-decoration:none;color:#008745;}
.adaptive-full-width{padding-left:318px;padding-right:318px;}
.silver-bg{background-color:#f5f5f5;}
.center-text {text-align: center;}
i,
.a-playfair{font-family:'Playfair Display',serif;font-weight:300;font-style:italic;}
.a-playfair{font-size:20px;}
//.mobile{display:none !important;}
.silverline{width:100%;height:1px;background-color:#DCDCDC;margin:60px 0;}
.bottom-margin{margin-bottom:40px;}
.full-width-image{background-position:center center;background-size:cover;background-repeat:no-repeat;}
.full-width-image *{color:#fff;}
.full-width-image .description{position:relative;min-height:540px;}
.full-width-image .description > div {width:40%;position:absolute;bottom:60px;}
/* breadcrumbs */

/* title of page */
.h-group{padding-bottom:40px;margin-bottom:40px;}
.bottom-line{padding-bottom:32px;margin-bottom:40px;}
.h-group:after,.bottom-line:after{display:block;content:"";position:absolute;bottom:0;left:0;width:110px;height:1px;background-color:#DCDCDC;}
.h-group h1{color:#000;font-size:36px;}
.h-group h2{font-family:'Playfair Display';color:#4F4C4D;text-transform:initial;font-size:18px;text-align:left;margin-top:20px;font-weight:300;margin-bottom:0;}
/* heading */
h2,
h4{font-family:'Montserrat', sans-serif;font-weight:bold;font-size:32px;line-height:1.5em;}
h2,h5{font-weight:600;}
h2{margin-bottom:30px;}
/* header */
header{display:block;height:100px;width:100%;padding:16px;display:flex;}
header strong{text-transform:uppercase;font-size:16px;font-weight:normal;line-height:23px;}
.h-logo{width:280px;}
.h-phone{width:250px;text-align:right;padding:10px 36px 0 0;border-right:1px solid #e7e7e7;font-size:13.5px;color:#252525;}
.h-phone a{display:inline-block;font-size:23px;margin-bottom:4px;padding-left:20px;}
.h-phone a:before{content:"";display:block;width:14px;height:14px;position:absolute;top:50%;left:0;margin-top:-7px;background:url(../images/_imgs/icons.png) -1277px -7px no-repeat;}
.h-callme{width:190px;text-align:center;}
.h-callme a{font-size:13.5px;color:#252525;font-weight:bold;padding-top:42px;display:block;cursor:pointer;}
.h-callme a:before{content:"";display:block;position:absolute;top:10px;left:50%;width:24px;height:24px;transform:translate(-50%,0);background:url(../images/_imgs/request-call.svg) center center no-repeat;background-size:contain;}
.h-text{width:calc(100% - 280px - 236px - 190px);padding:12px 0 0 12px;}
/* forms */
input{background-color:#f0f0f0;border-radius:10px;padding:12px 20px;margin-right:20px;color:#858585;font-size:17px;border:0;font-weight:300;}
input[type=submit],input[type=button]{border:0;margin:0;padding:4px;}
/* page menu */
nav.head{background:#1F6638;padding:0 3%;position:relative;z-index:10;}
nav.head ul{list-style:none;}
nav.head ul li{display:inline-block;}
nav.head ul li a{display:block;padding:16px 40px;font-size:14px;color:#fff;font-weight:500;cursor:pointer;}
nav.head ul li:hover{background:#125E2C;}
nav.head ul li ul{display:none;position:absolute;background:#F0F0F0;width:250px;border-bottom:2px solid #E7E7E7;}
nav.head ul li:hover ul{display:block;}
nav.head ul li ul li{display:block;}
nav.head ul li ul li:hover{background:#E7E7E7;}
nav.head ul li ul li a{color:#4F4C4D;padding:10px 15px;}
nav.head ul li ul li:hover a{color:#1F6638;}
/* footer */
.footer{background-color:#f5f5f5;}
.footer .contact{height:132px;border-bottom:1px solid #e8e8e8;}
.footer .contact div{position:absolute;top:50%;left:calc(50% - 850px);right:0;margin-right:72px;transform:translate(0px, -50%);}
.logo-openagent{display:block;width:280px;height:65px;background:url('../images/_imgs/logo-openagent-2.png') left center no-repeat;overflow:hidden;color:#000;padding-left:83px;padding-top:16px;font-family:'Georgia';font-size:19px;font-weight:bold;background-size:contain;}
.logo-openagent span, .logo-openagent strong{display:block;font-size:11.5px;font-weight:normal;font-family:'Montserrat', sans-serif;}
.footer .contact .phone{display:inline-block;position:absolute;top:50%;right:0;transform:translate(0,-50%);color:#000;padding-left:30px;font-size:1.2em;}
.footer .contact .phone:before{content:"";display:block;position:absolute;top:50%;left:0;transform:translate(0,-50%);width:10px;height:10px;background:url('../_imgs/icons.png') -552px 0 no-repeat;}
.menu ul{list-style:none;}
.menu > ul{display:flex;justify-content:space-between;padding:60px 0;margin:0 auto;width:85%;}
.menu > ul > li{width:20%;margin-right:20px;}
.menu > ul > li:last-child{margin-right:0px;}
.menu > ul > li li{padding:5px 0 0;}
.menu b{display:block;margin-bottom:6px;font-size:16px;font-weight:600;color:#00572B;}
.menu a{color:#000;font-size:14px;text-decoration:underline;text-decoration-color:rgba(0,135,69,0)}
.menu a:hover{color:#00a048;text-decoration:underline;text-decoration-color:rgba(0,135,69,1)}
.copyright{background-color:#eeeeee;border-top:1px solid #dcdcdc;}
.copyright .copy{position:absolute;top:50%;left:calc(50% - 750px);right:0;margin-right:72px;transform:translate(0px, -50%);font-size:0.8em;}
.copyright a{color:#4f4f4f;}
.copyright .copy span{display:inline-block;position:absolute;top:50%;right:0;font-size:1.2em;transform:translate(0,-50%);}
.copyright .phone{color:#000;font-size:20px;margin-top:14px;display:inline-block;}
.copy-url{width:calc(100% - 800px);}
.copyright .social{width:300px;text-align:right;}
.copyright .phone-number{width:200px;text-align:right;}
.copyright .download{width:300px;text-align:center;}
.copyright .download b{font-weight:normal;}
.app-manual-text{color:#000;margin:100px auto;width:60%;}
.app-manual-text img{border:10px solid #fff;box-shadow:0 0 20px rgba(0, 0, 0, 0.1);margin-top:40px;}
a.apple, a.google, .app-manual{display:inline-block;width:97px;height:32px;background-color:#000;background-image:url('../images/_imgs/download-apple-google.png');background-repeat:no-repeat;background-size:97px auto;margin-top:12px;opacity:.4;overflow:hidden;white-space:nowrap;text-indent:300px;border-radius:5px;}
.app-manual{width:auto;padding:7px 20px;text-align:center;background-color:#008745;color:#fff;font-size:14px;text-indent:0;opacity:1;background-image:none;}
a.apple:hover,
a.google:hover{opacity:1;}
a.apple{background-position:0 2x;}
a.google{background-position:0 -27px;}
.copyright .social a{display:inline-block;width:31px;height:31px;margin:0 10px;background-repeat:no-repeat;background-image:url('../_imgs/icons.png');overflow:hidden;text-indent:100px;opacity:.5;margin-top:10px;transform:scale(.7,.7);}
.copyright .social a:hover{transform:scale(1,1);opacity:1;}
.copyright .social a.vkontakte{background-position:-1051px 0;}
.copyright .social a.facebook{background-position:-1092px 0;}
.copyright .social a.youtube{background-position:-1174px 0;width:44px;}
.copyright .social a.odnoklassniki{background-position:-1228px 0;}
.copyright .social a.instagram{background-position:-1133px 0;}
.copyright .flex-center{font-size:12px;justify-content:space-between;padding:26px 40px;}
/* index page */
#top-slider{background-color:#666;background-position:center bottom;background-repeat:no-repeat;}
#top-slider h2{font-size:36px;line-height:44px;color:#252525;padding-bottom:50px;margin-bottom:50px;}
#top-slider h2:after{content:"";display:block;position:absolute;height:1px;background-color:#fff;bottom:0;left:0;right:0;}
div[class^="slidetext-"]{width:600px;position:absolute;top:0;bottom:0;left:0;background-color:rgba(255, 255, 255, .7);overflow:hidden;text-align:center;padding:124px 60px;font-size:20px;}
.main-content{margin:0 auto;padding:80px 0;line-height:1.5em;color:#252525;font-size:17px;}
.main-content h2,
.no-line,
.h2-bottomline{text-transform:initial;margin-bottom:50px;font-size:32px;}
.h2-why{margin-bottom:72px;}
.main-content h2.line-110,
.h2-bottomline{padding-bottom:50px;}
.main-content h2.line-110:after,
.h2-bottomline:after{display:block;content:"";width:110px;height:1px;background-color:#e0e0e0;position:absolute;left:0;bottom:0;}
#top-slider .main-content{height:650px;padding:0;}
.first-to-do{padding-right:calc(1290px - 850px);}
.agent-image{height:579px;position:absolute;bottom:0;left:calc(50% + ((1290px - 850px)/2));right:0;background:url(../_imgs/mainpage/agent.png) left bottom no-repeat;}
.place-on-cemetery-text{width:630px;margin-right:140px;}
.place-on-cemetery{width:520px;}
.main-content.links-list{display:flex;justify-content:center;}
.main-content.links-list a{display:block;width:25%;height:250px;text-align:center;color:#000;padding-top:188px;border-right:1px solid #e0e0e0;font-weight:600;}
.main-content.links-list a:last-child{border-right:0;}
.main-content.links-list a:before{content:"";width:150px;height:140px;position:absolute;top:16px;left:50%;transform: translate(-50%,0);background-repeat:no-repeat;background-position:center top;background-size:contain;}
.main-content.links-list a.l-grave:before{background-image:url(../_imgs/mainpage/coffin.svg);}
.main-content.links-list a.l-cremation:before{background-image:url(../_imgs/mainpage/urn.svg);}
.main-content.links-list a.l-cargo:before{background-image:url(../_imgs/mainpage/cargo.svg);}
.main-content.links-list a.l-tombstone:before{background-image:url(../_imgs/mainpage/tombstone.svg);}
.green-bg{background-color:#008745;}
.green-bg *{color:#fff;}
.green-bg-right{background: linear-gradient(to right, #ffffff 0%,#ffffff 45%,#008745 45%,#008745 100%);}
.angel-bg{min-height:395px;}
.angel-bg .main-content{width:574px;margin-left:45%;}
.angel-bg .picture{position:absolute;right:55%;left:0;bottom:0;height:503px;background:url(../_imgs/mainpage/angel.png) right 124px bottom no-repeat;}
.align-right-half{width:50%;}
#shop-insurance-credit .flex > div {width:50%;}
#shop-insurance-credit .links{display:block;overflow:hidden;transform:translate(0,50px);}
#shop-insurance-credit .links li{display:block;float:left;width:49%;margin-right:0;height:125px;padding:34px 0 0 64px;}
#shop-insurance-credit .links li a{display:block;font-weight:600;color:#000;font-size:18px;padding-left:102px;}
#shop-insurance-credit .links li:first-child a{padding-left:0;padding-top:170px;}
#shop-insurance-credit .links li:first-child{min-height:250px;border-right:1px solid #e0e0e0;text-align:center;padding-left:20px;padding-right:20px;padding-bottom:20px;}
#shop-insurance-credit .links li a:before{content:"";display:block;position: absolute;left:0;top:50%;transform:translate(0,-50%);width:74px;height:80px;background-size:contain;background-position:center center;background-repeat:no-repeat;}
#shop-insurance-credit .links li:first-child a:before{width:162px;height:140px;left:50%;top:0;transform:translate(-50%,-16px);}
#shop-insurance-credit .links li a.shop:before{background-image:url(../_imgs/mainpage/shop.svg);}
#shop-insurance-credit .links li a.insurance:before{background-image:url(../_imgs/mainpage/insurance.svg);}
#shop-insurance-credit .links li a.credit:before{background-image:url(../_imgs/mainpage/credit.svg);}
.docs-on-table{min-height:640px;background:#f5f5f5 url(../_imgs/mainpage/docs-on-table.png) left calc(50% + 424px) bottom no-repeat;}
.flex{display:flex;}
.white-text{color:#fff;}
.green-line-box{background-color:#fff;width:580px;padding:44px 10px 34px 10px;text-align:center;border:1px solid #008745;margin:20px;box-shadow:0 0 0px 14px #fff, 0 0 0px 18px #008745, 0 0 50px 18px rgba(0, 0, 0, 0.1);float:right;}
.green-line-box .phone-number,
.attention .silver-line-box .phone-number{font-size:36px;color:#000;display:block;margin-top:30px;margin-bottom:10px;}
.green-line-box .silver,
.attention .silver-line-box .silver{font-size:18px;color:#bebebe;}
.silver-line-box{width:520px;padding:40px;text-align:center;border:1px solid #dcdcdc;margin:20px;box-shadow:0 0 0px 14px #fff, 0 0 0px 18px #f0f0f0, 0 0 30px 8px rgba(0, 0, 0, 0.1);}
.silver-line-box b,
.green-line-box b{display:block;font-size:27px;margin-bottom:34px;}
.silver-line-box i{margin-top:34px;display:block;font-size:20px;}
.width-45pr{width:45%;}
.width-55pr{width:55%;}
.width-45pr > div,.width-55pr.left > div {width:496px;float:right;margin:60px 60px 60px 0;}
.width-55pr > div, .width-45pr.right > div{width:630px;margin:60px 0 60px 60px;}
.flex.why-oa{justify-content:space-between;flex-wrap:wrap;}
.flex.why-oa li{margin-right:0;width:271px;margin-bottom:25px;}
.flex.why-oa b{display:block;margin-bottom:10px;font-size:22px;}
.big-green-button.white{background:transparent;background-color:#fff;color:#008745;}
.review-show{width:496px;margin-bottom:40px;font-size:17px;line-height:1.5em;}
.review-show .silver{font-style:italic;font-size:15px;color:#b3b3b3;display:block;margin-bottom:1em;}
.flex li{display:block;margin-right:78px;}
.flex li:last-child{margin-right:0;}
.underline{text-decoration:underline;}
.yandexmap{min-height:436px;}
.our-offices ul{display:flex;flex-wrap:wrap;}
.our-offices li{display:block;width:220px;margin-bottom:20px;font-size:17px;}
.our-offices li b{display:block;margin-bottom:5px;}
.smi-about-oa .width-45pr > div{margin-right:0;width:554px;}
.smi-about-oa iframe{width:552px;height:336px;}
.all-video{color:#b3b3b3;font-size:16px;position:absolute;right:0;top:20px;display:inline-block;}
.all-video span{text-decoration:underline;}
.list-smi,
.list-news{display:flex;overflow:hidden;flex-wrap:wrap;justify-content:left;margin-bottom:34px;}
.list-news{margin-bottom:0;margin-top:-60px;}
.list-smi li{width:30%;margin-right:0;margin-bottom:16px;}
.list-smi li a{font-weight:600;text-decoration:underline;}
.list-news li{font-size:17px;line-height: 1.5;}
.list-news li .date{font-size:15px;font-style:italic;color:#b3b3b3;display:block;margin-bottom:8px;margin-top:20px;}
.attention h2.no-line{margin-bottom:20px;}
.attention{font-size:17px;min-height:367px;line-height:1.5;}
.attention .silver-line-box{background-color:#fff;color:#252525;position:absolute;top:-20px;bottom:-20px;right:20px;width:518px;margin:0;z-index:9996;font-size:17px;padding-left:20px;padding-right:20px;}
.attention .silver-line-box .phone-number{margin-top:10px;}
.attention .silver-line-box b{color:#000;}
.attention .silver-line-box .silver{margin-top:-10px;display:block;}
/* new code GUI */
.right-image-block{padding:80px 450px 80px 0 !important;min-height:450px;}
.left-image-block{padding:80px 0 80px 450px !important;min-height:450px;}
.image-right,.image-left{position:absolute;height:500px;bottom:0;right:0;left:calc(50% + 250px);background-position:left bottom;background-repeat:no-repeat;background-size:auto 100%;}
.image-left{left:0;right:calc(50% + 250px);background-position:right bottom;}
.text-center{text-align:center;}
.font-light{font-weight:300;}
.padding-overall{padding:60px 0;}
.text-green{color:#008745;}
.text-white{color:#fff;}
.text-right{text-align:right;}
.background-green{background-color:#008745;color:#fff;}
.background-green a{color:#fff;}
.background-silver{background-color:#f5f5f5;}
.text-notac{font-weight:100;}
.text-additional{font-size:14px;}
.button{display:inline-block;width:290px;height:64px;background:linear-gradient(79.89deg, #006735 7.82%, #00A048 93.09%);border-radius:50px;color:#fff;transition: all 200ms;text-align:center;font-size:18px;padding-top:20px;border:0;line-height:1.2em;font-weight:400;box-shadow: 0px 4px 12px rgba(0, 135, 69, 0.5);cursor:pointer;max-width: 100%;}
.b-width{width:240px;}
input.button{padding-top:0;}
.button:hover{box-shadow: 0px 0px 0px rgba(0, 135, 69, 1);transform:translate(0,3px);}
.flexible-width{width:1280px;margin:0 auto;    }
textarea{background:#FFFFFF;border:1px solid #D3D3D3;box-sizing:border-box;border-radius:10px;transition: all 200ms;padding:29px;font-size:17px;color:#252525;width:100%;}
.form-input input{width:290px;height:64px;background:#FFFFFF;border:1px solid #D3D3D3;box-sizing:border-box;border-radius:10px;transition: all 200ms;padding-top:29px;color:#252525;margin-bottom:20px;}
.form-input input:focus,
textarea:focus{border:2px solid #00994E;background-color:#fff;}
.form-input input + label{position:absolute;top:50%;left:20px;top:22px;color:#858585;font-size:17px;transition: all 200ms;}
.form-input input:required + label:after{display:inline-block;content:"*";position:absolute;right:-10px;top:-5px;}
.form-input input:focus:required + label:after{right:-5px;}
.form-input input:disabled{background-color:#F0F0F0;color:#C5C5C5;border:1px solid #C5C5C5;}
.form-input.error input{border:2px solid #F29F9F;}
.form-input.error label{color:#F29F9F;}
.form-input.error span{font-size:12px;color:#F29F9F;position:absolute;bottom:4px;left:20px;}
.form-input input:valid + label,
.form-input input:focus + label,
.form-input input:disabled + label,
.form-input.error input + label{top:12px;font-size:12px;}
hr{background-color: #DCDCDC;height:1px;border:0;}
.flex{display:flex;justify-content:space-between;flex-wrap:wrap;}
.flex.two-column > div{width:48%;}
span[class^="ico-"],
a[class^="ico-"]{display:inline-block;padding-left:40px;}
span[class^="ico-"]:before,
a[class^="ico-"]:before{content:"";position:absolute;left:0;top:50%;transform:translate(0,-50%);background-repeat:no-repeat;background-position:center;background-size:contain;}
.ico-addr:before{background-image:url(../_imgs/svg/ico-addr.svg);width:13px;height:16px;}
.ico-phone:before{background-image:url(../_imgs/svg/ico-phone.svg);width:12px;height:12px;}
.ico-email:before{background-image:url(../_imgs/svg/ico-email.svg);width:16px;height:12px;}
.ico-showroom:before{background-image:url(../_imgs/svg/ico-showroom.svg);width:13px;height:17px;}
.ico-arrow-green:before{background-image:url(../_imgs/svg/ico-green-arrow.svg);width:14px;height:14px;}
.ico-arrow-white:before{background-image:url(../_imgs/svg/ico-white-arrow.svg);width:14px;height:14px;}
.a-semibold{font-weight:400;}
.link-icon{height:62px;padding-left:86px;display:inline-block;padding-top:14px;}
.link-icon span{display:block;position:absolute;top:0;left:0;width:62px;height:62px;background-color:#E7E7E7;border-radius:50%;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.full-width{width:100%;padding:40px 0;}
.banner{padding:60px 0;background-position:center center;background-repeat:no-repeat;background-size:cover;min-height:540px;}
.banner > div {height:420px;}
.banner-text{width:50%;position:absolute;bottom:0;}
.blocks3 > div {width:30%;}
.blocks3 strong,
.horizontal-block strong{color:#252525;display:block;margin-bottom:20px;font-size:27px;font-weight:600;line-height:43px;padding-top:20px;}
.blocks3 .image{background-repeat:no-repeat;background-position:center top;background-size:cover;width:100%;height:315px;display:block;}
.horizontal-block{display:block;padding-left:440px;min-height:315px;margin-top:60px;}
.horizontal-block:nth-child(1){margin-top:0;}
.horizontal-block .img{display:block;width:400px;height:315px;position:absolute;top:0;left:0;background-size:cover;background-repeat:no-repeat;background-position:center center;}
.horizontal-block strong{padding-top:0;}
.small-image{min-height:180px;padding-left:220px;}
.small-image .img{width:180px;height:180px;}
.squares-row > div{width:290px;text-align:center;}
.squares-row img{width:290px;height:290px;margin-bottom:20px;}
.colored > div {width:50%;}
.colored .content{width:640px;}
.colored > div:nth-child(1) .content{padding-right:20px;float:right;}
.colored > div:nth-child(2) .content{padding-left:52px;}
.colored .image{background-size:cover;background-repeat:no-repeat;background-position:center center;min-height:420px;}
.colored h2{font-size:27px;}
.list-no-images{list-style:none;overflow:hidden;}
.list-no-images li{display:block;width:30%;margin-right:0;font-size:14px;margin-bottom:30px;}
/*.list-no-images li:nth-child(1),
.list-images li:nth-child(1){margin-bottom:30px;}*/
.list-no-images strong{display:block;font-size:17px;font-weight:600;margin-bottom:14px;line-height:23px;}
.list-images li{margin-right:0;width:50%;min-height:80px;padding-left:110px;padding-top:20px;font-weight:400;}
.list-images .img{display:block;width:80px;height:80px;position:absolute;top:0;left:0;border-radius:50%;border:2px solid #D5D5D5;background-size:cover;background-position:center center;}
.client-feedback{border-top:1px solid #DCDCDC;padding:40px 40px 40px 210px;}
.client-feedback .userimage{width:120px;height:120px;border-radius:50%;background-position:center center;background-size:cover;background-repeat:no-repeat;position:absolute;top:40px;left:40px;border:1px solid #E7E7E7;}
.numbers{color:#B3B3B3;}
.numbers a{display:inline-block;font-size:18px;font-weight:500;height:36px;margin-left:10px;text-align:center;border-radius:18px;padding:7px;}
.numbers a:hover{color:#252525;}
.numbers a:nth-child(1){margin-left:18px;}
.numbers .active{min-width:36px;background-color:#E7E7E7;color:#252525;}
.feedback-info{font-style:italic;font-weight:300;line-height:26px;font-size:15px;margin-bottom:30px;padding-bottom:25px;}
.feedback-info:after{content:"";display:block;position:absolute;left:0;bottom:0;height:1px;width:110px;background-color:#DCDCDC;}
.feedback-text{display:block;height:130px;overflow:hidden;}
.feedback-text:after,
.vacancies .job-description .full-desc:after{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:50px;background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);}
.feedback-text.active{height:auto;}
span.show-full.active + p.feedback-text{height:auto;}
.feedback-text.active:after,
.vacancies .job-description .full-desc.active:after{display:none;}
.show-full{font-style:italic;font-size:15px;color:#008745;cursor:pointer;display:inline-block;margin-top:12px;width:180px;height:20px;}
.show-full:before{content:"Отзыв целиком";display:inline-block;position:absolute;top:0;left:0;border-bottom:1px dashed #B3B3B3;}
.show-full.active:before{content:"Свернуть отзыв";}
.request-call{padding-left:680px;min-height:340px;}
.box{background-color:#fff;margin:60px 0;padding:25px 20px;text-align:center;border:1px solid #dcdcdc;box-shadow: 0 0 0px 14px #fff, 0 0 0px 18px #f0f0f0, 0px 10px 50px rgba(0, 0, 0, 0.3);color:#252525;}
.box .flex{flex-wrap:nowrap;}
.request-call .box{position:absolute;left:0;margin:0;top:50%;transform:translate(0,-50%);z-index:10;}
.box40{padding:40px;}
.box.three-cols .area-1{width:290px;}
.box.three-cols .area-1 .form-input:last-child input{margin-bottom:0;}
.box.three-cols .area-2{width:640px;}
.box.three-cols .area-3{width:240px;padding-top:250px;}
.box.three-cols textarea{height:316px;}
.box.three-cols .select-img{display:block;position:absolute;top:0;right:0;width:240px;padding-top:180px;z-index:9900;}
.select-img span{position:absolute;top:0;left:50%;transform:translate(-50%,0);display:block;width:160px;height:160px;border-radius:50%;background-position:center center;background-repeat:no-repeat;background-size:cover;border:1px solid #E7E7E7;}
.box-call{width:560px;}
.box-call .button{display:block;margin:20px auto 0;}
.box-call .phone{display:block;font-weight:300;font-size:32px;color:#252525;margin:20px auto 40px;}
.box-call .phone:after{content:"";display:block;height:1px;width:110px;background-color:#DCDCDC;position:absolute;bottom:-20px;left:50%;transform:translate(-50%,0);}
.box-call h2{margin-bottom:16px;}
.box-small{width:250px;font-size:14px;line-height:20px;}
.box-small h2{font-size:17px;margin-bottom:16px;}
.box.question{width:700px;}
.box.question .area-1{width:290px;}
.box.question .area-2{width:calc(100% - 310px);}
.box.question textarea{height:232px;}
/* stats */
.stats a{color:#252525;}
.stats{list-style:none;overflow:hidden;padding:10px;}
.stats li{display:block;width:270px;height:270px;background-color:#fff;border-radius:50%;padding-top:86px;text-align:center;margin:0;border:1px solid #F5F5F5;overflow:hidden;box-shadow:0 0 0 10px #fff;}
.stats b{display:block;font-size:32px;margin-bottom:14px;}
.stats.small{padding:5px;}
.stats.small li{width:150px;height:150px;box-shadow:0 0 0 5px #fff;padding-top:40px;font-size:12px;}
.stats.small b{margin-bottom:0;}
.shadow-inset:before{content:"";display:block;position:absolute;top:0;left:0;right:0;height:40px;background:linear-gradient(180deg, #D5D5D5 0%, rgba(213, 213, 213, 0) 84.38%);}
.user-avatar{display:block;width:180px;height:180px;background-color:#fff;background-position:center center;background-repeat:no-repeat;background-size:cover;border-radius:50%;}
.team-leader,.team-agents{list-style:none;padding-top:20px;justify-content:center;}
.team-leader em{margin-bottom:40px;display:block;}
.team-leader em:after{content:"";display:block;position:absolute;bottom:-20px;left:50%;transform:translate(-50%,0);width:110px;height:1px;background-color:#DCDCDC;}
.team-leader .user-avatar{margin:0 auto 20px;}
.team-leader li{margin-right:0;text-align:center;font-size:14px;width:30%;}
.team-agents li{margin: 0 10px 30px 10px;font-size:12px;padding:30px 10px 14px;width:290px;height:400px;color:#fff;text-align:center;background:linear-gradient(329.85deg, #006735 5.67%, #008745 92.88%);border-radius:30px;}
.team-agents li:hover{background:linear-gradient(329.85deg, #007A3F 5.67%, #00994E 92.88%);box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);}
.team-agents .user-avatar{width:160px;height:160px;border:2px solid #fff;margin:0 auto 16px;}
.team-agents em{display:block;margin-bottom:14px;}
.team-agents .num{display:block;font-size:14px;margin-top:40px;}
.team-agents .num:before{content:"";display:block;position:absolute;top:-20px;left:50%;transform:translate(-50%,0);width:110px;height:1px;background-color:#fff;}
.team-agents .num b{display:block;font-size:22px;font-weight:600;margin-top:4px;}
.vacancies {justify-content:left;border-top:1px solid #DCDCDC;padding:40px 30px;}
.vacancies:last-child{padding-bottom:0;}
.vacancies .city{width:180px;font-size:15px;}
.vacancies .city strong{display:block;margin-bottom:12px;}
.vacancies .job-description{width:calc(100% - 180px);}
.vacancies .job-description .full-desc{height:250px;overflow:hidden;}
.vacancies .job-description .full-desc.active{height:auto;}
.vacancies h2{font-weight:300;font-size:27px;padding-bottom:30px;padding-right:300px;margin-bottom:30px;}
.vacancies h2 a{position:absolute;right:0;top:0;}
.vacancies .job-description b{display:block;margin:30px 0;}
.vacancies .job-description b:first-child{margin-top:0;}
.vacancies ol,.vacancies ul{padding-left:20px;}
.vacancies li{margin:12px 0;display:list-item;}
.vacancies h2:after{content:"";display:block;position:absolute;left:0;bottom:0;width:110px;height:1px;background-color:#DCDCDC;}
.vacancies .show-full:before{content:"Показать вакансию";}
.vacancies .show-full.active:before{content:"Закрыть описание";}
/* credit cards */
.payment{list-style:none;display:flex;margin:0;padding:0;flex-wrap:wrap;}
.payment li{margin:0 20px 20px 0;display:block;width:108px;height:68px;background-color:#fff;background-repeat:no-repeat;background-image:url(/_imgs/payment-cc.png);overflow:hidden;white-space:nowrap;text-indent:200px;border-radius:20px;}
.payment li.mastercard{background-position: 0 -68px;}
.payment li.mir{background-position: -108px 0;}
.payment li.twocan{background-position: -108px -68px;}
.payment li.applepay{background-position: -108px -136px;}
.payment li.googlepay{background-position: 0 -136px;}
.payment li.samsungpay{background-position: 0 -202px;}

/* adaptive styles */
@media screen and (max-width:1750px){
    nav.head ul li a{padding:16px 30px;}
}
@media screen and (max-width:1440px){
    nav.head ul li a{padding:16px 20px;}
}
@media screen and (max-width:1366px){
}
@media screen and (max-width:1280px){
    nav.head ul li a{display:block;padding:16px 10px;}
    .flexible-width{width:auto;margin-left:30px;margin-right:30px;min-width:1040px;}
    .box.three-cols .area-2 {width:540px;}
    .box{margin:60px 20px;}
    .colored .content{width:100%;}
    .colored > div:nth-child(1) .content,
    .colored > div:nth-child(2) .content {padding-right:20px;padding-left:20px;float:none;}
    .squares-row img {width:260px;height:260px;}
    .squares-row > div{width:260px;}
    .list-no-images li{width:45%;}
    .stats li{width:230px;height:230px;padding-top:66px;}
    .image-right{left:calc(50% + 200px);}
    .image-left{right:calc(50% + 200px);}
    #shop-insurance-credit .flex > div{width:100%;}
    .green-line-box{float:none;margin:120px auto 0;width:80%;}
}
@media screen and (max-width:1080px){
    .flexible-width,.menu > ul{width:auto;min-width:960px;margin-left:0px;margin-right:0px;padding-left:30px;padding-right:30px;}
    nav.head ul li a{padding:16px 5px;}
    nav.head{height:54px;}
    .menu > ul{flex-wrap:wrap;justify-content:left;}
    .menu > ul > li{width:33%;margin-right:0;}
    .menu > ul > li:nth-child(4),.menu > ul > li:nth-child(5){margin-top:30px;}
    .h-callme{display:none;}
    .h-text{width:calc(100% - 280px - 236px);}
    .h-phone{border:0;}
    .stats{overflow:visible;}
    .stats li {width:200px;height:200px;padding-top:46px;}
    .stats.small li{width:90px;height:90px;overflow:visible;padding-top:32px;margin-bottom:60px;}
    .stats.small b{font-size:22px;}
    .stats.small span{display:block;margin-top:60px;}
    .feedback-send .b-width,.box.three-cols .select-img,.box.three-cols .area-3{width:200px;}
    .box.three-cols .area-1{width:250px;}
    .box.three-cols .area-2{width:calc(100% - 500px);}
    .feedback-send input[type=text],
    .feedback-send input[type=tel],
    .feedback-send input[type=email]{margin-right:0;width:100%;}
    .request-call{padding-left:620px;}
    .squares-row img{width:135px;height:135px;}
    .squares-row > div{text-align:left;width:50%;height:135px;}
    .squares-row > div:first-child{margin-bottom:40px;}
    .squares-row a{display:block;}
    .squares-row > div a:nth-child(2){position: absolute;left:165px;top:50%;transform:translate(0,-50%);}
    .colored > div:nth-child(1) .content {padding-left:30px;}
    .colored > div:nth-child(2) .content {padding-right:30px;}
    .list-no-images li:nth-child(3){margin-bottom:30px}
    .colored .image{background-position:left -200px center;}
    .blocks3 .image{height:236px;}
    .box.question{width:auto;}
    .vacancies .city,
    .vacancies .job-description{width:100%;}
    .vacancies .city strong{display:inline-block;padding-right:20px;margin-right:20px;}
    .vacancies .city strong:after{content:"";display:inline-block;position:absolute;width:14px;height:1px;background-color:#252525;right:0;top:50%;transform:translate(50%,0);}
    .right-image-block{padding:80px 350px 80px 30px !important;}
    .left-image-block{padding:80px 30px 80px 350px !important;}
}
@media screen and (max-width:990px){
    .h-phone{position:absolute;top:100%;right:22px;margin:0;padding:0;width:198px;z-index:9991;transform:translate(0,12px);border-right:none;}
    .h-phone a{color:#fff;}
    .h-phone span{display:none;}
    .hamburger-new{display:block;width:27px;height:20px;position:absolute;left:20px;top:50%;margin-top:-10px;overflow:hidden;color:#fff;border-top:2px solid #fff;border-bottom:2px solid #fff;white-space:nowrap;text-indent:100px;}
    .hamburger-new.active{border:0;}
    .hamburger-new:after,.hamburger-new:before{display:block;content:"";position:absolute;left:0;right:0;top:50%;margin-top:-1px;background-color:#fff;height:2px;}
    .hamburger-new.active:after{transform:rotate(45deg);}
    .hamburger-new.active:before{transform:rotate(-45deg);}
    nav.head ul li a.touch{display:block;}
    nav.head ul li a.hover{display:none;}
    ul.nav-expand{display:none;cursor:pointer;}
    ul.nav-expand.active{display:block;}
    nav.head>ul:after{position:absolute;display:block;content:"";width:2px;background-color:#E7E7E7;top:0;bottom:0;left:50%;margin-left:-1px;}
    nav.head ul{background-color:#F0F0F0;position:absolute;top:54px;left:0;right:0;bottom:0;height:calc(100vh - 154px);}
    nav.head>ul>li{position:initial;}
    nav.head ul li a{color:#4F4C4D;}
    .h-phone a:before{width:16px;height:16px;background:url(../_imgs/icons.png) -1326px -7px no-repeat;margin-top:-8px;}
    nav.head ul li:hover, nav.head ul li ul li:hover{background:#E7E7E7;border-bottom:0;}
    nav.head ul li{width:50%;}
    nav.head ul li a.touch:after{display:block;content:"";position:absolute;top:50%;right:20px;width:10px;height:14px;transform:translate(0,-50%);background:url(../_imgs/icons.png) -1304px -15px no-repeat;}
    nav.head>ul>li:hover a:after{background-position:-1304px -2px}
    nav.head ul li a, nav.head ul li ul li a{padding:15px 20px;}
    nav.head ul li ul{width:50%;left:50%;top:0;}
    nav.head ul li ul li{width:100%;}
    nav.head ul li ul li a:after,
    .h-text{display:none;}
    .h-phone a:before{left:-10px;}
    .full-width-image .description > div{width:80%;}
    .right-image-block,.left-image-block{padding:60px 30px !important;}
    .image-right,.image-left{display:none;}
    .main-content.links-list{flex-wrap:wrap;}
    .main-content.links-list a{width:50%;border:0;}
}
@media screen and (max-width:800px){
    .h-group h1{font-size:28px;}
    .h-group h2{font-size:18px;margin-top:10px;}
    h2,.blocks3 strong,.horizontal-block strong{font-size:22px;line-height:35px;}
    span[class^="ico-arrow-"], a[class^="ico-arrow-"]{padding-left:20px;}
    .squares-row > div a:nth-child(2){left:145px;}
    .a-playfair{font-size:18px;}
    .flexible-width{min-width:750px;}
    .footer .menu{display:none;}
    .list-no-images li{width:33%;}
    .flex.colored{display:block;}
    .colored > div{width:100%;}
    .colored .image{background-position:center center;}
    .payment li{}
    .stats li{width:150px;height:150px;font-size:12px;padding-top:40px;}
    .stats b{font-size:28px;margin-bottom:4px;}
    .stats.small span{margin-top:40px;}
    .box.question .flex{display:block;}
    .box.question .area-1,
    .box.question .area-2,
    .box.question .form-input input{width:100%;}
    .box.question .button{margin-top:30px;}
    .request-call{padding-left:0;}
    .request-call .box{position:initial;transform:none;margin:-30px auto 40px auto;width:auto;}
    .background-green .flexible-width{padding-left:30px;padding-right: 30px;}
    .flex.blocks{display:block;}
    .box-call,.box-small,.box.question{width:auto;}
    .box .flex.feedback-send{flex-wrap:wrap;}
    .box.three-cols .select-img{width:40%;left:0;}
    .box.three-cols .area-1{width:40%;padding-top:240px;}
    .box.three-cols .area-2{width:55%;}
    .box.three-cols .area-3{width:100%;padding-top:30px;text-align:center;}
    .box.three-cols textarea{height:556px;}
    .numbers{margin-bottom:20px;}
    .team-leader{justify-content:space-between;}
    .horizontal-block .img{width:135px;height:135px;margin-top:10px;}
    .horizontal-block{padding-left:165px;}
    .blocks3>div{width:100%;min-height:236px;margin-top:40px;}
    .blocks3>div:first-child{margin-top:0;}
    .blocks3 .image{width:300px;position:absolute;top:0;left:0;}
    .blocks3 p{margin-left:340px;}
    .blocks3 strong{padding-top:0;}
    .flex.two-column > div{width:100%;}
    .flex.two-column > div:nth-child(2n){margin-top:40px;}
    .vacancies .city{font-size:13px;}
    .vacancies h2{font-size:22px;}
    div[class^="slidetext-"]{width:100%;padding:124px 20px;}
}
@media screen and (max-width:600px){
    .mobile{display:block !important;}
    .a-playfair{font-size:20px;line-height:1.5em;}
    .h-logo {width:100%;}
    .logo-openagent{padding-top:6px;width:100%;}
    .logo-openagent span{display:none;}
    .flexible-width{min-width:540px;}
    .banner-text{width:90%;}
    .blocks3 p{margin-left:0px;padding-bottom:40px;}
    .blocks3 > div:last-child p{padding-bottom:0;}
    .blocks3 .image{position:initial;width:auto;height:300px;margin-left:-30px;margin-right:-30px;margin-bottom:40px;}
    .horizontal-block{padding-left:0;}
    .horizontal-block .img{position:initial;margin-bottom:40px;}
    .squares-row > div{width:100%;margin-bottom:40px;}
    .squares-row > div:last-child,
    .team-leader li:last-child{margin-bottom:0;}
    .team-leader li{width:100%;margin-bottom:60px;}
    .team-agents li{width:100%;height:auto;}
    .team-agents .user-avatar{width:100px;height:100px;position:absolute;left:20px;}
    .team-agents p{text-align:left;margin-left:130px;padding-top:6px;}
    .team-agents .num:before{transform:translate(0,0);left:0;right:0;width:auto;background-color:#008745;top:-10px;}
    .team-agents .num{margin-top:30px;}
    .team-agents .num b{display:inline-block;margin-left:10px;}
    .stats li{width:40vw;height:40vw;padding-top:12vw;}
    .stats li:nth-child(1){margin-bottom:40px;}
    .stats.small li{width:25vw;height:25vw;padding-top:10vw;}
    .stats.small span {margin-top:13vw;}
    .stats.small li:nth-child(1){margin-bottom:16vw;}
    .colored .image{display:none;}
    .client-feedback .userimage{width:60px;height:60px;left:0px;top:30px;}
    .feedback-info{line-height:19px;font-size:13px;}
    .client-feedback{padding-left:0;padding-top:30px;}
    .feedback-info{padding-left:90px;}
    .list-no-images li {width:45%;}
    .vacancies{padding:40px 0;}
    .vacancies h2{padding-right:0;}
    .vacancies h2 a{position:relative;margin-top:18px;}
    .green-line-box{box-shadow:none;width:100%;}
    #shop-insurance-credit .links li{padding:34px 0;width:100%;text-align:center;}
    #shop-insurance-credit .links li a{display:inline-block;text-align:left;}
    #shop-insurance-credit .links li:first-child{width:100%;border:0;}
}
@media screen and (max-width:480px){
    .flexible-width{min-width:100%;}
    .flexible-width, .menu > ul{padding-left:20px;padding-right:20px;}
    .stats li{width:35vw;height:35vw;padding-top:9vw;}
    .stats.small li:nth-child(1) {margin-bottom:20vw;}
    .box.three-cols .area-1,.box.three-cols .area-2{width:100%;}
    .box.three-cols .select-img{left:50%;transform:translate(-50%,0);}
    .box.three-cols textarea{margin-top:20px;width:100%;height:300px;}
}
